[2017-03-08 17:41] michaeltlombardi opened #1 "Documentation Transition"
This project's documentation is somewhat limited and spread across a few markdown files and the wiki. I suggest you migrate towards a documentation solution using either [MkDocs](http://www.mkdocs.org/) or [GitBook](https://toolchain.gitbook.com/).

## Expected Behavior
Users should be able to access a documentation site for the project which includes tutorials, design explanations/concept guides,

[2017-03-08 17:43] michaeltlombardi commented on #1
I'm 100% willing to do a first dry run or mockup of what both gitbook and mkdocs would look like for this project and submit PRs for both so you can review. Of course, if you go in either direction, I'll work to ensure that there are sane tests for documentation as well as ensure that the documentation is included in CI.

[2017-03-08 17:59] michaeltlombardi opened #2 "CHANGELOG"
This project has a changelog but it is empty.

## Expected Behavior
Users and developers should be able to review a changelog for this project which adheres to the [keepachangelog format](http://keepachangelog.com/en/0.3.0/) and thus meets the following criteria:

## Current Behavior
The project has an empty changelog file.

## Possible Solution
Use the [keepachangelog format](http://keepachangelo

[2017-03-08 18:00] michaeltlombardi commented on #2
I'm willing to update the changelog with the skeleton of the format and work with you to ensure we capture changes/updates for future releases/versions.

[2017-03-09 00:18] devblackops commented on #2
100% agree with keeping the changlog. It's empty right now because the project has been in active development and core pieces have changed drastically in the last few months. Expect the changelog to be similar to the one in my [NetScaler](https://github.com/devblackops/NetScaler/blob/dev/CHANGELOG.md) project.

Now that it's settled down, the changelog can start to be maintained.

[2017-03-09 04:34] devblackops commented on #2
A skeleton of a changelog has been setup according to the [keepachangelog](http://keepachangelog.com/en/0.3.0/) format.

[2017-03-09 04:34] #2 closed

[2017-03-09 06:48] devblackops commented on #1
I took an initial stab at setting up a ReadTheDocs site [here](http://poshbot.readthedocs.io/en/latest/) and created the documentation layout. Most of the pages are stubs at this point.

I'm not married to the topic structure so if you have any ideas on a better layout or extra topics to include we can experiment with them.

I also did a quick copy/paste of the comment-based help for the publicly

[2017-03-15 04:26] devblackops opened #4 "Command exception when installing a plugin"
## Expected Behavior
The plugin (module) is installed without error

## Current Behavior
When running `!install-plugin --name <pluginname>`, the command throws the exception below. This **appears** to be an innocuous error as the plugin is installed fine. Running `!get-plugin --plugin <pluginname>` shows the newly installed plugin and executing the plugin commands work correctly.

##### Command Ex

[2017-03-15 05:04] devblackops opened #5 "Add builtin command to create a new permission and associate with existing commands"
## Expected Behavior
New builtin commands should be added to create permissions and to associate those permissions to existing commands.

## Current Behavior
These commands do not exist

## Possible Solution

### Proposed commands

Create a new permission associated with a plugin
[code]

Associate a permission with a plugin command
[code]

The current plugin and permission state that is saved to l

[2017-03-15 14:31] joshuatee commented on #5
How about a default "Everyone" group that gets populated with new users joining a team/channel?

[2017-03-15 17:32] devblackops commented on #5
By not specifying a permission on a command, that command is available to everyone. Would there be a need for an `Everyone` group is that case?

[2017-03-15 20:13] joshuatee commented on #5
I guess it was a silly idea. I was trying to figure out how to provide help only for the commands in my module while using the builtin 'help' command.

[2017-03-16 05:02] devblackops commented on #5
Not silly at all. This project is in it's early stages and most of the documentation has yet to be written. If anything is unclear it helps to have it called out so it can be prioritized.

The `help` command should list all commands for all loaded plugins. All exported functions from any vanilla PowerShell module loaded into PoshBot should show up in `help` automatically and since those plugins (P

[2017-03-16 06:11] devblackops commented on #4
This looks to be related to this: http://stackoverflow.com/questions/25314741/stop-execution-of-cmdlet-in-processrecord.

`Select-Object -First $n` throws a non-public exception called **StopUpstreamCommandsException**.

That is by design as that is how `Select-Object -First $n` can stop the pipeline when `$n` is reached. I was using `Select-Object -First 1` to grab the first instance of `Get-Modu

[2017-03-16 06:42] devblackops opened #7 "Inconsistent parameter names for builtin commands"
## Expected Behavior
Parameter names are consistent

## Current Behavior
Parameter names in the builtin commands are not consistent with each other.
For instance, `Install-Plugin` uses `-Plugin` to reference the plugin to install and `Get-Role` using `-Role` to reference the role to get. In both cases they should use `-Name` which is the PowerShell convention.

## Possible Solution
Rename all para

[2017-03-16 16:11] michaeltlombardi commented on #4
That looks like a pretty good solution! We're referencing [these changes](https://github.com/devblackops/PoshBot/commit/6b0c007f5abbdeb66f722c239806c076f5db8a43) correct?

Should this be closed by those updates and mention made in one of the developer-documentation guides?

[2017-03-16 16:16] michaeltlombardi commented on #7
I can work on this. Should we alias the parameters for now or just accept it as a pre `1.0.0` breaking change?

[2017-03-16 19:34] devblackops commented on #7
At this point I think we can make a breaking change. This hasn't been published to the PSGallery yet. Once that is done, we should be more diligent about change stuff like this. Thanks for grabbing this!

[2017-03-16 20:56] michaeltlombardi commented on #7
I'll start digging in!

Also, per [Semantic Versioning](http://semver.org/#spec-item-4), the api/project is not considered 'stable' until `1.0.0` - so even though this is a breaking change, it'd be marked as a `minor` bump instead of a `major`.

[2017-03-16 21:43] michaeltlombardi opened #10 "Standard Way to Create Plugins and Advertise on the Gallery"
It would be useful to have a standard way to search the gallery for plugins written with PoshBot in mind and which leverage the roles/permissions/other models used by it.

## Expected Behavior
As a naive user, I should be able to search the PSGallery for PoshBot-related modules. Even better would be a way to use PoshBot to search the gallery for plugins.

## Current Behavior
I either have to know

[2017-03-16 23:31] devblackops commented on #10
I'm thinking `PoshBot.<PluginName>` would be good convention. Bonus points for adding a `PoshBot` tag in the module manifest for easy searching.

`.` seems to be the leader in the separation character wars, at least on the PSGallery.

[code]

A while back I setup a separate [GitHub org](https://github.com/poshbotio) with the intention of moving the project over there and perhaps hosting a GH pages

[2017-03-17 04:24] #7 closed

[2017-03-17 14:54] michaeltlombardi commented on #10
I think `PoshBot.<PluginName>` is probably for the best, too - the `-` is more often used as a verb-noun separator, even in module names (eg, `Invoke-Parallel`, `Invoke-Build`, etc).

Starting with a doc page is probably easiest, especially since there are no other modules on the gallery for PoshBot yet.

I can take a look at the code for plugins and add the automatic removal of `Poshbot.` from th

[2017-03-17 17:51] michaeltlombardi opened #11 "New Builtin Function: Update-Plugin"
Users should be able to run a command to update one or more plugins used by the bot.

## Expected Behavior
Users should have access to a builtin command, `Update-Plugin`, which can update one plugin, several plugins, or all plugins to their latest versions and reload those plugins after the update. It should be able to update to the latest locally available version as well as search remote PowerSh

[2017-03-18 17:13] devblackops commented on #11
Sounds like a great idea.

We should come up with the usage combinations like:

[code]

[code]

[code]

[code]

etc..

[2017-03-18 17:17] devblackops commented on #4
This can probably be closed but another issue that mentions the larger problem should be created. I'd like to squash the problem as I think it it could be a cause of frequent issues going forward as people write perfectly valid plugins and come up against this.

[2017-03-18 20:42] joshuatee opened #12 "Remove the "environment variable SLACK_TOKEN" mentions"
It seems $env:SLACK_TOKEN is not needed.

## Expected Behavior
None

## Current Behavior
$env:SLACK_TOKEN is mentioned in the 'Quickstart' section of README.MD and in the comments of 'test.ps1'

## Possible Solution
*Remove the 'Quickstart' ref
*delete 'test.ps1'
*if any, move missing relevant comments to 'Quickstart' and or help/docs

[2017-03-18 22:51] joshuatee commented on #4
now it throws

**Command Exception**

`A parameter cannot be found that matches parameter name 'Plugin'.`

also, I guess, to update a plugin now, one has to restart PB, right?

without a doubt :D

[2017-03-19 05:39] #12 closed

[2017-03-19 06:00] devblackops opened #14 "New function to create a scheduled task to run PoshBot in the background"
## Expected Behavior
PoshBot should be able to run in the background

## Current Behavior
No function exists. The user is left to their own devices to get PoshBot running in the background.

## Possible Solution
Add new function to create a scheduled task that runs a small entry point script to load the PoshBot configuration file and start PoshBot.

## Context
Allow PoshBot to be running in the ba

[2017-03-19 06:25] #14 closed

[2017-03-19 07:07] joshuatee opened #15 "a n00b's corner"
what went wrong?

[code]
I tend to get those 'xxx values of type xxx' way too often

[2017-03-20 03:48] devblackops commented on #15
Try:

[code]

The `-BackendConfiguration` parameter of `New-PoshBotConfiguration` takes a `[hashtable]`.

The actual backend object is used when you create a instance of the bot with `New-PoshBotInstance`. Note that when you create a brand new config with `New-PoshBotConfiguration`, you need to make sure to add your Slack handle to BotAdmins otherwise you won't be able to run any of the builtin pl

[2017-03-21 03:53] devblackops commented on #15
@joshuatee Let me know if the example above worked for you. I corrected the readme as it was giving an example that would produce this error.

[2017-03-21 04:00] devblackops opened #16 "Shipit?"
I have a question for those of you you have been testing this module. Have you run into any **glaring** bugs that would cause you to hesitate publishing on the [PowerShell Gallery](https://www.powershellgallery.com/)?

Other than some missing documentation (which will be corrected) I feel this is ready to ship as **v1.0** but would be curious what others think.

[2017-03-21 14:42] michaeltlombardi commented on #16
I would ship as 0.X.0 for now, but definitely ship - I don't think we're at 1.0.0 until after we have the `Update-Plugin` command / we standardize and move forward on the plugin naming/discovery/etc, but I don't see a good reason _not_ to publish - it's totally okay to publish the beta version and iterate quickly.

If the value is in shipping and getting more/faster feedback, we should do that. I'

[2017-03-21 23:31] devblackops commented on #16
I like that approach. I'll change the version to `0.1.0` and :shipit:

[2017-03-22 05:15] devblackops opened #17 "Moving project to PoshBotIO organization"
I created a new GitHub organization [PoshBotIO](https://github.com/poshbotio) to hold all the related PoshBot projects. I intend to move this project into that organization in the next few days. While this **shouldn't** cause any problems, I figured I'd raise this issue to notify everyone.

## What you need to do
After I transfer the project, your `git remote` links **should** still work and redir

[2017-03-23 04:17] devblackops commented on #17
OK. I got antsy 😄

The project has been moved to https://github.com/poshbotio/PoshBot.git

Please run:

[code]

[2017-03-23 16:40] devblackops opened #18 "Error when installing modules from PSGallery when the module has a dependency on PoshBot"
## Expected Behavior
Modules are installed without error.

## Current Behavior
When installing a module from the PSGallery that itself has a dependency on PoshBot. PowerShell will throw the error below:

[code]

This is probably because PoshBot has a dependency on `Configuration` so it is already loaded in the running instance of PoshBot. When PoshBot attempts to install a module that depends on P

[2017-03-24 06:35] devblackops commented on #16
shipped :)

[2017-03-24 06:35] #16 closed

[2017-03-24 06:36] devblackops commented on #15
This issues looks to me corrected. Let me know if that is incorrect @joshuatee

[2017-03-24 06:36] #15 closed

[2017-03-24 06:36] #17 closed

[2017-03-24 15:55] #18 closed

[2017-03-25 06:14] devblackops commented on #11
FYI... I just added a related command `Find-Plugin` in 42d3ce35ead2cee42333c3b345270215e9e1dd88 that partially addresses #10 to search the configured PowerShell repository for modules with the `PoshBot` tag and optionally a name.

[2017-03-26 22:44] michaeltlombardi opened #20 "Psake Requires Admin Rights"
When trying to run Psake build locally, it errors out during the init task due to not having admin rights. It may also error out when resolving modules in the `build.ps1` if the specified modules are not the latest available on the gallery.

## Expected Behavior
Psake tasks should be able to run with normal user privileges and gracefully alert / give option to install if module versions are outdat

[2017-03-26 23:02] michaeltlombardi opened #21 "Psake CreateMarkdownHelp Fails Because the Module Isn't Loaded"
When running psake as administrator to create markdown help files, the build script errors out because it never imports the PoshBot module.

## Expected Behavior
When running the `CreateMarkdownHelp` task via the build script, it should automatically import the version of PoshBot available in the project root and export the function comment-based help.

## Current Behavior
The build script errors

[2017-03-26 23:45] michaeltlombardi commented on #21
It looks like this might actually be related to PowerShell/PlatyPS#218

I am able to execute manually in the commandline without issues, but getting it to work in the build seems tricky. Investigating.

[2017-03-27 00:01] michaeltlombardi commented on #21
It looks like it's necessary to import the module into the global scope; doing so fixes the build for reasons I don't (yet) understand.

## Doesn't Work
[code]

## Works
[code]

[2017-04-05 03:52] devblackops commented on #20
I've made some major changes to the build process in PR #22. One of those changes is only installing dependent modules in CurrentUser scope.

[2017-04-07 05:36] #5 closed

[2017-04-11 04:17] #20 closed

[2017-04-11 04:19] #21 closed

[2017-04-14 17:09] megamorf commented on #11
How would you handle a rollback if a new module version is faulty? Just speaking from experience, someone will introduce an error sooner or later and one will need to revert to the previous version of the affected module.

[2017-04-14 19:05] devblackops commented on #11
So right now it will load multiple versions of a plugin with:

[code]

It will only execute the command from the latest version of the plugin right now but my thinking was that if you fully qualify the command with `!pluginname:commandname:version` you could then execute a specific version of the command. You can also disable plugins but I don't believe that works with multiple versions. Perhaps t

[2017-04-14 23:26] megamorf opened #23 "New-PoshBotInstance throws error on Nanoserver"
## Expected Behavior
Be able to create poshbot instance with `New-PoshBotInstance` function on NanoServer (in docker container)

## Current Behavior
Throws runtime expection due to a null value in the `if ($_.TypeId.ToString() -eq 'PoshBot.BotCommand') {`check.

See detailed error info below

<details>

[code]
</details>

## Possible Solution
None.

## Steps to Reproduce (for bugs)
1. Install-Modu

[2017-04-15 08:21] megamorf commented on #23
This has fixed this issue. I can successfully create an PoshBot instance now. But I get an enumeration error now when starting the bot. I'll create a new issue for that.

[2017-04-15 08:21] #23 closed

[2017-04-15 08:44] megamorf opened #24 "GetEnumeration error when starting bot instance on NanoServer"
## Expected Behavior
Bot starts when you run `$bot.start()` on NanoServer.

## Current Behavior

Bot start is interrupted by GetEnumerator error on NanoServer.

[code]

## Possible Solution

None.

## Steps to Reproduce (for bugs)

1. Install-Module -Name PoshBot -Repository PSGallery
2. Generate new config with New-PoshBotConfiguration and save to file with Save-PoshBotConfiguration:
[code]
3. Fo

[2017-04-15 16:13] devblackops commented on #23
Yep. I saw this last night but it was late and my brain was done 😀

I imagine there will be few of these bugs cropping up in Nano.

[2017-04-15 21:06] adammillerio opened #26 "Cmdlet Import-PowershellDataFile not found and other issues on PowerShell version 5.0.10240.1746"
When attempting to run PoshBot on a Windows machine with PowerShell version 5.0.10240.1746, it fails to run, saying that it cannot find the cmdlet Import-PowerShellDataFile. After including a function that provides similar functionality as Import-PowerShellDataFile (mapping a psd1 file to a hashtable), I get a different error after the bot receives a message.

## Expected Behavior
The bot starts a

[2017-04-15 21:10] adammillere commented on #24
In trying to fix my issue (#26) I had a similar error arise when trying to run PoshBot using the latest PowerShell available from their GitHub:

[code]

Looks like at least in my case, it is because that version of PowerShell is using .NET Core, which is more stripped down than what ships with full Windows. This is likely a similar issue with yours, as Nano Server probably ships with .NET Core.

[2017-04-15 21:23] megamorf commented on #24
Yeah, the missing color class error of PSSlack broke my docker build on NanoServer so I had to fix it with by changing the ErrorActionPreference prior to importing PoshBot:

[code]

[2017-04-15 21:33] devblackops commented on #24
@megamorf I'm hacking away at some of these bugs in Nano. I squash one, another appears ☹️

It may be a bit before this is fully working on Nano. Have you tried it on Windows 2012R2\2016 or Windows 10? Does it work for you?

[2017-04-16 00:30] devblackops commented on #24
Aside from the PSSlack issue, I *think* the Nano Server issues are fixed. I'll try to do some more testing tonight and commit my changes.

[2017-04-18 06:43] devblackops commented on #24
@megamorf I have published a Docker image of v0.2.2 [here](https://hub.docker.com/r/poshbotio/poshbot-nano-slack/). It's also been published to [PSGallery](https://www.powershellgallery.com/packages/PoshBot/0.2.2).

Can you try running the following?

[code]

[2017-04-18 08:53] megamorf commented on #24
@devblackops hey, thanks for that :+1: . I'll check it out some time this week.

[2017-04-19 07:45] megamorf opened #28 "Create Mattermost backend"
We use Mattermost (an open source slack alternative) in our company and since it tries to be API-compatible with slack the work on the backend should be manageable.

Can we have a chat on Gitter/slack to discuss the technical implementation of the current slack backend?

Thanks in advance ;-)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.

[2017-04-19 13:44] michaeltlombardi commented on #28
@megamorf, hit me up and I'll get you added to the DevOpsLibrary slack where some/a lot of this takes place. 😄

Also, we're keeping an eye on mattermost here and I'm reasonably sure I can contribute to this issue.

[2017-04-19 19:49] devblackops commented on #28
This sounds like an awesome idea!

I've tested breaking out the backends into separate PS modules so I think we should go that route for this one. I'll create an example repo for what a backend should look like.

[2017-04-22 00:29] RamblingCookieMonster commented on #10
Hiyo!

Question for you!  So... gallery is awesome, but for those of us who (1) might not have an internal package manager with nuget support (wat.  I know.), or (2) want to test or pull things directly from GitHub or git, it might be worth considering adding other plugin sources?

I think either way works.  Folks can pre-stage modules as needed, or use some other method to pull them in to a spot

[2017-04-22 06:33] devblackops commented on #10
Hi @RamblingCookieMonster!

So were you thinking of something like this?

[code]

That could `git clone` the repo and look for a module manifest file named `NameIT.psd1` at the root. This would work for those that like to have the module at the root of the repo.

You could also specify a subfolder with the `//` method similar to how Terraform does it [here](https://www.terraform.io/docs/modules/so

[2017-04-23 17:03] RamblingCookieMonster commented on #10
Agreed, would probably add too much complexity.  Realistically, folks should be able to pick this up offline, or could write a poshbot plugin specifically built for this rather than trying to shoehorn this.

Cheers!

[2017-04-23 17:05] michaeltlombardi commented on #10
So, I like this idea, but it also adds another level of complexity / installs PowerShell modules into a (probably) non-obvious location on disk.

This does make me wonder if this type of functionality should exist in `*-Module` though, for PowerShellGet.

[2017-04-25 19:22] RamblingCookieMonster opened #29 "Potential feature: Allow mechanism for aliasing commands"
It appears we can currently specify one `CommandName` in a PoshBot attribute.  It might be helpful to allow specifying an array, to allow some alias-esque system, or any other means to allow an author to map multiple poshbot command names to a single actual command.

Example:  I might have Get-ADUser as the `CommandName`, with a shortcut `gu` or `qu` that would end up invoking the same PowerShell

[2017-04-26 00:50] RamblingCookieMonster opened #30 "Potential feature: Stateful data"
Not sure if this makes sense…. but have you considered something like `Get-PoshBotStatefulData` and `Set-PoshBotStatefulData`?

This would allow workflows like… prompting for more input, prompting for confirmation, and any other stateful needs, without junking up the user’s environment.  I think.

You might include a `Scope` parameter, or some other privacy filter - some authors may write data tha

[2017-04-30 03:53] RamblingCookieMonster commented on #30
Turns out I have less free time than I realized : )

Happy to play with this!  A few quick questions on direction:

* Would it make sense to write this as a function (vs. class), similar to `New-PoshBotCardResponse`, making it a bit more PowerShell-y for end users writing PoshBot modules?

* Do you have a preference on data format?  I'm leaning clixml, at least initially.

Lastly... a quick though

[2017-04-30 06:34] devblackops commented on #30
I like it!

Just a normal public function is probably appropriate for this. No need to make the plugin author use a class.

I don't have a strong preference on format. Clixml will probably take of the _fun_ stuff with types and whatnot at the expense of not really being human readable. Do we care though?

The `Configuration` module is already being used internally so bot settings like loaded plugi

[2017-05-02 01:09] RamblingCookieMonster commented on #30
Alrighty, silly question!

Is there a simple way to identify the plugin calling this function?  It would introduce constraints on code, but could always look at module of current command, with assumption that...

* (1) it might not work if folks are writing functions in functions, or something else that might mess with scope, and
* (2), would add provision to explicitly specify a plugin (e.g. if I

[2017-05-02 05:20] devblackops commented on #30
I just commited c6da83740cb15a0cffdc35165c465285fabafc70 which should help with this.

Inside the PowerShell job where the command is executed, I'm setting `$global:PoshBotContext` with information about how the command got executed. This object includes:

| Name| Type | Description |
|:-------|:------|:-------------|
Plugin|[string]|The plugin name
Command|[string]|The command name
Tokens|[string

[2017-05-02 05:30] devblackops commented on #29
Just added support for this in c6da83740cb15a0cffdc35165c465285fabafc70

Any item in the `CommandName` property of the `PoshBot.BotCommand` attribute will be added as an alias for the command. In the example below, `!get-foo`, `!foo`, and `!asdf` should execute the command.

I also fixed a bug where specified multiple permissions on a command didn't work. After reading [this](https://msdn.microsof

[2017-05-03 03:03] RamblingCookieMonster commented on #30
Perfect!  Exactly what this would need.  With this, completely agree, no need to allow one module to change another module's stateful data, as you said, global works for that.  Thanks!

[2017-05-03 06:16] devblackops commented on #28
@michaeltlombardi @megamorf Here is an example repo for what a backend should look like. I tried to make it clear what each class/method does but let me know if anything doesn't make sense.

https://github.com/poshbotio/PoshBot.Example.Backend

Cheers

[2017-05-05 01:54] RamblingCookieMonster commented on #29
That works!  But - side effect is a change to help:

previous output:

[code]

New output:

[code]

Not sure if I'm the only one or if this is expected, but I'm using dummy function names that tell me what they are, exposing aliases that could be shorthand (i.e. I'm not going to overload the real get-aduser)

So!  That said... how should the help output look, if there is more than one alias?  Pick

[2017-05-05 03:35] devblackops commented on #29
So internally, each alias for a command is added as an additional `Trigger` on the command. PoshBot will traverse each command in every loaded plugin and run the [TriggerMatch()](https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Classes/Command.ps1#L155) method to see if that command has a trigger that matches the parsed command. If so, that command is executed.

The command is stored still

[2017-05-07 00:31] RamblingCookieMonster commented on #24
You could suppress the [PSSlack warning](https://github.com/RamblingCookieMonster/PSSlack/blob/master/PSSlack/PSSlack.psm1#L18) when importing if desired.  I think I'll kill that warning shortly, just need to make sure to document that bit in the readme/about.

Cheers!

[2017-05-07 17:22] RamblingCookieMonster commented on #30
Anywhere in particular to throw tests for this?  One file per function/noun/all-of-the-functions?

[2017-05-07 20:39] devblackops commented on #30
How about in /Tests/Unit/Public. One file per function. I'll add tests for the other public functions there and reorganize the existing tests to follow the structure I have in my [NetScaler](https://github.com/devblackops/NetScaler/tree/master/Tests) project.

I really need to come up with some proper tests for the classes. Add to the TODO list 😄

[2017-05-07 20:51] devblackops commented on #29
I think I have a good solution for this in commit 9ed8396d1960b2e4c59d39bb38e97b8050737ec1 in the `feat/command-aliases` branch.

Usage would be:

[code]

The command will be known in PoshBot as `foo` with additional triggers added for `asdf` and `qwerty`.

Calling the command by any of these should work. If the plugin name for this command was `MyPlugin`, using the fully qualified name (including

[2017-05-08 00:54] RamblingCookieMonster opened #32 "Constrained runtime for commands"
I'm quite comfort with the current implementation.

Down the road, if this grows, it might be fun and potentially helpful for folks with a different risk appetite to do something like... dynamically constrain each runspace that a command runs in.  Available functions, variables, etc.  For the paranoid.

Might not even be worth the effort, just brainstorming!

[2017-05-08 01:00] RamblingCookieMonster opened #33 "Consider enabling comma separated parameter values"
It might be worth extending the input parser to allow comma separated array input.

Many of the commands I'm writing follow a pattern of picking a set of common default properties to return, while allowing the user to specify an array of properties (passed to select-object, thus allowing wildcards and other fun)

As is, I'm using string input, no spaces, comma separated, and splitting on comma - n

[2017-05-08 03:49] RamblingCookieMonster opened #34 "Consider documenting build process for contributors"
It might be helpful to have a simple _how to make changes, test/build locally_ doc

Not super complex, but this delayed me for a bit - every time I had a few spare minutes to work 'oh! gotta figure out how to run the build to actually produce a module we can import.'  This might slow things down for contributors or scare off folks who have something to contribute but aren't quite familiar with the

[2017-05-08 03:53] RamblingCookieMonster opened #35 "Consider documenting how to use NSSM to run PoshBot as a service"
Getting up and running with PoshBot interactively is quite straightforward, and covered by existing docs.  Some folks may find it helpful to have a short doc explaining how you could use a tool like nssm to service-ize PoshBot.

Side note: Docker is a helpful alternative, but not everyone will have that option

Again, happy to take a stab at this if you think it would be worthwhile!

[2017-05-08 04:43] devblackops commented on #33
We definitely need this. When I wrote the [CommandParser](https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Classes/CommandParser.ps1#L16) class I was aware that passing an array to a parameter was not going to work but I put it off for another day. Hopefully we can get this working soon.

[2017-05-08 04:57] devblackops commented on #35
Good idea @RamblingCookieMonster. If you want take a stab on a doc for using NSSM that would be awesome.

FYI, I do have the command `New-PoshBotScheduledTask` which will create a scheduled task to run the `StartPoshBot.ps1` script in the `Tasks` folder of the module. It's not the most elegant solution but is an alternative as well.

[2017-05-08 06:31] devblackops commented on #33
Just found this handy module that may help with determining the parsing logic using the AST.

https://github.com/lzybkr/ShowPSAst

[2017-05-08 17:12] michaeltlombardi commented on #35
I can add a similar doc for using the [`ScriptAsService`](https://www.powershellgallery.com/packages/ScriptAsService) project for deployment as well.

[2017-05-08 17:15] michaeltlombardi commented on #32
Being able to execute inside a JEA endpoint would be useful.

[2017-05-11 16:31] RamblingCookieMonster opened #36 "Consider constraining bot functionality by channel"
It might be worth considering functionality to restrict bot, plugin, or command functionality by channel.

_Hypothetical scenario_:  You provide a command that retrieves potentially sensitive information.  You have certain channels with team members (or guest accounts) who should not see this information.  Currently, a valid user may invite poshbot, and run a command that exposes this information

[2017-05-11 18:28] devblackops commented on #33
The parser has been rewritten in branch [feat/command-parser-ast](https://github.com/poshbotio/PoshBot/tree/feat/command-parser-ast). I've done limited testing with it but so far it's looking good.

[2017-05-12 05:34] devblackops commented on #33
Merged e722cc0a939d051f07db017f70337f62e8feae1e to enable this.

[2017-05-12 05:34] #33 closed

[2017-05-12 15:33] devblackops opened #37 "New Feature: File Uploads"
PoshBot currently supports custom text responses via `New-PoshBotTextResponse` and `New-PoshBotCardResponse`. These send custom object types back in the output stream so PoshBot can detect them and handle the custom formatting of the response. It would be nice if PoshBot was able to be told to upload a file without the plugin author needing to handle the particulars for the current backend.

## Pr

[2017-05-12 16:48] #29 closed

[2017-05-12 17:44] devblackops commented on #36
This could be useful. Probably not a big priority right now though.

Keep in mind you can redirect responses to a DM channel with the `-DM` switch on `New-PoshBotTextResponse` and `New-PoshBotCardReponse` if you know the command response has sensitive information in it.

[2017-05-13 05:06] #37 closed

[2017-05-14 03:54] RamblingCookieMonster opened #38 "Consider a mechanism for running commands as a different user"
Consider a mechanism for running commands as a different user

It may be helpful to include a mechansim to simplify running as a different user.

Currently, if you need to do something with privilege XYZ, there are a few common methods:

* Run PoshBot as account with privilege XYZ.  High risk, particularly if you start doing more and more to poshbot!
* Add per-poshbot-command handling for running

[2017-05-17 16:01] devblackops commented on #30
Fixed in #31

[2017-05-17 16:02] #30 closed

[2017-05-18 04:47] devblackops commented on #34
I'm not sure if this is what you had in mind but I created a [building.md](https://github.com/poshbotio/PoshBot/blob/master/building.md) doc.

Feel free to add any other details if I'm missing anything.

[2017-05-20 03:25] devblackops commented on #35
I like it @michaeltlombardi!

[2017-05-27 05:33] devblackops opened #39 "Support message reactions to indicate commands are running, succeeded, or failed"
## Expected Behavior
Visual indication that the bot is processing a command given to it. Some commands may be long running and it would be good UX to notify the user that the bot received the message and is processing it.

It would also be handy to mark the message as completed or failed as bot commands/responses in a busy channel may be interwoven with normal user messages and it may not be appar

[2017-05-30 11:51] TraGicCode opened #40 "Schedule a command to run?"
It doesn't look like it's possible currently but it would be awesome to have the ability to schedule a command to run at 1 time in the future or at a repeating time in the future.  Is this on the roadmap?

[2017-05-30 17:53] devblackops commented on #40
Nothing formal yet but it's been spinning in by head. What would be your use case for scheduling commands be?

Some ideas on the command set to manage these.

* List scheduled commands
`!get-scheduledcommands`

* Scheduled a command to run one time
`!schedule --command '!do-something' --when '2017-06-01 08:00:00'`

Maybe support cron type scheduling?
`!schedule --command '!do-something' --cron '*

[2017-05-31 18:35] devblackops commented on #40
Thanks @TraGicCode. I'll take a look at that code. Putting this feature in shouldn't be that difficult.

[2017-05-31 18:38] TraGicCode commented on #40
Is there a slack/irc available for collaboration on this kind of stuff?

[2017-05-31 20:30] devblackops commented on #40
The #chatops channel in https://devopslibrary.slack.com is where we've been discussing. I sent you an invite.

[2017-06-03 06:55] devblackops commented on #39
Fixed in d0e39209435aa501d5c3f484bb6e12d9e392d742, fb96c4f227a8352a93269edc9e1a599e7906606c, and 6f108abd962ebe83abe9af62c744dc2648391719

[2017-06-03 06:55] #39 closed

[2017-06-06 06:03] devblackops commented on #40
@TraGicCode In commit 7f9f291678f3d90174b40f84302383fd7f30a991 I've implemented basic functionality to schedule commands. It's probably best to keep the scheduling constructs in PoshBot fairly simple. You'll want a real scheduling system to more complex scheduling requirements.

I also added a doc explaining the various builtin commands to manage the schedules.
http://poshbot.readthedocs.io/en/lat

[2017-06-16 04:20] #40 closed

[2017-06-16 04:27] devblackops commented on #38
Yes, I think we need some way to manage credentials that commands can run under.

One question is should plugin commands be able to access a global collection of credentials or should PoshBot separate them by plugin and only allow commands to access credentials associated with that plugin? The latter is more secure but potentially more cumbersome to manage. You may have multiple plugins that you'v

[2017-06-16 04:28] devblackops commented on #35
@RamblingCookieMonster Since you have PoshBot running as a service do you want to take a stab at creating a simple doc explaining the process?

[2017-06-19 16:34] RamblingCookieMonster opened #41 "Consider mechanism for a watchdog of sorts"
It might be worth adding a watchdog process of sorts.  For example:

* Define a watch interval
* In loop that reads from API, include logic to
  * check if watch interval exceeded...
  * send message to bot via private message
  * validate that we receive message within acceptable period of time
  * if we don't receive message...  do something (log error and reconnect? disconnect/throw?)

Not sure

[2017-06-19 16:35] RamblingCookieMonster commented on #35
Thanks for the reminder!  Will do.  I'm a bit slow, sorry!

[2017-06-26 19:21] RamblingCookieMonster commented on #34
That's it!  I'm slow : )  Thanks!

[2017-06-26 19:21] #34 closed

[2017-06-26 19:27] RamblingCookieMonster commented on #38
Hmm - good question it might make sense to allow both, similar to statefuldata commands?

e.g.

`Add-PoshBotRunAsCredential` or whatever system stores the credential might have something similar to `-Scope`, allowing a user to specify if they want a credential to be available to everything, or a specific module.

For example:

* If `-Global` switch specified, any plugin can access it
* If `-Module

[2017-06-28 02:27] RamblingCookieMonster commented on #38
oh!  if this is up for grabs, would be happy to help!  some quick thoughts:

I see two general workflows:

* PoshBot admin wants to always run command ABC with credential XYZ, doesn't want to revamp internals of the plugin command.  Design would likely require a command-to-credential mapping file
* PoshBot author wants to allow specifying a certain credential.  Author will likely need to retrieve

[2017-06-28 06:19] devblackops commented on #38
We may be able to reuse (with some tweaks) the existing functionality in PoshBot that allows plugin authors to specify that a command parameter by dynamically resolved from the bot configuration. The existing logic could probably be extended for plugin authors to declare that a command be run (as a job) with specific credentials that are stored under the `PluginConfiguration` property of the bot c

[2017-06-29 06:34] devblackops commented on #11
Commit 188984ba12489868ced8bceaf996dec37c4bee0d should resolve this with the new builtin command `Update-Plugin`.

Usage would be:

Update the `myplugin` plugin to the latest available.
[code]

Update the `myplugin` plugin to version `1.2.3`.
[code]

Update the `myplugin` plugin and remove any old versions.
[code]

[2017-07-07 16:17] RamblingCookieMonster opened #43 "Get-CommandHelp is difficult for overlapping names"
Let's pretend we have a plugin with 3 commands:

* `Group`
* `GroupMember`
* `Groups`

It is difficult to get help for `Group`

## Expected Behavior

`!help Group`

Detailed help for Group appears

## Current Behavior

`!help Group`

Everything with group in it comes back.  Even if I fully specify the fully qualified names

`!help Group -detailed`

Everything with group in it comes back.  Even if

[2017-07-10 23:11] devblackops commented on #43
Good catch @RamblingCookieMonster.

Ya, I think it should try for an exact match first and if found, display help for that command. Only if no command is found should it try the fuzzy searching.

[2017-07-14 04:20] #35 closed

[2017-07-15 01:45] RamblingCookieMonster opened #44 "Slack API has a Rate Limit"
It might be helpful to handle rate limits:

* Identify spots where rate limits would be more likely to hit, if possible, make these optional, potentially use caching, and filtering to the right
  * Example: `Get-Group` resolves all users in every group.  This could
    * (1) be avoided by adding a `-ResolveUsers` or some such parameter, and only resolving names in those cases, and
    * (2) be red

[2017-07-15 04:18] brianbunke opened #45 "PluginConfiguration and PoshBot.FromConfig"
## Expected Behavior
Per `help New-PoshBotConfiguration -Full`, this is the example found on the `-PluginConfiguration` parameter:

[code]
[...snip...]
[code]

I expect $MyParam to default to `'bar'`.

## Current Behavior
Importing my custom plugin throws the following error:

Debugging the code, I find this is actually happening here: https://github.com/poshbotio/PoshBot/blob/94931fe8e25e09da7774

[2017-07-16 04:38] devblackops commented on #45
Hi @brianbunke!

There were some bugs with getting the help information for commands that hopefully has been fixed in 94931fe8e25e09da7774838a4c5ac2b6db16c217. These changes will be in **v0.6.0** when it is released. You can also try and build the latest version from source following [building.md](https://github.com/poshbotio/PoshBot/blob/master/building.md#build) and see if your issues magically

[2017-07-16 04:53] devblackops commented on #44
Thanks @RamblingCookieMonster!

There probably can be some logic put into the Slack backend that specifically addresses the number of API calls sent per second to avoid the rate limit.

In the meantime, I optimized the user id->name resolution logic to avoid calling the API so much. There is already a `Users` hashtable on the backend that is loaded on connecting to Slack. Some of the class methods

[2017-07-16 13:37] RamblingCookieMonster commented on #44
Perfect!  Looks good to me, works without issue - thanks!

Down the line might be worth adding something that pulls all users, updates table on some interval, at startup, or via a builtin command, but doesn't seem terribly important

[2017-07-17 04:19] brianbunke commented on #45
Thanks, that's helpful info. Your API key is '*******'? What are the odds of that?

Unfortunately, I built 46a6c8f7ceba7bbc82f96b4a3a4318a48d52a391` / master` from source and ran into the same error. The function's help (and thus, the plugin) loads if I comment out the `[PoshBot.FromConfig()]` line.

My demo command is basically yours, except I also have the `PoshBot.BotCommand` section below `Cmd

[2017-07-18 01:49] RamblingCookieMonster opened #47 "Get-Group output may not include all data"
Get-Group output can miss data if an array is long enough.

## Expected Behavior

`Get-Group`

[code]

## Current Behavior

`Get-Group`

[code]

## Possible Solution

* Set `$FormatEnumerationLimit = -1` in the PoshBot environment.  Generally, elllipsis are bad, if you have no recourse to further explore objects (i.e. with raw PowerShell), it seems like forcing this in the environment (perhaps wit

[2017-07-18 01:52] RamblingCookieMonster opened #48 "Consider persisting command history"
It appears command history rolls over.  It might be helpful to enable this, and perhaps default to this behavior.

Even if this data can be parsed out of the PoshBot logs, might be cleaner, easier to read, and helpful to folks using chat

Just getting the idea out there - happy to help, but haven't put much thought into design

Cheers!

[2017-07-18 03:52] devblackops commented on #45
I use the same password for my luggage but don't tell anybody 😄

I was able to reproduce the issue and put in a fix in 66712e557633b34f0802f10757309402e73344ff.

Back in https://github.com/poshbotio/PoshBot/commit/c6da83740cb15a0cffdc35165c465285fabafc70#diff-dd0c809ffdda6f5f649e99adc30df168L45 I must have been in a drunken stupor.

Build from 66712e557633b34f0802f10757309402e73344ff and see if th

[2017-07-18 05:13] devblackops commented on #44
Ya, this can certainly be improved down the road. b354605a0ed96a112080e16ac6b5fc92dbc41379 has been merged to master.

[2017-07-18 05:18] #43 closed

[2017-07-19 12:46] brianbunke commented on #45
I can confirm this is fixed in `0.6.0`. Thank you, sir!

[2017-07-19 12:46] #45 closed

[2017-07-20 04:21] devblackops commented on #48
The existing command history is just an array property in the `CommandExecutor` class. Since it was all in memory I wanted to create a limit. I didn't put much thought into it other than that.

I agree that the command history should ultimately be persisted to disk some how. The existing history collection is just an array of `CommandExecutionContext` objects. We could probably use `ConvertTo-Json

[2017-07-20 05:00] devblackops commented on #47
No specific preference on how but I agree, it would be better to implement it globally in PoshBot rather then require each command to do `value = $array | Format-List | Out-String` or `value = $array -join ','`.

I'm thinking `$FormatEnumerationLimit = -1` would have to be implemented in the backend `SendMessage()` method as well as the `Bot.ProcessCompletedJobs()`method. [ProcessCompletedJobs()](

[2017-07-20 05:00] #44 closed

[2017-07-20 05:15] devblackops opened #49 "Implement logging in all classes"
## Current Behavior
Logging is not implemented fully (or at all) in every class that needs it.

## Expected Behavior
All PowerShell classes that implement any kind of logic in methods should support logging for troubleshooting / auditing purposes.

## Possible Solution
Derive the classes that need logging from a base class that implements it.

## Context
Classes like `CommandExecutor` implement a

[2017-08-02 04:57] #11 closed

[2017-08-08 04:30] devblackops opened #51 "Exception installing PowerShell module when the module includes cmdlets"
## Expected Behavior
PoshBot should be able to import and execute both functions and cmdlets from PowerShell modules.

## Current Behavior
When importing a plugin (PowerShell module) into PoshBot, exeptions are thrown when importing cmdlets. Functions work fine.

[code]

## Possible Solution
This is because internally, PoshBot retrieves all the commands from the installed module via `Microsoft.Pow

[2017-08-09 03:23] #49 closed

[2017-08-09 03:23] #48 closed

[2017-08-16 21:52] RamblingCookieMonster commented on #41
Here's some log output now that we're running at a higher logging level!

[code]

So, ~ 1 hour goes by and it just... disconnects - haven't traced through the code to see where other debug logging might be helpful, should have time over the next few weeks

Cheers!

[2017-08-17 04:07] rayterrill opened #53 "Documentation Issues in Triggers.md"
## Expected Behavior
Correct documentation

## Current Behavior
Misspelled word in Event Example 2 - "The next work can be anything" - work should be word.

Missing Command = $false in 2nd Event Example

## Possible Solution
Will update documentation and submit pull request.

[2017-08-17 04:11] rayterrill opened #55 "Add example for Event Trigger"
It would be nice to have an Event Trigger example in the documentation (Triggers.md) so newcomers like myself can understand how that works.

[2017-08-17 04:24] rayterrill opened #56 "Misspelling in new-poshbotcardresponse"
In the parameters -> type section, the color "Greed" should be "Green".

[2017-08-17 05:43] #53 closed

[2017-08-17 05:44] #56 closed

[2017-08-18 05:08] devblackops commented on #51
Fixed in 315206e252e7d0e3247d293dac3f9592a64ee1ef

[2017-08-18 05:09] #51 closed

[2017-08-18 06:57] devblackops commented on #41
Thanks @RamblingCookieMonster. I haven't seen this issue with the backend disconnecting randomly but I did add some reconnection logic in commit f070972f062cd9df50f104cf1cec4adc356a7f81. I tested this by:

1. Starting the bot and verifying it is connected and processing messages/commands
2. Disabling the NIC
3. Watching the logs to see the disconnect happen and the reconnection logic trigger repea

[2017-08-30 20:39] tadcrazio opened #58 "Parsing URL's that contain Parentheses does not seem to parse properly."
## Expected Behavior
I would expect it to parse all commands regardless of the characters in the command.
## Current Behavior
When passing in a command, in my case a URL that i want to do something with the bot tends fail if the URL contains parentheses.

## Possible Solution
Sadly, i don't have any solutions. I believe the bug may lay in the commandparser.ps1.

## Steps to Reproduce (for bugs)
1.

[2017-08-31 05:33] devblackops commented on #58
@tadcrazio I made a small change in 514e5c73a7236a1fe86ce1f1c50e8a30bd0b5623 to the `CommandParser` class in branch [fix/ast-parsing](https://github.com/poshbotio/PoshBot/tree/fix/ast-parsing). Mind pulling that version and giving it a whirl?

[2017-09-03 11:43] tadcrazio commented on #58
Thanks @devblackops  it seems to work for the basic example I provided there when using quotes. But continually fails to parse on real URL's that i use, though not specifically to parentheses.

Example:

http://search-my-Test--env--diag--es-c01-r4ffjejtslqxy3vsxhfuerodi.us-west-2.es.amazonaws.com/_plugin/kibana/app/kibana#/dashboard/Bad-Data-Dashboard?_g=(refreshInterval:(

sending that through In

[2017-09-03 18:18] devblackops commented on #58
@tadcrazio Can you pull the latest and try it again? I've made a few changes in the parser to deal with `@mentions` better and to not modify parameter values like yours with double dashes `--`.

https://github.com/poshbotio/PoshBot/commits/master

[2017-09-03 20:20] tadcrazio commented on #58
@devblackops  you are the man. Works as expected now I appreciate all the work.

[2017-09-03 20:20] #58 closed

[2017-09-03 22:37] tadcrazio opened #59 "Funkiness with Regex command"
## Expected Behavior
When using a command that is based off Regex I would expect that only the command being executed at the time would be affected.

## Current Behavior
I have a command based on Regex that listens for URL's. When a URL is seen in the chat the bot does something with it (shrinks URL's). However, if using another command after that the bot tries to shrink URL's still..

EXAMPLE:
Ta

[2017-09-05 14:46] tadcrazio opened #60 "Zero's being truncated if it is the first character in a command"
## Expected Behavior
When sending a command where the first character of a parameter is "0"  i would it expect it to be treated like any other command.

## Current Behavior
Currently, if a Zero is passed in as the first character of a command, the zero is truncated.

## Possible Solution
N/A
Work around is to use quotes,  which is fine. However, trying to make this as easy as possible not having t

[2017-09-05 14:47] tadcrazio opened #61 "Zero's are truncated if they are the first character of a command"
## Expected Behavior
When sending a command where the first character of a parameter is "0"  i would it expect it to be treated like any other command.

## Current Behavior
Currently, if a Zero is passed in as the first character of a command, the zero is truncated.

## Possible Solution
N/A
Work around is to use quotes,  which is fine. However, trying to make this as easy as possible not having t

[2017-09-07 03:13] devblackops commented on #60
dup issue

[2017-09-07 03:13] #60 closed

[2017-09-07 03:22] devblackops commented on #61
This is a side effect of using the AST to parse the command string. When it sees what looks like a number (e.g. 01821) it will attempt to parse that as an integer so `01821` becomes `1821`. Without some major changes to the parser, I think the only way to control this behavior is to wrap the parameter in quotes to tell AST it is a string. This is the same behavior at the command line as the AST is

[2017-09-07 03:56] devblackops commented on #59
@tadcrazio I haven't seen this behavior but I did commit 70d2bc1214f66990033094ac89e17da42214792a which should prevent PoshBot from processing ephemeral messages sent from SlackBot like this one and inadvertanly trying to execute another command:

![capture](https://user-images.githubusercontent.com/12634452/30145184-71b21d44-9344-11e7-9809-b441dea67815.PNG)

Here is the behavior I see with [this]

[2017-09-07 11:46] tadcrazio commented on #59
That's really weird. I just added your changes but it still does not work properly for me. I'll have to work on that the regex to do better matching.

[2017-09-07 15:04] RamblingCookieMonster commented on #61
On top of quoting parameter values, you could also specify that the parameter is a `[string]`, and if needed, validate that it's all digits and so forth

Cheers!

[2017-09-07 16:33] tadcrazio commented on #61
This makes sense, i can verify on input and add the zero if needed as well as add parameter validation. Thanks guys.

[2017-09-08 15:08] tadcrazio commented on #61
I'll cancel this as to me it doesn't appear a bug.

[2017-09-08 15:08] #61 closed

[2017-09-08 15:44] tadcrazio commented on #59
Updated Regex. Matches better now.
^(https?://\S*)|[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}[^ ]+

Still having issues though with commands executed after this though, Verified your changes are there.

[2017-09-09 18:09] rayterrill opened #62 "Warning logged when Event is triggered"
## Expected Behavior
Warning should probably not be triggered.

## Current Behavior
`
18:07:13Z","Class":"PluginManager","Method":"MatchCommand","Severity":"Warning","LogLevel":"Info","Message":"Unable to match parsed command [:] to a plugin command","Data":{}}
`
## Steps to Reproduce (for bugs)
1. Launch poshbot with default configuration
2. Trigger an event (adding a reaction to a message, etc.

[2017-09-09 18:16] rayterrill opened #63 "Error adding reaction to message when creating a function that fires on an event"
## Expected Behavior
Should not error out.

## Current Behavior
`
{"DataTime":"2017-09-09
18:13:57Z","Class":"SlackBackend","Method":"AddReaction","Severity":"Error","LogLevel":"Info","Message":"Error adding
reaction to message","Data":{"ok":false,"error":"no_item_specified"}}
At line:6 char:9
+         Start-PoshBot -Configuration $pbc -Verbose -ErrorVariable err
+         ~~~~~~~~~~~~~~~~~~~~~~~

[2017-09-09 18:21] rayterrill opened #64 "Feature Request - Ability to send message to user that may not have initiated the conversation"
Poshbot currently provides the ability to respond to a user based on something - either in the same channel or via DM, but that workflow appears to require that the user initiate that communication. It would be slick to provide the ability to @ or DM a user without the user initiating that conversation.

## Expected Behavior
Allow poshbot to message a user without the user initiating the conversat

[2017-09-12 06:12] devblackops commented on #63
Fixed in a5db0ef870ee436e9096912b66819f258c1cbcf9

[2017-09-12 06:12] #63 closed

[2017-09-12 14:34] michaeltlombardi commented on #64
So in this case, it'd be using event/regex triggers but specific _only_ to the person who requested them? Something like:

Then when you come online, PoshBot DMs me something like:

This would probably be best suited to a separate plugin that you could use to wrap existing plugin commands for personal install of channel/global use. It'd require some stateful storage and lookups to handle multiple

[2017-09-13 02:59] rayterrill commented on #64
@michaeltlombardi This sounds perfect. :D

[2017-09-13 03:21] michaeltlombardi commented on #64
I've got some other contributions I'm making this week, so if someone picks this up in the near future, great! If not, I'll keep this on my back burner. Sounds like a pretty neat plugin!

[2017-09-27 17:25] shotah opened #65 "Feature Request: Startup Script for configurations."
Startup Script: Trying to push this through a CI and would like to set psrepo in some sort of startup script in my New-PoshBotScheduledTask. Also, I had to add are reboot to the CI task to make poshbot come up at the end. It'd be nice if I would be able to start tasks instead of reboot. Also more through documentation of the plugin directories, the *.psd1 files I put there don't seem to be loaded

[2017-09-29 03:48] devblackops commented on #65
Thanks for the feedback @shotah

Can you provide more specific on the reboot? I haven't seen that a reboot is needed when creating the task.

I'll take a look at `ModuleManifestToLoad` to make sure that's working correctly.

[2017-09-29 15:13] shotah opened #66 "Save Password or Credential"
Will be using BetterCredential to store creds. I'm using a CI pipeline to stand up PoshBot and I am able to store creds through Gitlab. I just need to be able to store them for remote execution for general Noc and Ops tasks.

## Expected Behavior
Be able to store credential in some fashion.

## Current Behavior
N/A

## Possible Solution
Create a Credential module or Vault plugin or Import or partn

[2017-09-29 16:58] devblackops commented on #66
PoshBot has the ability to dynamically insert parameter values into the commands. This is mainly for the use case of passing credentials to commands as you can't securely pass them via Slack.

You can take a look at this command in the demo module for how to do it. https://github.com/poshbotio/PoshBot.Demo/blob/master/PoshBot.Demo/PoshBot.Demo.psm1#L594

You decorate the parameter in your function

[2017-09-29 20:09] shotah commented on #66
Doesn't really help if I want to keep things secure, because it looks like that is all in clear text. I'm definitely moving forward with https://github.com/Jaykul/BetterCredentials, But I was calling this out because I was hoping for an internal solution instead of third party, it'd be cool to get also get better intergration into something like hashicorp's vault.

[2017-09-29 21:49] shotah commented on #65
Hopefully I cleaned out anything that is not meant to be public. :) Here is the CI script I currently use to spin it up from scratch. Currently I have it deploy to the CI runner because I have a runner defined just for Posh-bot. My goal will be to get Posh-bot pushing choco packages out to lists of hosts on demands assuming this all starts to run correctly. :) Thanks for your help on this.

`
# cl

[2017-09-29 21:50] devblackops commented on #66
The `PluginConfiguration` section of the bot configuration is just a hashtable. You can put anything you want in there. I use Joel Bennett's [Configuration](https://github.com/PoshCode/Configuration) module to serialize the configuration to a `psd1` file. That module takes care of properly serializing `PSCredential` and `SecureString` objects to disk in a secure way with DPAPI.

You can of course

[2017-09-29 22:16] shotah commented on #66
Will dig a bit, when I dug a few years back securestring wasn't actually all too secure.

[2017-09-29 23:09] shotah commented on #65
Error comes in when I add any module into the ModuleManifestsToLoad. Even anything like Poshbot.XKCD.

[2017-10-01 00:05] shotah commented on #66
Just wanted to post an update. I'm taking your solution, but removing the exposure in the git repo. I can still decrypt it from my module, but should enable me to keep some type of security on it.
[code]

[2017-10-01 00:05] #66 closed

[2017-10-03 15:33] shotah commented on #65
Sorry to ask, still working on this and I can share my updated code in a bit. How do you reference stored variables in the imported module? Say I stored the secret and now need my module to take advantage of that?

[2017-10-03 19:32] devblackops commented on #65
If you're talking about a secret that was put into the bot configuration under the `PluginConfiguration` section, then you decorate a function parameter in your module with `PoshBot.FromConfig()]` That tells PoshBot to pull the value from the config and insert it as a named parameter when it executes your function.

#### config.psd1
[code]

[code]

When you call the command from Slack, you don't n

[2017-10-03 23:31] shotah commented on #65
Okay so this is where I am now. It doesn't seem to be filling in the test param.

**CI Script** to stand up the bot:
[code]
**Module function** trying to call on the parameter I stored.
[code]
**Error I am getting:**
[code]

[2017-10-04 01:01] RamblingCookieMonster opened #67 "Get-CommandHelp could expose more help content"
The current `Get-CommandHelp` function returns a limited subset of help data.  In many cases, it would be valuable to include more.  For example:

* Examples
* Parameter details
* Everything

## Possible Solution

Expand `Get-CommandHelp` to allow parameters similar to `Get-Help`.  In particular:

`-Examples`
`-Full`

## Why?

Consider someone somewhat new.  They see the basic syntax shorthand, bu

[2017-10-04 01:37] devblackops commented on #67
Try ‘!help foo -detailed’

This definitely could be improved some (and documented better)

[2017-10-04 01:38] devblackops commented on #67
-detailed basicaly just displays the full command help but having switched for Examples or Full could be useful.

[2017-10-04 05:18] devblackops commented on #65
Ah yes. Sorry. Make sure you depend on `PoshBot` in your module manifest. You'll need that in order to use `[PoshBot.BotCommand()]` or `[PoshBot.FromConfig()]` custom attributes.

[2017-10-04 05:22] devblackops commented on #65
This is only really documented in the [New-PoshBotConfiguration](https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Public/New-PoshBotConfiguration.ps1#L37) help I think. This **really** needs to be a top level documentation item (among many others).

[2017-10-04 16:18] shotah commented on #65
So I'm getting an error about the actual PoshBot module. So to nest it in the required modules I need to import it to our internal repo, but Nuget isn't willing to build it so I can do an publish on it.

[code]

**Full Json Error MSg**
[code]

[2017-10-04 22:59] shotah commented on #65
@devblackops Any ideas why I get this error when trying to publish-module Poshbot to my internal Artiactory repo?  Fyi, I also updated nuget to 4.3 and still got the above error.

[2017-10-05 04:09] devblackops commented on #65
When you publish to Artifactory, are you publishing the `built` module or straight from the `PoshBot\` subfolder in the repo? There is a psake task called [Build](https://github.com/poshbotio/PoshBot/blob/master/psake.ps1#L199) which will create a usable module from the source files. [building.md](https://github.com/poshbotio/PoshBot/blob/master/building.md) has more info on that. Also, since Posh

[2017-10-05 06:50] devblackops commented on #66
@shotah I've added a new page on RTD that explains how to use `PluginConfiguration` to dynamically supply parameters to commands at runtime. http://poshbot.readthedocs.io/en/latest/guides/plugin-configuration/

[2017-10-05 16:06] shotah commented on #65
@devblackops I have been able to import export Configuration and PSSlack just fine. It was PoshBot that won't export. So I basically just do an Install from PSGallery and then have PowerShell just publish into our internal repo.

[code]
**Errors**
[code]

[2017-10-06 03:40] devblackops commented on #65
Odd. Tomorrow I'll try and publish PoshBot to an Artifactory instance.

[2017-10-06 04:11] shotah commented on #65
@devblackops Technically it doesn't even get past the nuget.exe build. I also updated and removed the old PowerShellGet module off my box, in case that was the hangup.

[code]

[2017-10-09 19:59] shotah commented on #65
@devblackops Anyluck? I tried from a fresh build from this repo and no luck either. How did you publish this to PSGallery?

[2017-10-09 21:22] devblackops commented on #65
I was able to publish PoshBot to my Artifactory instance just fine. I already had the `Configuration` and `PSSlack` modules published.

These are the steps:
1. Run `build.ps1 -task build` to compile the finished module in the `\out\poshbot\` folder.
2. Run Publish-Module -Path .\out\poshbot -Repository Artifactory -NuGetApiKey xxx

[2017-10-09 23:43] shotah commented on #65
That worked! Never tried publishing the folder before. `Publish-Module -path "$home\Documents\PoshBot\out\PoshBot\" -NuGetApiKey $chriskey`

[2017-10-11 04:43] devblackops commented on #41
@RamblingCookieMonster Are the connection drops still an issue after the reconnection logic f070972f062cd9df50f104cf1cec4adc356a7f81 was put in?

[2017-10-11 06:08] #65 closed

[2017-10-11 10:56] RamblingCookieMonster commented on #41
Nope, that worked perfectly, closing this out - thanks!

[2017-10-11 10:56] #41 closed

[2017-10-24 23:22] DareDevelOps commented on #47
Looking for Code gardening issues for the next Atlanta  PowerShell Users group meeting.  We want to give a safe  place for members to learn Git workflows and contribute to the community. let me know if we can help on this.

[2017-10-25 01:06] RamblingCookieMonster commented on #47
Hi!

I'm 'assigned to this' but totally haven't started anything yet.  Feel free to use this; if you pick something else I'll tackle it afterwards.

[2017-10-25 01:09] DareDevelOps commented on #47
We are mainly looking to help where we can maybe get feedback from more experienced community members. We could submit a PR for review if it helps if not and you can suggest mods even better.

Sent from Mail for Windows 10

From: Warren Frame
Sent: Tuesday, October 24, 2017 9:06 PM
To: poshbotio/PoshBot
Cc: Drew Burt; Comment
Subject: Re: [poshbotio/PoshBot] Get-Group output may not include all da

[2017-10-25 03:52] devblackops commented on #47
@DareDevelOps I think that would be awesome!

[2017-10-26 01:08] DareDevelOps commented on #47
Brandon,
Thanks! I see this as a twofer. Learn PowerShell and Learn Git. Skills the modern IT Pro is going to need. Also when you are working with people who really understand this you get the value of their experience. You also get the experience of the code review and showing empathy for those still learning.

Sent from Mail for Windows 10

From: Brandon Olin
Sent: Tuesday, October 24, 2017 11:5

[2017-11-13 01:07] DanrwAU opened #68 "Feature Request: Connect to MS Teams"
Is this on the radar at all?

Would really like to use it with Teams :)

Thanks

[2017-11-13 05:37] devblackops commented on #68
It's on the radar but since I don't have access to Teams, I haven't spent anytime on it. Teams works a little differently than Slack. With Slack, it is fairly trivial to connect via websockets to send/receive messages. This means PoshBot doesn't need to be publicly accessible as the communication is initiated from PoshBot on your internal network. It also allows PoshBot to "listen" to all messages

[2017-11-13 05:42] Lowestkillcount commented on #68
I don't have the skills to make any of that work - but i do have an E3 O365 Account i can set you up with if you wanna play with it :)

[2017-11-22 01:54] RamblingCookieMonster commented on #68
Is there a spot we can vote for / give input on the lack of websocket interface for Teams?  Happy to vote/retweet/whatever.  Is [this](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/18646171-remove-bot-mention-requirement) the closest thing?

[2017-11-22 06:32] devblackops commented on #68
@RamblingCookieMonster [this](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/16977271-allow-on-premise-bots) one is also on uservoice. I just posted a comment there.

On a related note, one idea that I had that could **possibly** work around this while at the same time not requiring you to open up PoshBot to the internet is to use a Azure Function to accept the POSTs from Te

[2017-11-25 19:21] mycloudrevolution opened #69 "Update Plugin from PS Gallery Failed"
!Update-Plugin command for a Module from PS Gallery failes

## Expected Behavior
New Version is loaded in PoshBot

## Current Behavior
Error: The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)

-> In PowerShell the new Version of the Module is installed.

## Possible Solution

My Workaround:
1. Stop PoshBot (close PS Session)
2. Uninstall  All Plugin Module versi

[2017-11-26 00:10] devblackops commented on #69
Hi @mycloudrevolution. I wasn't able to reproduce this issue (at least with the `PoshBot.XKCD` plugin. I ensured the module was completely uninstalled from the system and went through installing an old version and upgrading to various later versions. What was the plugin you tried to update? Is it on the gallery so I can try it?

[2017-11-26 09:58] mycloudrevolution commented on #69
Hi @devblackops ,
I verified the update process of "PoshBot.XKCD" in my environment. This plugin update works also  fine for me.

The error occured with my own plugin "poshbot.veeam".
https://www.powershellgallery.com/packages/poshbot.veeam

[2017-11-29 07:36] devblackops commented on #36
@RamblingCookieMonster I have a working implementation of this in branch [feat/approved-channels](https://github.com/poshbotio/PoshBot/tree/feat/approved-channels) if you want to take a look. **Comments/suggestions are welcome.**

To support this, there is a new bot configuration property called `ApprovedCommandsInChannel` that is a `hashtable[]` to control what commands are included and excluded

[2017-11-29 07:45] devblackops commented on #69
I wonder if it is related the [Add-PSSnapin](https://github.com/mycloudrevolution/PoshBotPlugins/blob/master/poshbot.veeam/poshbot.veeam.psm1#L2) line.

Can you try to recreate the behavior outside of PoshBot? When PoshBot imports the plugin, it runs `Import-Module -Name $manifestPath -Scope Local -Verbose:$false -WarningAction SilentlyContinue`

Maybe try running the above command from a PowerShe

[2017-11-29 20:10] mycloudrevolution commented on #69
My steps to reproduce the Issue:

1. Installed two versions of the module with `-Scope CurrentUser`
2. Imported older version of the module
3. Imported newer version of the module

**Error Message:**

OK, loading SnapIns in Modules Sucks... When module is loaded the SnapIn is loaded in a way I dont understand. I am not able to check before load, e.g.:

`if ( (Get-PSSnapin -Name VeeamPSSnapin -Erro

[2017-11-30 07:00] devblackops commented on #69
Maybe you can try adding this to the psm1. This should run a script block on module unload that also removes the snapin.

[code]

[2017-12-01 05:21] #4 closed

[2017-12-01 05:32] devblackops commented on #26
@adammillerio Apologies for not responding earlier. Is this still an issue?

[2017-12-01 05:33] devblackops commented on #59
Still an issue @tadcrazio or can we close this one out?

[2017-12-02 21:16] tadcrazio commented on #59
Should be good to close out. Thanks.

[2017-12-02 21:16] #59 closed

[2017-12-07 04:07] devblackops commented on #68
@Lowestkillcount I may take you up on that 😄

[2017-12-09 02:56] RamblingCookieMonster commented on #47
Hiyo!  @DareDevelOps - is this still a potential target?  If not going to submit a quick PR, let me know!

[2017-12-09 03:27] DareDevelOps commented on #47
Go Ahead. I think we are done for the Year. I'll get with the group and see what we can schedule for the Coming year. Thanks!

[2017-12-10 04:35] devblackops commented on #67
Fixed in #71

[2017-12-10 04:35] #67 closed

[2017-12-14 02:39] RamblingCookieMonster opened #74 "Consider mechanism for out of band approvals"
Hiyo!

It might be nice to have a plugin to enable out-of-band approvals.

## Example workflow:

### Abstract:

* User: !Invoke-HighPrivilegeThingy

* Bot:
  * Reaction that command is processing
  * Reaction to indicate command is waiting on approval
  * Output including:
    * <approval #>
    * <whatif type desciption of what will run>
    * <approval type> (reaction, code, etc.)
    * Details

[2017-12-14 04:05] devblackops commented on #74
@RamblingCookieMonster I could have sworn an issue was created for this but I guess not 😄

This was the major feature added in `v0.8.0` with commit 556359c551940b8ee398793f7c8f302c3fd18262. For now it just supports some builtin commands for approving/denying/listing commands and is documented [here](http://docs.poshbot.io/en/latest/guides/command-approvals/).

[2017-12-14 04:12] #36 closed

[2017-12-14 04:21] RamblingCookieMonster commented on #74
Eek!  Completely forgot about that, thanks for the reminder!

[2017-12-14 04:36] devblackops commented on #74
Give it a go and let me know what you think!

[2017-12-14 06:05] devblackops commented on #47
Fixed in #72

[2017-12-14 06:05] #47 closed

[2017-12-15 13:54] RamblingCookieMonster opened #75 "New-PoshBotFileUpload can crash poshbot"
Hiyo!

Long story short, if you try to clean up a file before it hits [this](https://github.com/poshbotio/PoshBot/blob/efbb33fde8bfce5890cd2207c49c4713b4693d2f/PoshBot/Implementations/Slack/SlackBackend.ps1#L438), PoshBot dies and restarts.

## Expected Behavior

* PoshBot doesn't crash
* I can clean up files I send

## Current Behavior

* PoshBot crashes if a non-existent path is specified
* Posh

[2017-12-15 17:48] devblackops commented on #75
Thanks for catching that @RamblingCookieMonster.

[2017-12-15 18:30] RamblingCookieMonster commented on #75
Np! Also, happy to grab it if it makes sense!

[2017-12-15 18:56] devblackops commented on #75
Be my guest.

[2017-12-16 06:46] devblackops opened #76 "Support chaining commands together in a pipeline"
It would be [super dope](https://twitter.com/kelseyhightower/status/801102768232480769?lang=en) if PoshBot supported chaining commands together in a pipeline. I envision this could work similar to how Cog [does it](http://cog-book.operable.io/sections/command_pipelines.html).

From a UX perspective, this should behave like PowerShell pipelines where each item returned from a command will be fed in

[2017-12-21 11:20] RamblingCookieMonster commented on #75
Closing this out - thanks for cleaning it up and fixing the response reactions!

[2017-12-21 11:20] #75 closed

[2017-12-21 11:26] RamblingCookieMonster opened #78 "Consider allowing content based file uploads"
Current `New-PoshBotFileUpload` parameters support specifying an existing file.  Some chat systems support specifying file content - it might be handy to provide this as an option for backends that support it

## Expected Behavior

* `New-PoshBotFileUpload` allows me to specify content, file type (for syntax highlighting), file name

## Current Behavior

* `New-PoshBotFileUpload` requires a file t

[2017-12-22 05:32] devblackops commented on #78
That sounds dandy @RamblingCookieMonster. If you want to put in the PR, I'll merge.

[2017-12-31 02:09] RamblingCookieMonster opened #79 "Provide mode for restricting plugin and access management"
Hiyo!

It might be worth considering a 'read-only' mode for plugin management.  This would reduce the (presumably) low risk of a bad actor installing and using plugins/modules that aren't explicitly allowed in existing configuration files.

You might consider something similar for the various access control commands as well.

## Expected Behavior

Bad actors who manage to gain access to a privileg

[2017-12-31 03:51] devblackops commented on #79
I think that's reasonable @RamblingCookieMonster. We'll probably also need matching switches on `New-PoshBotConfiguration` and appropriate responses in the builtin commands to notify the user that plugin/access management functionality is in read-only mode.

[2018-01-01 00:17] #69 closed

[2018-01-24 16:24] devblackops commented on #68
The [Orky bot](https://github.com/OfficeDev/orky) from the Teams group at MS _may_ help with this. It would act as a gateway bot that would sit betweeen Teams and PoshBot. It would expose a websockets interface so PoshBot could connect with it without having to accept incoming messages from Teams.

[2018-01-31 02:13] Windos commented on #68
There are [outgoing webhooks](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/outgoingwebhook) now, though I haven't had a chance to dig in and see how easy it'd be to wire up yet.

[![rip-bots](https://user-images.githubusercontent.com/6955786/35601660-1d2f4fd0-0699-11e8-9afb-7518a3cc9486.PNG)](https://twitter.com/bill_bliss/status/956236590015160320)

In case anyone is keen to

[2018-02-01 08:50] ducke commented on #28
I was wondering if there has been any progress on the feature.

[2018-02-02 05:25] devblackops commented on #28
@ducke I have not done any work on a Mattermost backend. Hoping someone who actually uses it will take up the challenge :smile:

After a quick glance of the [API docs](https://api.mattermost.com/#tag/WebSocket), I think it would only take a moderate amount of effort to replicate how the Slack backend works.

[2018-03-17 15:05] stcbus commented on #55
ANy update on this? I'd really like something too. I am having trouble figuring it out and we would like the ability to edit a message once someone "reacts" to it as one example.

[2018-03-18 06:51] devblackops commented on #55
Thanks for the reminder! Docs updated.

http://poshbot.readthedocs.io/en/latest/guides/triggers/#event

Let me know if that isn't clear or you have problems.

[2018-04-18 17:34] devblackops commented on #68
FYI. This is still on their backlog but no ETA yet ☹️

**Add you comments to this uservoice item to help bump it up in their priority list.**

https://microsoftteams.uservoice.com/forums/555103-public/suggestions/16977271-allow-on-premise-bots?tracking_code=3b5969738b2584f6f360c66dd8f2b590

[2018-04-20 09:14] jonahockey opened #80 "Getting error when using plugin giphy"
I just set up the Poshbot and trying to getting to know it. But when I'm using the Giphy and xkcd commands I only get this error:
![image](https://user-images.githubusercontent.com/37109871/39042483-3918a4dc-448b-11e8-9921-5491174b6394.png)
This is the powershell error:
![image](https://user-images.githubusercontent.com/37109871/39042749-ea89064e-448b-11e8-8ebc-57b4ac75177e.png)
Please help! :(

[2018-04-20 15:46] devblackops commented on #80
Able to share some of the PoshBot logs?

[2018-04-23 07:02] jonahockey commented on #80
## **Hi, This is my CommandHistory.log:**
{"DataTime":"2018-04-20 08:41:59Z","Class":"Bot","Method":"Start","Severity":"Normal","LogLevel":"Info","Message":"[Builtin:Get-CommandHelp:0.10.1] was executed by [UA16K32KH]","Data":{"Id":"ffe131f0","Complete":true,"Result":{"Success":true,"Output":[{"Text":"FullCommandName                  Aliases                         Type    Version\r\n-------------

[2018-04-26 18:05] AndyORourke commented on #80
Hi Brandon, I am getting the same error with a plugin I created. I believe it is related to requiring PoshBot in the module manifest but the module manifest not being able to find the PoshBot module. I only get this error when I try to use PoshBot.BotCommand and have set RequiredModules = @('PoshBot') in the module manifest. If I comment these out, I am able to run the command without issue. I'm n

[2018-04-26 18:28] devblackops commented on #80
Can you make sure that PoshBot is in your `$env:PSModulePath`? When PoshBot executs a command, it spins up a PowerShell job to run the function. Inside that job, PowerShell will load the module and execute the function. If your module manifest states that it requires `PoshBot` (which it doesn't if you using the custom attributes, then PoshBot needs to be in the `$env:PSModulePath` so PowerShell ca

[2018-04-26 18:40] AndyORourke commented on #80
It appears to be included. The following are my results of $env:PSModulePath:
C:\Users\andy.orourke\Documents\Automation\poshbot\plugins;C:\Program Files\WindowsPowerShell\Modules\PoshBot\0.10.1\Plugins;C:\Users\andy.orourke\Documents\WindowsPowerShell\Modules;**C:\Program Files\WindowsPowerShell\Modules**;C:\WINDOWS\syste
m32\WindowsPowerShell\v1.0\Modules;

PoshBot is located in the path I bolde

[2018-05-04 21:51] AndyORourke commented on #80
Hi Brandon,

I've been trying to work through this but haven't been having a ton of luck. I figured I'd share some more information just in case it helps narrow down the problem. I am able to get PoshBot running but as soon as I try to require the PoshBot module in the manifest I run into this issue. It's important because I need the RBAC to limit access to PoshBot. Any other advice you can provid

[2018-05-04 23:16] Chirishman opened #81 "Evaluates Version Incorrectly when $IsWindows is undefined"
Change the line to check if $IsWindows is null or true, instead of just True. This will handle versions of PowerShell where $IsWindows is undefined.

Something like the below should work:
[code]

https://github.com/poshbotio/PoshBot/blob/61c92f316caf5c42c7d4f51215132d7b04975b9d/PoshBot/PoshBot.psm1#L6

[2018-05-05 03:05] #81 closed

[2018-05-05 03:06] devblackops commented on #80
Can you try version `0.10.2` that I just pushed to the gallery?

https://www.powershellgallery.com/packages/PoshBot/0.10.2

[2018-05-05 07:27] AndyORourke commented on #80
@devblackops Thanks Brandon! Version 0.10.2 did the trick for me. I hope it resolves @jonahockey issues as well.

[2018-05-07 08:43] jonahockey commented on #80
@devblackops @AndyORourke After installed version 0.10.2 it didn't directly work, but after uninstalling every module and installing them again with the version 0.10.2 it works! Thanks Brandon

[2018-05-07 08:43] #80 closed

[2018-05-30 12:54] kilasuit opened #82 "PoshBot constantly crashed when run as a job"
When using

[code]
this runs and creates a background job but the error stream is filled with
[code]

## Expected Behavior
This just runs no issue

## Current Behavior
Crashing :-(

## Possible Solution
Seems to be that perhaps the config isn't being passed through correctly

## Steps to Reproduce (for bugs)-->

As above

## Context
Cannot move this to another environment it seems to be failing to

[2018-05-30 12:59] RamblingCookieMonster commented on #82
Hiyo!

In the interim, you might look at [something like this](http://poshbot.readthedocs.io/en/latest/guides/run-poshbot-as-a-service/) - presumably no need to run as a job if it's already packaged in a service?  IIRC individual commands still spawn off jobs

Cheers!

[2018-05-30 16:33] devblackops commented on #82
Thanks @kilasuit. I'll take a look at this.

FYI, if you want to separate what users can run, I would advocate **NOT** running PoshBot itself as any kind of elevated user and instead have the individual commands receive a credential object that you insert via [config-provided parameters](http://docs.poshbot.io/en/latest/tutorials/plugin-development/advanced/config-provided-parameters/) and use the

[2018-05-30 17:23] RamblingCookieMonster commented on #82
Yep!  That, or a similar route, paired with JEA/constrained/delegated endpoints works quite well

[2018-05-30 17:44] kilasuit commented on #82
we are looking to do a mix and match of both with having some auditing from slack user -> ad user as we want this to be able to trace back to the actual user that issued the commands at every stage and not have a single **SlackBot** AD user in our domains

which may be more hassle than it's worth but that's the plan

So IF I issue a command from slack PoshBot intercepts it as me running it and the

[2018-06-04 13:54] Pilosite opened #83 "Fail to handle consecutive commands"
Hi, thanks for your great work, tons of fun to play with!

I've an issue when sending consecutive commands to the bot (from one user or multiple users). While poshbot is processing a request, other incoming requests are ignored until the first process is done, and they are not processed after.

Am I missing something or is there an issue with the message queue ?

## Expected Behavior

I want to ha

[2018-06-04 18:01] devblackops commented on #83
@Pilosite That's odd. The builtin commands will always run synchronously because they could change settings within the bot but any user-created command should be asynchronous. What version of PoshBot are you using?

[2018-06-04 18:49] Pilosite commented on #83
@devblackops I use a forked version of the 0.10.2. but I have the same  issue with the main version, even when I call a custom plugin function. It mainly happens when the function calls are really close of each other, but sometime the bot didn't respond on the first command after a long break and I didn't find why yet (nothing in the log, the command was not catched). It doesn't happen really ofte

[2018-06-05 18:27] devblackops commented on #83
Oooh! LUIS integration would be sweet! I've done a little thinking on how that would work but haven't written any code for it. I'd love to have that as a core feature!

There is a bug where PoshBot doesn't appear to catch the message from the backend. I haven't tracked that down yet but it is probably related to how PoshBot polls the job that the Slack backend is running to read the JSON messages

[2018-06-08 18:09] tadcrazio commented on #55
@devblackops  I was just browsing around here and noticed that in the documents you updated you had a typo you spelled in your example commands "Reaction" as "Reacion". Super miner, just thought i'd bring it up in case someone copied that example and it wasn't working for them.

[2018-06-08 18:20] devblackops commented on #55
Thanks for catching that!

[2018-06-12 06:51] devblackops commented on #82
@kilasuit I think I fixed with `-AsJob` issue in commit 54f4e6786a914762746a2aa5822677b6a24b42ac. Want to run the latest in master to see if it works for you?

[2018-06-13 03:08] devblackops commented on #82
Hmmm. This is working for me.

[code]

[2018-06-17 14:47] kilasuit commented on #82
Ahh let me try again as I never saw the ` -PassThru` this last time

[2018-06-24 15:00] kilasuit opened #84 "Return user that issued the command"
I have a scenario where I would like to isolate users to only be able to run a command against specific external sources like AD for thier own user accounts, things like Unlock-Account and ability to Reset their Password via a custom script that we've built to ensure that passwords are falling within required security ranges.

## Expected Behaviour
User A issues `!UnlockMyADAccount -Domain DomainA

[2018-06-25 15:49] devblackops commented on #84
@kilasuit When PoshBot executes the command as a PowerShell job, it also populates a variable in the jobs' session called `$global:PoshBotContext`. This variable will include extra metadata about how the command was called that you can use as you see fit. This object includes two properties called `From` and `FromName`. These will hold the Slack ID and handle of the user who executed the command.

[2018-06-27 13:43] lc9er commented on #68
@devblackops - I talked to you on Reddit about Teams integration. I'd be happy to test (and contribute if it's not above my head) if you're able to get something working.

[2018-06-27 20:55] JasonNoonan opened #85 "ScheduledCommands fire off every IntervalMS from the time the schedule is created, not when the command is scheduled to run"
## Expected Behavior
My coworker schedules the `!dilbert` command to fire every day at 7AM.  I expect that on the next cycle after the scheduled time has passed, the command will be fired off.

## Current Behavior
When the ScheduledCommand is created and initialized, a StopWatch object is created and the timer is started.  Every cycle, the StopWatch is checked to see if it is greater than the defi

[2018-06-27 20:56] JasonNoonan commented on #85
I have fixed this in my local module's files.  I'll clean it up to match with your coding standards and send a merge request once I get some spare cycles.

[2018-06-28 03:03] devblackops commented on #85
Ooh! Thanks for catching that!

[2018-07-03 19:41] devblackops commented on #84
@kilasuit I'm working on `v0.11.0` which should make this easier.

In `master`, I've added more user information to `$global:PoshBotContext` which you can do with as you with. Specifically, the `CallingUserInfo` property probably has what you want. This property has what Slack makes available about users.

[code]

Combining this info and custom [middleware hooks](https://github.com/poshbotio/PoshB

[2018-07-20 08:27] dizzi90 commented on #68
Available for testing. You know that from Slack, but reflecting it here as per your request to bump.

[2018-07-20 08:28] dizzi90 commented on #68
@devblackops Available for testing. As you know from Slack.

[2018-07-23 10:20] kilasuit commented on #82
still no joy with this I'm afraid

[2018-07-25 16:09] akuehner opened #86 "PoshBot crashes whenever a command is run"
## Expected Behavior

Fresh install of PoshBot, brand new config using guides in the repo. After running `$bot.Start()` bot should start and keep running while commands are sent from Slack.

## Current Behavior

Bot stops whenever any text is sent to Slack channel - doesn't even attempt to run the command.
I then tried this fix:
[code]
Bot no longer crashes on any text being sent in Slack, but the

[2018-07-26 11:33] dizzi90 commented on #68
@devblackops
Could you give a quick description of the Service Bus / App function set up? Also what a minimal config would look like to get the implemented functions up. I know that steals from dev time, but I might be able to contrib a PR or some error descriptions if I get it up.

I have created Service bus and Bot function and App function in azure. I think I have the Bot function talking to th

[2018-07-27 00:21] devblackops commented on #68
@dizzi90 No problem, I'll write up a quick start doc on how I have it setup. I'm eager to get others testing this as well.

[2018-07-27 00:22] devblackops commented on #86
Thanks for the report @akuehner. I'll try to repro on my end.

[2018-07-28 04:02] devblackops commented on #68
@dizzi90 Here is a quick hacked together doc.

https://github.com/poshbotio/PoshBot/blob/feat%2Fteams/docs/guides/backends/setup-teams-backend.md

Let me know if that works.

[2018-07-28 21:30] ChrisLGardner commented on #68
When I try to build the teams branch of PoshBot I'm getting the following error:

[code]

I originally got the branch last week some time and it built fine then but I pulled in the latest changes before following those instructions and now I get that. Is it something obvious I'm missing?

[2018-07-28 22:45] devblackops commented on #68
@ChrisLGardner This commit is probably the cause.
https://github.com/poshbotio/PoshBot/commit/9c8c66b24a58ad2340da5340993aa06889794389

I had thought I could use a single version of the DLLs across OSes but apparently not. Try this commit.
https://github.com/poshbotio/PoshBot/commit/7dfe14dfb6a2e81fc417772fa4774a29095666d2. I’ll fix later tonight when I’m at a computer.

[2018-07-29 03:41] devblackops commented on #68
@ChrisLGardner Fixed in https://github.com/poshbotio/PoshBot/commit/0fcf9c139b1070d7e2d668bb15d67d3943a617c6

[2018-07-29 06:31] devblackops commented on #68
Teams support is now in the master branch.

[2018-07-31 11:51] tadcrazio opened #87 "When starting a thread on a message that contains a command. Poshbot executes the command each time."
## Expected Behavior
When executing a command VIA poshbot then starting a thread on that command. I would expect all users in that thread to be able to add messages without executing the initial poshbot command.

## Current Behavior
What happens currently is when a command is sent to poshbot, then a thread is started on that command. Each time there is a new message poshbot will execute that comma

[2018-07-31 20:32] ChrisLGardner commented on #68
I have everything set up (I think) and can see messages from Teams going through to Service Bus correctly but PoshBot isn't picking them up and I'm seeing no output in the PS window where it's running. I did some digging into the log file and found a lot of these messages:

[code]

A quick search of the repo doesn't reveal anything for that assembly (either with the full name or just DiagnosticSou

[2018-08-02 04:00] scrthq opened #88 "Add CustomData parameter to New-PoshBotCardResponse"
Having a `[Object]CustomData` parameter available on `New-PoshBotCardResponse` would enable backend developers to receive fully formatted response data specific to their use case. Having it in a custom stream would allow two different backends to leverage the same plugin library as well, as built-in backends would skip the CustomData while the custom backend can only look at that CustomData.

## E

[2018-08-03 03:25] devblackops commented on #88
Fixed in #89

[2018-08-03 03:25] #88 closed

[2018-08-03 03:26] devblackops commented on #85
@JasonNoonan How is the PR coming?

[2018-08-03 03:28] #84 closed

[2018-08-03 03:28] JasonNoonan commented on #85
I'll have to go double-check, but last time I looked at the code it appeared that the issue had already been resolved.  Apologies for the delay, I've been pretty wrapped up in work.

[2018-08-03 03:34] JasonNoonan commented on #85
Alright, non-zero chance that I'm an insane person and imagined seeing the fix. Away I go!

[2018-08-03 04:46] devblackops commented on #68
@ChrisLGardner Can you try this in PowerShell 6? I think I've isolated it to PowerShell 5.1

[2018-08-03 10:12] ChrisLGardner commented on #68
@devblackops That works great in PS 6. I've got it responding in personal chats and in channels.

[2018-08-03 21:46] ChrisLGardner opened #91 "Teams Backend auth token expires after some period of inactivity"
Following discussion on Slack, the auth token for the Teams backend to respond to messages expires after some period (apparently 3600 seconds). I'd noticed it return 401 errors after roughly 20 minutes of inactivity

## Expected Behavior
Teams backend refreshes token automatically to ensure continued connection.

## Possible Solution
Possibly refresh the token every 10 minutes of inactivity? or so

[2018-08-05 01:35] davemacneill opened #92 "netstandard.dll' or one of its dependencies. Reference assemblies should not be loaded for execution. They can only be loaded in the Reflection-only loader cont ext. (Exception from HRESULT: 0x80131058) --> Cannot load a reference assembly for execution."

[2018-08-05 04:07] devblackops commented on #92
@davemacneill Did you receive this on Windows with PowerShell 5.1? If so, this is a known issue and is being worked on.

[2018-08-05 04:32] davemacneill commented on #92
yes should i use powershell 6?

[2018-08-05 05:03] devblackops commented on #92
The Teams backend should be functional on PowerShell 6. I'm working on 5.1 support now.

[2018-08-06 14:56] akuehner commented on #86
Hey @devblackops - find anything and/or anything else I can do to assist in this?

[2018-08-07 03:02] devblackops commented on #86
@akuehner Do you have some logs you can share?

[2018-08-07 22:04] dbr787 opened #94 "Feature Request: Interactive Message Buttons"
https://api.slack.com/docs/message-buttons

It would be great to be able to display interactive message buttons for things like command approvals, command options, and even just an 'Are you sure?' where appropriate. Some of the examples use '--force' to ask the user if the command is correct, buttons would be much nicer.

Just wanted to check if this is being considered or worked on?
Maybe it's al

[2018-08-08 04:19] devblackops commented on #91
@ChrisLGardner Check out commit 4d054c5883a6b55dbdd9c1fc973b3a9c1c60e92d and see if this fixes the token expiration issue.

[2018-08-09 06:42] #85 closed

[2018-08-09 13:10] ChrisLGardner commented on #91
@devblackops That looks like it's sorted that out now, the bots been running for 3+ hours with hour+ gaps between each message to make sure.

Thanks

[2018-08-09 13:10] #91 closed

[2018-08-10 12:35] gerane commented on #91
@devblackops @ChrisLGardner  yup, been running for a couple days for me now =)

[2018-08-10 15:56] devblackops commented on #91
Awesome!

[2018-08-17 16:48] donfouts opened #95 "adding job to tracker while Running as windows service"
## Expected Behavior

When running the bot as a service using Nssm to execute a ps1 file
`
Import-Module PoshBot -force
$pbc = Get-PoshBotConfiguration -Path d:\tools\poshbot\PoshBotConfig.psd1

while($True) {
    try {
        $err = $null
        Start-PoshBot -Configuration $pbc -Verbose -ErrorVariable err
        if($err) {
            throw $err
        }
    }
    catch {
        $_ | Format

[2018-08-20 10:09] ronniekapoor opened #97 "How can i integrate this with Skype for business?"
## Expected Behavior

I need to integrate poshbot with skype for business

## Current Behavior

## Possible Solution

Is there a possible solution?
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell version:

[2018-08-26 05:10] scrthq opened #98 "Add CardClicked to `enum MessageType`"
[Associated PR #99](https://github.com/poshbotio/PoshBot/pull/99)

Custom backends like Google Chat also send `CardClicked` events for interactive cards when buttons or images are clicked. This will allow the additional `MessageType` so that backends can leverage it natively

## Expected Behavior
Adding CardClicked to the enum will cause no impact to existing PoshBot users, it only enables other b

[2018-08-27 05:53] devblackops commented on #97
@ronniekapoor I haven't investigated a Skype for Business backend yet but since there appears to be support for Bot Framework I suppose it's probably possible.

https://docs.microsoft.com/en-us/skype-sdk/skype-for-business-bot-framework/docs/overview

[2018-08-27 05:57] devblackops commented on #98
Thanks @scrthq. Merged!

[2018-08-27 05:57] #98 closed

[2018-08-27 06:10] devblackops commented on #95
@donfouts Does your command execute successfully and return output? Is your question about what this message means? Sorry I'm a bit confused.

The tracking message is normal behavior. Every command **not** part of the builtin plugin gets executed as a separate job, regardless if the bot itself is run as a service. This is so faulty plugin commands do not crash the bot and for the potential for com

[2018-08-27 20:46] gerane opened #100 "removeplugin is not calling remove-module"
When removing a plugin, remove-module is not being called. This means the module is not unloaded if a new version of the module is installed. Poshbot will be unable to properly detect imported commands

https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Classes/PluginManager.ps1#L186

## Expected Behavior
!rp should also call remove-module

## Current Behavior

## Possible Solution

## Steps

[2018-08-28 04:47] #100 closed

[2018-08-28 04:48] devblackops commented on #100
@gerane This should be fixed now with commit 787094ac62bb658e9865bde46fc8bbc60f3c31d4

[2018-08-30 17:11] delrio1110 commented on #68
where do i paste function.json code into? I created the azure function app and added the PS1 code there but have no clue where to put function.json. Please help.

[2018-09-02 01:48] delrio1110 commented on #68
@devblackops can you help me with this error im getting in azure when setting  posh bot for teams?

2018-09-02T01:42:11.405 [Error] Exception while executing function: Functions.Azure. Microsoft.Azure.WebJobs.ServiceBus: Microsoft Azure WebJobs SDK ServiceBus connection string 'Endpoint=sb://REMOVEDwindows.net/;SharedAccessKeyName=receive;SharedAccessKey=REMOVED=;EntityPath=messages' is missing or

[2018-09-02 03:48] delrio1110 opened #101 "'New-PoshBotTeamsBackend'"
Im setting up the Poshbot with Teams and im getting the following error when I try to start it .

New-PoshBotTeamsBackend : The term 'New-PoshBotTeamsBackend' is not recognized as the name of a cmdlet, function, script file

I pulled from the Master, should I pull from the teams branch?

[2018-09-02 04:01] devblackops commented on #101
All the Teams functionality has been merged to master so no need to pull the other branch.

Did you run `./build.ps1 build` and then import the version of the module that is in the `out` folder?

[2018-09-02 04:09] #26 closed

[2018-09-02 04:31] delrio1110 commented on #101
That did it!  Thank you sir and great work on this awesome bot. Does this need PS6?

[2018-09-02 04:39] #101 closed

[2018-09-02 04:58] devblackops commented on #101
Yes. Teams support is only available in PS6 (for now). Once I get it working in PS5.1 I will publish it.

[2018-09-02 21:06] delrio1110 opened #102 "Bot crashes when sending command - TEAMS"
Powershell version 6.0.4
This is what I get when I Type !help in teams or any other bot function. Please help. Im also documenting the start to finish setup process and I can I give it to you so that anyone having issues or if they arent familiar with Azure can follow.

WARNING: {"DataTime":"2018-09-02 20:18:24Z","Class":"TeamsBackend","Method":"UsernameToUserId","Severity":"Warning","LogLevel":"D

[2018-09-02 21:32] devblackops commented on #102
@delrio1110 When you define your bot admins in your config, make sure you're using the UPN. I don't think it's able to resolve your username to an ID.

[2018-09-03 22:04] delrio1110 commented on #102
Ill try that and report back

[2018-09-03 22:07] delrio1110 opened #103 "How would you get the users email address?"
I created a function to send email but Im not sure how to get the users slack email address who submitted the request. Also how do I submit these as a question and not as issue?

[2018-09-04 16:18] devblackops commented on #103
@delrio1110 When PoshBot runs a command, it does so in a separate PowerShell job. I insert a global variable in that session called `$global:PoshBotContext` which has a bunch of useful info you can use in your command, including the calling user info. See [this issue](https://github.com/poshbotio/PoshBot/issues/84#issuecomment-402270984) for more info.

In short, you should be able to reference `$

[2018-09-04 18:17] ChrisLGardner opened #104 "Add Source Application/backend type to $Global:PoshbotContext"
Based on #103 and #84 you can get a bunch of information about the PoshBot context for use in commands being run by the bot. Now that there is support for Teams and Slack and other backends on the way it would be useful to include which application or backend the message came from.

The first use case I've noticed this would be good for is plugins like xkcd that can return images or links, Slack w

[2018-09-04 20:30] delrio1110 commented on #103
Thank you, that did it!!!1

[2018-09-04 20:30] #103 closed

[2018-09-04 20:42] devblackops commented on #104
Makes sense @ChrisLGardner

Would you envision a new a new property on `$global.PoshBotContext` called `BackendType` or similar?

One potential issue I could see is people can create their own backends outside of PoshBot (like the [GChat backend](https://github.com/scrthq/PoshBot.GChat.Backend)) and PoshBot won't be directly aware of what type they are as they are all inherit from the `Backend` cl

[2018-09-04 20:56] ChrisLGardner commented on #104
That's pretty much what I was thinking, I was going to have a look and see if I could add it myself but I haven't done enough with classes in PS yet to dive in to something this complex.
________________________________
From: Brandon Olin <notifications@github.com>
Sent: Tuesday, September 4, 2018 9:42:03 PM
To: poshbotio/PoshBot
Cc: Chris Gardner; Mention
Subject: Re: [poshbotio/PoshBot] Add Sour

[2018-09-05 09:05] ChrisLGardner commented on #104
I decided to have a go at it anyway and it seems to work from my limited testing.

[2018-09-06 04:44] #87 closed

[2018-09-08 15:55] delrio1110 commented on #102
I rebooted and now its working.

[2018-09-08 15:55] #102 closed

[2018-09-08 16:51] #104 closed

[2018-09-09 04:45] delrio1110 opened #106 "does sending files in teams working or no?"

[2018-09-09 06:58] devblackops commented on #106
Teams does not officially support file uploads from a bot yet. The is experimental support if you enable **developer preview** in Teams and mark the bot and supporting file uploades via the [bot manifest](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema#bots).

I have some of the process already coded but need to finish and test.

[2018-09-09 07:00] devblackops commented on #92
This issue should be resolved with commit 84f805261d2c2c7301f90a33b30c00b32efcc98c.

[2018-09-09 07:00] #92 closed

[2018-09-09 16:03] delrio1110 commented on #106
awesome, thanks. awesome work!!!

[2018-09-10 12:08] delrio1110 commented on #68
@devblackops  any update on the PS5.1?

[2018-09-10 15:44] devblackops commented on #68
@delrio1110 `v0.11.0` was published yesterday with Teams support and PS 5.1 should work but try it out and let me know if you find any issues!

[2018-09-10 21:17] delrio1110 commented on #68
thank you, so far so good!!!!!

[2018-09-11 02:28] #106 closed

[2018-09-11 02:29] delrio1110 opened #107 "Is it possible to only show the commands you have access to when running help."

[2018-09-13 15:01] RamblingCookieMonster opened #108 "Certain characters like ampersand are not decoded before executing a command"
If you run a command that includes `&`, for example... `!u -ldapfilter '(&(some=query)(some=query))'`, PoshBot will try to execute the code with `\u0026amp;` rather than `&`.

This may be limited to the Slack back end.  Haven't dug too deep.

## Expected Behavior

PoshBot decodes input messages to allow characters like `&`

## Current Behavior

Example logs:

[code]

## Possible Solution

Sorry, j

[2018-09-13 15:29] AndrewPla opened #109 "Pasted messages from Teams add prepended Line Breaks '\r\n'"
If you paste a command into Teams and send it to poshbot it adds some whitespace "\r\n" to the command.

## Expected Behavior
Paste "!Get-Something" into Teams and send to poshbot.
PoshBot will recognize that it begins with '!' and will interpret it as a bot command.

## Current Behavior
Paste "!Get-Something" into Teams and send to poshbot.
PoshBot interprets the command as beginning with \r\n ra

[2018-09-13 15:30] vmarlier opened #110 "[Very Early Bug] Warning: Could not resolve user ["username"]"
Hi,

I'm testing poshbot for the first time for create a slackbot for AD password reseting.
So I just download few hours ago the poshbot module and try to install and start with the given code in the README.md.

`Install-Module -Name PoshBot -Repository PSGallery

Import-Module -Name PoshBot

$botParams = @{
    Name = 'bender'
    BotAdmins = @('admin')
    CommandPrefix = '!'
    LogLevel = 'Deb

[2018-09-14 03:00] gkingston opened #112 "Using Teams backend: Bot responds to commands in chat, won't in channel"
## Expected Behavior
Bot responds to commands like !status in a channel that has the url-decoded id from the correct portion in the teams link in the TeamId in the backendConfig like the example in the docs.  I also have  Scope set to both Personal and Team in the Edit your Bot information screen

## Current Behavior
Everything works great for me in a Chat with the bot.  The bot has been added to

[2018-09-14 03:39] devblackops commented on #110
@vmarlier In your bot configuration, make sure you're specifying a valid Slack ID for `BotAdmins`.

[code]

Slack has multiple names that users are known by such as their full name, display name, email address, and username. PoshBot requires one or more administrators who can issue privileged commands and requires the username for this. To determine your username, navigate to the URL below replaci

[2018-09-14 05:26] devblackops commented on #112
@gkingston Curious. Do you see any errors in the logs? Try setting the `LogLevel` to `Debug` in the configuration file.

[2018-09-14 06:39] ChrisLGardner commented on #112
Are you @'ing the bot before issuing the command? It caught me out a few times but you should be doing `@botname !status` and that should correctly trigger the bot, if you don't @ the bot then the messages aren't actually sent to it using the bot framework.
________________________________
From: Brandon Olin <notifications@github.com>
Sent: Friday, September 14, 2018 6:26:56 AM
To: poshbotio/PoshB

[2018-09-14 06:45] devblackops commented on #112
Ah yes. With Teams, you **must** @mention the bot when in a channel. Otherwise, Teams will never send the message to Bot Framework and PoshBot will never see it. In one-on-one conversations with the bot, that isn't needed.

[2018-09-14 12:57] vmarlier commented on #110
@devblackops thanks a lot 👍

[2018-09-14 12:57] #110 closed

[2018-09-14 13:52] gkingston commented on #112
I've tried it both with and without @'ing the channel.  Doing it just now, I did see that it couldn't resolve the channel.  The channel is identical to what I have for my TeamId in the PoshBotStartup file.  It does seem to be picking up the command though.  I hope this isn't related to my foolish naming of my bot as I have a + sign in the bot name.

`WARNING: {"DataTime":"2018-09-14 13:39:14Z","Cl

[2018-09-14 14:02] gkingston commented on #112
Looks like I was doing this wrong.  Instead of doing `@botName !status`, if I do `!status @botName` it works.

[2018-09-14 14:47] ChrisLGardner commented on #112
Either approach works for me but I don't have any special chars in my bot name.

I suspect sending the bot name after the command might cause issues when you start using commands that accept parameters but I haven't looked at the command parsing properly to know if PoshBot automatically removes it's own name from the incoming data (I'd assume so).

[2018-09-14 14:49] gkingston commented on #112
Thanks @ChrisLGardner and @devblackops  for the help.  I foolishly have a + sign in my bot name and probably need to change that.

[2018-09-14 16:06] gkingston commented on #112
Thanks @devblackops .  I had some issues setting up my bot with teams and permissions and what not insiitally.  I had the name of an older bot from testing in there vs the new name so the name in my config didn't match what was being stripped out.

I appreciate all the help.

[2018-09-14 16:06] #112 closed

[2018-09-15 20:51] delrio1110 opened #113 "Are triggers working in Team?"
I copied your example trigger to say hi when someone joins and nothing happens

[2018-09-17 03:08] devblackops commented on #113
@delrio1110 Currently the Teams backend doesn't support event-based triggers. What Teams supports for events is different than Slack as well. I'd like to add support for events but haven't gotten to it yet.

https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-notifications

[2018-09-17 07:38] oitptobbe opened #114 "'poshbot-teams_RootManageSharedAccessKey_SERVICEBUS' is missing or empty."
Followed the guide https://poshbot.readthedocs.io/en/latest/guides/backends/setup-teams-backend/
And when I come to the test part I get "couldn't send, retry". So I opened the function apps log file for the teamswebhook and get

2018-09-17T07:31:58.196 [Info] Function started (Id=GUID)
2018-09-17T07:31:58.320 [Error] Exception while executing function: Functions.TeamsWebhook. Microsoft.Azure.WebJo

[2018-09-17 07:39] oitptobbe opened #115 "ServiceBus connection string 'poshbot-teams_RootManageSharedAccessKey_SERVICEBUS' is missing or empty."
Followed the guide https://poshbot.readthedocs.io/en/latest/guides/backends/setup-teams-backend/
And when I come to the test part I get "couldn't send, retry". So I opened the function apps log file for the teamswebhook and get

2018-09-17T07:31:58.196 [Info] Function started (Id=GUID)
2018-09-17T07:31:58.320 [Error] Exception while executing function: Functions.TeamsWebhook. Microsoft.Azure.WebJo

[2018-09-17 07:40] oitptobbe commented on #114
Duplicate issue

[2018-09-17 07:40] #114 closed

[2018-09-17 07:54] oitptobbe commented on #115
When I went to the function -> TeamsWebHook->Integrate I had the option to select the service bus connection and then it worked.

[2018-09-17 07:54] #115 closed

[2018-09-19 05:42] timparkinson commented on #92
I was getting this too on module import (which includes at command runtime). I just commented out the Add-Type call for now until there is another release, which seems to work fine.

[2018-09-19 06:28] timparkinson commented on #92
Fresh install from the gallery on a fresh install of Windows Server 2016 a couple of days ago.

PoshBot v0.11.0
(c) 2018 Brandon Olin. All rights reserved.

https://github.com/poshbotio/PoshBot

In poshbot.psm1
[code]

I'm using Slack.

[2018-09-19 18:38] donfouts commented on #95
Thanks for that explanation.
@devblackops - Does your command execute successfully and return output? no (not when running poshbot as a windows service)

so trying to troubleshoot it might be a permissions issue with the user running the service - but i can't see the output or any errors from the new powershell job.

so is there a way to capture what is happening in that powershell job running my

[2018-09-20 03:51] devblackops commented on #92
Good catch! `netstandard.dll` isn't needed anymore on PS5 or 5.1.

[2018-09-21 20:20] gkingston opened #116 "Scheduled(once) command crashes bot trying to call StopTimer()"
## Expected Behavior
Scheduled command runs one time

## Current Behavior
I scheduled the !status command to run one time a few mintues from my current time to see how scheduled tasks work.  Looking at the logs, I believe it did run, but the whole bot crashed out after trying to remove the timer.

The command I ran:
`!new-scheduledcommand -command status -startafter '2018/09/21 08:08pm' -once`

Re

[2018-09-23 10:38] timparkinson commented on #92
Cheers!

[2018-09-24 19:09] Tadas opened #117 "Changes to plugins aren't picked up after bot restart"
While working on a plugin I've added a new function to the plugin module. I've restarted PoshBot but the new function isn't detected. Changes to existing functions seem to get picked up.

## Expected Behavior
If I make changes to a plugin module and restart the bot I'd expect the changes to become live

## Current Behavior

## Possible Solution
Add `-Force` to Import-Module ?
https://github.com/po

[2018-09-24 20:05] gkingston commented on #117
I don't know if there is an official/better way, but I don't restart the bot.  I make changes to my plugins and then I run `!rp sompluginname` to remove it, followed by `!ip somepluginname` to install it again.  There is also the command `!updateplugin somepluginname` to update the existing plugin.

If you are just restarting the bot, it will keep the same plugin version you've already loaded.

My

[2018-09-25 08:43] Tadas commented on #117
Yeah `!rp` would work since https://github.com/poshbotio/PoshBot/issues/100 has been fixed

Still, it's kind of surprising that restarting something doesn't completely re-initialise the state, it's one of the core tenets of IT :)

[2018-09-25 14:54] devblackops commented on #117
@Tadas Adding `-Force` here will probably work. I suspect that is why your changes to a plugin/module without changing the version is why they aren't being picked up. https://github.com/poshbotio/PoshBot/blob/d1fba821896d58a01656b01a5224e6be0171ea06/PoshBot/Classes/PluginManager.ps1#L467

When you say you're restarting the bot, are you running it interactively, as a job, or as a service? Depending

[2018-09-25 14:59] devblackops commented on #116
@gkingston Commit d6f4b3e773ec6893f970e49e720c0cabaa4c05d8 revamped how the schedules are calculated and removed the `StopTimer()` method from the `ScheduledMessage` class but there is still a reference in the `Scheduler` class.

I'll fix. Sorry about that!

[2018-09-26 18:17] #117 closed

[2018-09-28 15:34] gyamada619 opened #119 "Plugins All Reporting Error"
## Expected Behavior
Plugin should run basic command, like xkcd command.

## Current Behavior
XKCD, Giphy, and example plugin all return:

"Could not load file or assembly 'file:///C:\Program Files\WindowsPowerShell\Modules\PoshBot\0.11.0\lib\windows\netstandard.dll' or one of its dependencies. Reference assemblies should not be loaded for execution.  They can only be loaded in the Reflection-only

[2018-09-28 21:39] Tadas commented on #119
I think this is due to the .NET version on your server, people report that installing 4.7.2 fixed their issues.

https://github.com/Microsoft/powerbi-powershell/issues/41
https://github.com/PowerShell/PowerShell/issues/4894
https://blogs.msdn.microsoft.com/dotnet/2017/09/28/net-framework-4-7-1-runtime-and-compiler-features/

[2018-10-02 01:10] AngleOSaxon opened #120 "StartAfter set in the past causes commands to run multiple times"
## Expected Behavior

When a command is scheduled with an `IntervalMS` and a `StartAfter` value, it will execute on the `StartAfter` time and each subsequent time the `IntervalMS` elapses after the `StartAfter`.

If the `StartAfter` time is in the past and the schedule has just been created, the command will execute immediately and will execute again on each passing of the `IntervalMS`.

* For exa

[2018-10-02 15:37] devblackops commented on #119
@gyamada619 This should be fixed in d1fba821896d58a01656b01a5224e6be0171ea06. I've published `v0.11.1` with this change along with removing a few other obsolete DLLs. See if that works.

[2018-10-02 15:51] devblackops commented on #120
Thanks @AngleOSaxon. This looks like a much needed improvement!

[2018-10-03 14:23] gyamada619 commented on #119
@devblackops Thanks! It looks like the .NET version bump fixed our particular issue, but we'll go ahead and update to 0.11.1.

[2018-10-04 03:44] #119 closed

[2018-10-04 19:24] Tadas opened #123 "Incorrect backend names expected when starting as job?"
https://github.com/poshbotio/PoshBot/blob/f60bf5c9ce93be8b38cc909e9bd0785c62873c74/PoshBot/Public/Start-PoshBot.ps1#L106-L108

Docs and examples give the names `SlackBackend` and `TeamsBackend`

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell ver

[2018-10-06 03:30] #123 closed

[2018-10-10 03:45] #68 closed

[2018-10-10 22:43] ThePoShWolf opened #124 "CommandPrefix = '.' causes bot to respond to all messages"
When CommandPrefix is set to '.', it causes the bot to respond to all messages with:

[code]

Commands prefixed with a period still work though.

## Expected Behavior

What should happen is the bot should not respond to any messages except for commands prefixed with a period.

## Current Behavior

Currently when CommandPrefix is set to '.' the bot responds to all messages with:

[code]

## Possibl

[2018-10-10 22:44] ThePoShWolf commented on #124
Also switching the CommandPrefix to '!' completely resolves the issue.

[2018-10-11 00:58] ChrisLGardner commented on #124
The mention that "some command" -match "." would always evaluate to true. I think the solution there is to wrap that in a `[regex]::escape() ` and it should handle using .  or * or other regex characters as the bot command character.
________________________________
From: Anthony Howell <notifications@github.com>
Sent: Wednesday, October 10, 2018 11:44:34 PM
To: poshbotio/PoshBot
Cc: Subscribed
Su

[2018-10-11 03:57] devblackops commented on #124
Thanks for catching this @ThePoShWolf!
Thanks for the suggestion @ChrisLGardner!
Thanks for fixing it @Windos!
👏 👏 👏

[2018-10-11 03:57] #124 closed

[2018-10-11 04:10] ThePoShWolf commented on #124
Oh yeah, just me being lazy and not wanting to reach all the way for the ```!```.

[2018-10-11 05:18] #116 closed

[2018-10-11 05:52] #120 closed

[2018-10-11 06:42] devblackops commented on #108
Thanks @RamblingCookieMonster. This should be fixed now in 975f06be40c8e5c1874586edb49e70f31d91a155.

[2018-10-11 06:53] devblackops commented on #62
I don't think this is an issue anymore.

[2018-10-11 06:53] #62 closed

[2018-10-11 15:05] devblackops commented on #108
Actually use fb03c451652ed16db1ed99382d278073960860d8

[2018-10-12 02:37] devblackops commented on #108
Fixed in https://github.com/poshbotio/PoshBot/commit/fb03c451652ed16db1ed99382d278073960860d8

[2018-10-12 02:37] #108 closed

[2018-10-12 04:15] #78 closed

[2018-10-17 15:40] TomWoodling opened #126 "Command aliases cannot begin with any characters in alternate command prefix"
When I try to set an alias for a command that begins with any of the characters that are in an alternate command prefix, they are not recognized.  Eg, if a bot is named 'testing' I will get the following:
_! test_ - command is executed as expected
_testing test_ - No command found matching []
_! setschedule_ - CommandRequirementsNotMet: Mandatory parameters for [Set-ScheduledCommand] not provided.

[2018-10-18 11:45] TomWoodling commented on #126
@devblackops I've been doing more testing, and I think I know why I have this issue (and tbh I'd be very surprised if it affects anyone else)!  I add the alternate prefix in lower _and_ title case - to work round the case-sensitivity which is inconvenient for users on mobile phones - and that causes the matching characters to not be recognized.  This is why 'bender' and 'hal' are fine as alternate

[2018-10-19 10:18] TomWoodling commented on #126
@devblackops yes, it's working exactly as you say with the case insensitivity, so I've no idea how I managed to break that either! I first used the two prefix method in 0.10.0, but - if it ever was - it's definitely not needed any more.  Thanks for the help, and again, sorry that this was actually all a bit of a misunderstanding on my part.

[2018-10-19 10:18] #126 closed

[2018-10-19 15:38] devblackops commented on #126
No worries!

[2018-10-22 21:07] delrio1110 opened #127 "Feature Request: Send a typing indicator for Teams"
Adding a indicator for teams like the gear in slack.

https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-send-typing-indicator?view=azure-bot-service-3.0

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell version:

[2018-10-22 21:11] delrio1110 opened #128 "Feature Request: Interactive Message Buttons Teams"
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions

[2018-10-25 17:01] delrio1110 commented on #127
Thanks for looking into this. Here is an example picture.

https://1drv.ms/u/s!AnadlvFHl6lShMIEFmmS8FmzEWfVsw

[2018-10-25 21:11] devblackops commented on #127
Thanks @delrio1110. I'll see what I can do.

[2018-10-30 01:13] RamblingCookieMonster commented on #107
I could see something like PowerShell where you have a `Get-Command` esque function and a `Get-Help` esque function?  A switch on `Get-CommandHelp` like you mentioned might also be handy.

I'd love to see this.  Would be helpful to narrow down the output.  I could potentially see something for filtering out built in commands (much less important, not sure if it makes sense)  - guessing we might no

[2018-10-30 01:16] RamblingCookieMonster commented on #83
@Pilosite - do you have any logs + screenshots to capture what you see, and what happens in the logs?  I see similar behavior every so often, I'll capture some and post it here next time I notice it and have time!

[2018-10-30 06:09] devblackops commented on #83
I have a sneaking suspicion this is because of the way output is retrieved from the Slack backend but some additional logging needs to be put in place to be sure.

The Slack backend connection instance runs as a separate job and writes JSON messages to the output stream.

In the `ReceiveMessage()` method, we read the output stream and convert the JSON strings to objects.
https://github.com/poshbot

[2018-10-30 21:15] Pilosite commented on #83
Hi,

Yes I think the issue is somewhere there. I have the issue more often when
the bot is for example with several scheduled tasks at the same time. I'm
planning to use a dedicated bot to handle scheduled tasks to free the main
bot from other task except respond to user. But the issue also arise if
another or several users ask something to the bot at the same time.

I will have a look on how you

[2018-11-03 15:56] DWOF opened #131 "When adding a channel rule the default does not get removed"
## Expected Behavior
When setting the channel rules in the configuration it should replace the default rule that allows all commands in all channels

## Current Behavior
When setting the channel rules in the configuration it merges with the default rule that allows all commands in all channels

## Steps to Reproduce (for bugs)
[code]

## Context
Unable to limit commands in slack channels

## Your

[2018-11-07 05:32] devblackops commented on #131
Thanks @DWOF! Fix merged in.

[2018-11-07 05:32] #131 closed

[2018-11-13 16:07] Bizarrorollins opened #133 "Middleware Configurations are not Importing"
Middleware Configurations set in a Poshbot Configuration file are not being loaded using the `Get-PoshBotConfiguration` command

## Expected Behavior

Middleware Configuration should be imported and set within $config.middlewareconfiguration

## Current Behavior

Any middleware configurations appear to be ignored and need to be loaded separately from the configuration file setup

## Possible Solut

[2018-11-26 15:48] Bizarrorollins commented on #133
Oh Ok. I will give that a try. I should mention that the configuration file was not generated by hand and this created using `Save-PoshBotConfiguration` although admittedly it may have originally been created using a pre-0.11.1 version of the module.

[2018-12-01 15:23] michaeltlombardi opened #135 "Add Discord Backend"
## Expected Behavior
I can add PoshBot to Discord.

## Current Behavior
I cannot add PoshBot to Discord.

## Context
Discord is huge in the gaming community and is a strong contender for Slack with communities - I've got some ideas for game-related chatbot plugins (D&D, etc) and want to realize them.

[2018-12-01 15:26] michaeltlombardi opened #136 "Missing Backend Development Docs"
## Expected Behavior
The backend development documentation exists and walks developers through concerns and tips.

## Current Behavior
The document is an empty file with a header.

[2018-12-17 15:57] dekarl commented on #68
[FYI. I asked this in the last Teams AMA over at techcommunity. No reply yet.](https://techcommunity.microsoft.com/t5/Microsoft-Teams-AMA/Do-you-have-an-ETA-for-on-premise-bots/m-p/299196#M2750)

[2018-12-19 13:37] TobyHawkes opened #138 "TLS changes causing MS teams to fail"
Our MS teams poshbot stopped responding to messages recently

## Current Behavior
An error is logged in poshbot.log "Error authenticating to Teams" which is caused by Invoke-RestMethod
"The underlying connection was closed: An unexpected error occurred on a send."
The command it is running is: $members = Invoke-restmethod -uri $uri -headers $headers
which is on line 7939 (in version 0.11.3)

## Po

[2018-12-19 16:39] devblackops commented on #138
Thanks for reporting this @TobyHawkes! Easy fix to ensure we're using TLS 1.2 with the code you provided.

[code]

[2018-12-19 17:06] TobyHawkes commented on #138
Great, thanks for the quick response

[2018-12-19 23:43] donfouts commented on #95
I am bumping this - I have upgraded to 0.11.3
and setup a new instance running as a service as per the directions and i am still seeing this
`{"DataTime":"2018-12-19 23:34:33Z","Class":"PluginManager","Method":"MatchCommand","Severity":"Normal","LogLevel":"Info","Message":"Matched parsed command [:new-sqlrun] to plugin command [runsql:New-sqlrun]","Data":{}}
{"DataTime":"2018-12-19 23:34:34Z","Cla

[2019-01-10 14:36] RamblingCookieMonster opened #139 "Slack username changes"
Back in 2017, Slack changed the way names were handled, making PSSlack's `name` somewhat useless.  It might be worth moving to `displayname`.

In a number of functions, I map a Slack @ name (discoverable by users by simply typing) to another identity system via some sort of map.  It would be helpful to keep the names exposed by poshbot consistent with the names you can @ mention.

* [Details on th

[2019-01-12 05:49] devblackops commented on #139
@RamblingCookieMonster I'm gonna have to read up on this a bit.  All the different names is making my head hurt 🤕

[2019-01-12 06:19] #133 closed

[2019-01-12 06:41] #138 closed

[2019-01-26 06:57] markroloff opened #141 "Error authenticating to Teams (403) Forbidden"
Worked through the docs for setting up the Teams backend and have hit a roadblack. Bot appears to be receiving messages fine but fails to authenticate to Teams when attempting to convert the user id. Repeated in both private and public teams.

## Expected Behavior

`@poshbot !about`

_bot proceeds to tell me nice things about itself_

## Current Behavior

Shell output displays...

[code]

PoshBot.

[2019-01-29 00:36] devblackops commented on #141
@markroloff Do you have your bot framework id/password defined in the backend configuration? PoshBot will use an SAS key to receive messages from Service Bus and the bot id/pwd to post messages back to Teams or to retrieve user information like it is trying to do in this case.

[2019-01-29 15:36] markroloff commented on #141
@devblackops I double-checked those last night and ran into the same issue. For the sake of my sanity, I'm going to take a scorched-earth approach and start it over from scratch just to make sure I didn't miss something silly. Will report back.

[2019-01-29 17:05] devblackops commented on #141
Interesting. Are you going to run through the docs end-to-end? I'd love to know if I missed a key step or if something is unclear.

You may also try and set this in your script:
[code]

This was fixed in https://github.com/poshbotio/PoshBot/issues/138

[2019-02-04 21:56] mgeorgebrown89 opened #142 "PoshBot crashes when updating plugin when run as a scheduled task or service."
When running PoshBot as a scheduled task or a service, the Update-Plugin command causes poshbot to crash. I am able to work around this by using remove-plugin and then install-plugin, and this is only a minor inconvenience.

## Expected Behavior
!Update-Plugin should update a plugin.

## Current Behavior
PoshBot responds with the gear icon, then switches to the red exclamation mark. It no longer r

[2019-02-05 17:48] devblackops commented on #142
Thanks for the issue @mgeorgebrown89. I'll try and reproduce on my end.

[2019-02-05 22:32] mgeorgebrown89 opened #143 "My poshbot plugin works inconsistently."
I'm still working on a POC for this, but I'm struggling to get my plugin to work correctly. Right now, all I'm trying to do is create a wrapper of some AD module functions, in this instance the Get-ADOrganizationalUnit function.

Basically, when I run this method through Slack, it only returns some of the OUs. I just tested this further by installing the ActiveDirectory Module as a plugin and runn

[2019-02-05 23:11] mgeorgebrown89 commented on #143
Did some more testing...

I have two functions in my plug in. All they do is call AD module functions.
`function Get-VEC_UserCount {
    Write-Output ((Get-ADUser -Filter *).count)
}`
This returns the same value in Slack and in PowerShell.

`function Get-VEC_ADOUcount {
    Write-Output ((Get-ADOrganizationalUnit -Filter *).count)
}`

This returns very different numbers. I can't seem to find what

[2019-02-06 00:34] mgeorgebrown89 commented on #143
So I just confirmed that it was something on my end. This issue can be closed.

PoshBot was running as a service, but logging on as the localsystem, which meant it didn't have access to return everything. I was comparing this to my admin account, hence the discrepancy.

Oops.

[2019-02-06 00:34] #143 closed

[2019-02-06 04:14] devblackops commented on #143
Ah. That makes sense. You may try running is as an AD service account but I would recommend *not* using any kind of privileged user. PoshBot has a way to inject credentials and other types of parameters into functions at runtime. http://docs.poshbot.io/en/latest/tutorials/plugin-development/advanced/config-provided-parameters/

[2019-02-06 14:56] mgeorgebrown89 commented on #143
What's the concern with that specifically? If I control access to the bot at the top level with all the builtin RBAC stuff, shouldn't that be okay? If I provide creds in the config file (which I plan to do for API work), those functions are still accessible by whoever has access...

[2019-02-06 15:03] ChrisLGardner commented on #143
I'd always apply a defense in depth approach to these things, especially when something like AD is involved. More so when you're doing things with Set or Update or similar state changing verbs. I'd never want to rely on an end users creds to stop people getting around rbac.

I'd probably even look at implementing JEA to let the bot remote into endpoints and lock down what it can do that way too.

[2019-02-06 15:10] mgeorgebrown89 commented on #143
Yeah, those are good points. I'm going to test the above suggestions today. The thing about conventions though is that we have a few different completely isolated domains in different data centers that my stretch goal involve setting a bot in each one, with the "VEC_" preffix changing depending on the domain.  There may be a better way of doing that, but I'm only setting up the one for now.

[2019-02-06 15:15] ChrisLGardner commented on #143
Just drop the _ and it'll be the same and let's you (mostly) maintain that convention..

I'd usually advocate for using the .net method for casing of acronyms too, which is that in anything 3 or longer is done in mixed case, so VEC becomes Vec. It makes things more readable at a glance usually as it's easier to differentiate where the words change.
________________________________
From: Michael G.

[2019-02-06 17:27] markroloff commented on #141
Sorry for the delay. Been swamped with work. Got it working this time around, so I must have fubared something along the way originally. I suspect it was with configuring the bot manifest in Teams.

However, after going through the steps more closely, I found that the function app's connection string name differs from what gets configured in the settings. I'll send a PR to you for that.

[2019-02-06 17:27] #141 closed

[2019-02-07 19:15] 1DontEx1st commented on #139
Is this what's causing my freshly-installed bot to throw "User [xxxxxx] not found", "Could not resolve user [xxxxx]", and "Unable to resolve ID for admin [xxxxxx]"?

[2019-02-07 19:36] devblackops commented on #139
Could be @1DontEx1st. Rightnow, PoshBot uses the `nickname` to map users to their IDs.

[2019-02-07 20:30] RamblingCookieMonster commented on #139
You can validate it @1DontEx1st - get your token, and run something like this:

[code]

Anyone coming up there will be mismatched.  PoshBot uses the `name`, Slack is now oriented around `displayname` which occasionally differs from `name` (I don't know the specific details in what causes the divergence when someone signs up for or is provisioned an account).  So you @ the `displayname`, but if `na

[2019-02-07 22:05] 1DontEx1st commented on #139
Thanks for the quick response! I had tried the display name, the full name, and the 9-character encoded (?) name, obviously with zero luck. It turns out the _name_ is the same as our AD name, so it's simple for me to deal with, but that wasn't exposed anywhere on Slack's site (at least nowhere I _looked_). Thanks again, Get-SlackUser worked perfectly!

[2019-02-08 19:52] mgeorgebrown89 opened #144 "Poshbot doesn't work after adding PSCredential to existing configuration and running as a service."
I have an existing config file for poshbot. I used nssm to run it as a service. Everything works great. I wanted to add a PSCredential to the config file. The documentation only has stuff for adding one to a new configuration, but I figured I could Get-PoshBotConfiguration and edit the field with my constructed credentials. It seemed to work when I saved the configuration, (it looked just like the

[2019-02-08 20:13] ChrisLGardner commented on #144
Which user is the service running as? If it's not the same one as generated the secure string then it won't be able to decrypt it as it's protected by DPAPI. there are ways around it but the simplest is to log on as that user and update the config from there.
________________________________
From: Michael G. Brown <notifications@github.com>
Sent: Friday, February 8, 2019 7:52:07 PM
To: poshbotio/P

[2019-02-08 20:19] devblackops commented on #144
@ChrisLGardner 💯

Credentials saved to disk are only retrievable by the original user who exported them. If you're running PoshBot as some type of service account, you'll need to log on as that to save/export/update them.

[2019-02-08 20:41] mgeorgebrown89 commented on #144
Ah. that's similar to my last issue.

Thanks, @ChrisLGardner and @devblackops .

[2019-02-12 14:46] mgeorgebrown89 opened #145 "Commands exectuted twice."
I created a function to respond to new users joining a channel based on the documentation.

    function Welcome-User {
    [PoshBot.BotCommand(
        Command = $false,
        TriggerType = 'event',
        MessageType = 'Message',
        MessageSubType = 'ChannelJoined'
    )]
    [cmdletbinding()]
    param(
        [parameter(ValueFromRemainingArguments)]
        $Dummy
    )

    $greeting

[2019-02-12 15:31] #144 closed

[2019-02-12 18:46] mgeorgebrown89 opened #146 "Execute command on service startup or shutdown."
I'm running a poshbot as a service, and I'm wondering if I can get it to send a message if it shutdowns or on start up. I've tried editing the script that the service runs, but I haven't had any success. Also, I'm not sure if this is necessarily an issue, but I don't really have anywhere/anyone else to ask, so I apologize if this isn't a strictly appropriate or desired use of this forum.

[2019-02-12 22:03] mgeorgebrown89 opened #147 "Config Parameters not loading"
Parameters aren't being pulled from config. Maybe I've set it up incorrectly.

In my plugin:

    [CmdletBinding()]
    [PoshBot.BotCommand(
        Aliases = ('nfHeader'),
        Permissions = 'update'
    )]
    param(
    [PoshBot.FromConfig('nfUsername')]
    $nfusername,
    [PoshBot.FromConfig('nfPassword')]
    $nfPassword
    )

Those two variables are then used to make API calls, but it'

[2019-02-12 22:15] devblackops commented on #147
@mgeorgebrown89 PoshBot will only automatically supply those configuration-provided parameters to the command that was executed. It doesn't transfer to any other functions you call. In your primary command, define those parameters and then pass them to your other function.

[2019-02-12 22:24] devblackops commented on #146
@mgeorgebrown89 That's not a feature of PoshBot itself, but you can certain do that. Since you have the bot token (or other credentials depending on your chosen backend), you can use that to POST a message manually before starting the bot, and immediately after it stops. Something like this if you're using Slack and running PoshBot as a service.

[code]

[2019-02-12 22:39] mgeorgebrown89 commented on #146
ha. so that kind of worked for me. Only the message just send over and over again until I killed the service. And now the service won't respond in slack. This has actually happened before, where I send a command and it basically kills the service for whatever reason. I remove the service and recreate it and it works again for awhile.

[2019-02-12 23:12] mgeorgebrown89 commented on #146
Yeah, @devblackops , I'm really confused now. This is probably beyond the scope of this disussion, but now when I create a service with nssm based of the script from the docs, it alternates between running and stopping about every 5 minutes.

[2019-02-13 07:25] devblackops commented on #136
@michaeltlombardi

I have the start of the docs here:
https://poshbot.readthedocs.io/en/latest/tutorials/backend-development/overview/

I still need to modify this to be more in the form of a walkthrough.

[2019-02-13 15:32] mgeorgebrown89 commented on #146
Based on the logs, it seems to run into conflicts with existing log files. If I delete the logs and roles, permissions, groups, and plugins psd1 files and then restart the service, it seems to start back up fine.

[2019-02-13 15:37] mgeorgebrown89 commented on #147
@devblackops Do the parameters need the mandatory option?

[2019-02-13 15:50] mgeorgebrown89 commented on #147
I'm still having issues. I must be missing something.

config.psd1

    @{
      ApprovalConfiguration = @{
        Commands = @()
        ExpireMinutes = 30
      }
      DisallowDMs = $False
      ModuleManifestsToLoad = @()
      LogDirectory = 'C:\poshbot\logs'
      Name = 'vectoria'
      BotAdmins = @('michael.g.brown')
      AlternateCommandPrefixSeperators = @(':',',',';')
      CommandHi

[2019-02-13 17:10] devblackops commented on #146
@mgeorgebrown89 It sounds like you potentially have multiple instances of the bot running simultaneously.

[2019-02-13 17:21] devblackops commented on #147
@mgeorgebrown89 I'll take your config and command and see if I can repro. Is your plugin named `vectoria`?

Your plugin configuration has the following:

[code]

Is your plugin that contains the `Get-NfClouds` commands called `vectoria`? Those names must match.

[2019-02-13 17:22] mgeorgebrown89 commented on #147
So I think I'm a moron... Anytime I edited the config file, I was updating the plugin and testing and I kept getting the same results, but obviously that would be the case because that doesn't update the configuration the bot is running off of. Ugh. So I would make a change, and sometimes I would take effect, and other times not, so I would get varying results from  doing the same thing.

Long sto

[2019-02-13 17:32] mgeorgebrown89 commented on #146
@devblackops I considered that, and that may be the case. It could be that I was a bit trigger-happy with restarting it.

[2019-02-13 19:09] devblackops commented on #147
Glad to hear it @mgeorgebrown89 👍

[2019-02-13 23:04] #147 closed

[2019-02-13 23:22] mgeorgebrown89 opened #148 "Is there a way to have poshbot send a message before/during the execution of a command?"
I think I know the answer to this already, based on the Message Processing Flow part of the docs, but is this possible?

Can poshbot send a message in the middle of a function? Like right before an attempted API call is made and after?

[2019-02-14 04:42] devblackops commented on #148
@mgeorgebrown89 I'm not 💯 percent sure what you're asking. Are you asking if PoshBot can execute multiple commands in parallel? If that is the question then yes, since they are run in separate jobs, PoshBot will fire them off, then continue doing what it needs to do and then check back up on the job and collect the results when it is finished. PoshBot won't interfere with what the job is doing.

T

[2019-02-14 15:00] mgeorgebrown89 commented on #148
@devblackops So for a more specific example, say I execute a command and want an immediate message sent before telling the user that it's starting, and then another after it's completed. I have a while loop that checks on the status of an object created by an API. I want a message to send each time this status changes. I'll look at the middleware stuff, thanks.

[2019-02-14 16:09] devblackops commented on #148
@mgeorgebrown89 For that, you can probably look at using Pre/Post execute hooks.

[2019-02-19 16:00] delrio1110 opened #149 "Add suggested actions to messages - Teams"
https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-send-suggested-actions?view=azure-bot-service-3.0

[2019-02-19 16:01] delrio1110 commented on #149
![image](https://user-images.githubusercontent.com/1231453/53028876-bd93c580-3435-11e9-90c4-f6c0d4eb1cf3.png)

[2019-02-19 16:23] AndrewPla commented on #127
@devblackops how is this going? Is this something you could use a second set of hands on?

[2019-02-19 18:55] AndrewPla opened #150 "Pasted Messages in Teams not being parsed properly"
## Expected Behavior
Pasting `!help` into Teams should cause poshbot to parse the command name as help and then execute the command.

Log output would look like this

[code]

## Current Behavior
If you paste `!help` into a message with poshbot the command parser should parse away the leading /r/n from the message and then remove the exclamation mark in the beginning

[code]

Note that there is sti

[2019-02-19 20:11] AndrewPla commented on #150
This may seem somewhat dirty, but adding an additional `$Message = $this.TrimPrefix($Message)` fixes the issue. trimprefix will remove the /r/n from the message, but it won't remove '/r/n' AND '!' if it's only called once. This is what I have as of right now and it is working.

[code]

These are the results of my logs.

Message Before Trim
`"Message":"Message before trim","Data":{"Type":2,"Subtype

[2019-02-19 21:20] devblackops commented on #127
Please do @AndrewPla. Looks like a a typing indicator can be sent via the API. https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-
activities?view=azure-bot-service-4.0#typing

The logic would go into the `AddReaction()` method of the backend. https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Implementations/Teams/TeamsBackend.ps1#L466

[2019-02-21 21:41] LxLeChat opened #151 "Update Help - Problem regaring the Teams Backend Help, and az cli default behavior regarding function creation"
Update Help - Problem regaring the Teams Backend Help

## Context
I was trying to create a Teams Backend, following your documentation. Everything was working fine, until the "Azure Function App" part. The creation did work, but as i was naviguating inside the azure portal to the newly created function, an error was showing with the following message :

As you explained to me, the issue is because

[2019-02-22 06:00] devblackops commented on #151
@LxLeChat In commit https://github.com/poshbotio/PoshBot/commit/10196455de817997af37f2879ed79d9bb6b881d5 I updated the Teams setup doc to include a section on making sure the Azure Function is **v1**.

This is also reflected in RTD.
http://docs.poshbot.io/en/latest/guides/backends/setup-teams-backend/#azure-function

[2019-02-22 06:00] #151 closed

[2019-02-25 17:50] mgeorgebrown89 opened #152 "Regex Triggers for Cards?"
I wanted to use the regex trigger functionality to watch for other slack integrations, like DataDog, but it seems like it won't match things the are in cards, only text responses. Is this true? If so, I guess maybe this is a feature request?

[2019-02-25 23:29] dreznicek opened #153 "Approvals are being bypassed for group members but not if group members are approvers"
## Expected Behavior

The expected behavior is:

If user1 is in a group (groupA) and a command requires an approval from user2 in a different group (groupB), then the command when executed by user1 _should_ prompt for approval.

## Current Behavior

If user1 in groupA, tries to run a command that requires approval from user2 in groupB, the command is exectued without any approval process. In the l

[2019-02-27 19:44] mgeorgebrown89 opened #155 "Adding Approvals to PoshBot Configs"
I've added functionality to pull credentials from an outside source like how I've seen recommended in the docs, which means I create the config new each time the bot is started up. I create a $BotParams hash table and splat this to New-PoshBotConfiguration, but when I included an ApprovalConfiguration table, it tells me a paramater cannot be found that matches. Here's my code:

[code]

I get this

[2019-02-27 19:49] mgeorgebrown89 commented on #155
Yes, I immediately figured it out. Never mind!

[2019-02-27 19:49] #155 closed

[2019-02-28 00:04] mgeorgebrown89 commented on #153
I just discovered this same issue. I was hoping to have our intern be able to start jobs but require approval, but it looks like the current work around would enable him to approve jobs from other people in the group, which somewhat defeats the purpose.

[2019-02-28 05:52] devblackops commented on #153
@dreznicek Thank you so much for catching this logic bug!

[2019-02-28 06:57] devblackops commented on #153
Merged #154 and published `0.11.5` to the [PSGallery](https://www.powershellgallery.com/packages/PoshBot/0.11.5).

[2019-02-28 19:26] mgeorgebrown89 opened #156 "PoshBot as a Service Restart error if plugins are installed."
I think I've isolated the issue I've been having with my PoshBot running as a windows service not always surviving service restarts. If I install plugins, then restart the service, the service starts and stops every five seconds infinitely unless I kill it. I've tested this with the other psd1 files, logs, groups, roles, and permissions. Those can be created and will survive the restart, but plugi

[2019-03-01 00:22] mgeorgebrown89 opened #157 "Help with Middleware PreResponse Hook"
I'm trying to get the approve needed message in slack to also tag users Slack names via a preresponse middleware hook. This seems the most appropriate place to do this. I've tried a few different approaches, but all I've been able to do so far is make the bot not send any response at all except for the checkmark. I'm trying to regex match the response text and then append the users id with an @ sy

[2019-03-01 05:36] devblackops commented on #157
@mgeorgebrown89 The command approval message is sent "out of band" so you won't have access to modify the message directly.

However, since the middleware hooks have the main bot instance sent as a parameter you *can* send your own message and have access to call all the internal bot methods if needed.

Try something like this as a `preexecute` hook. Pre/Post response hooks won't work as pending c

[2019-03-01 06:15] devblackops commented on #152
We'll have to see how we can handle parsing messages from other bots. Currently, messages of type `bot_message` are ignored. https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Implementations/Slack/SlackBackend.ps1#L206

If you manually send a message with `PSSlack` using a webhook URL, they will be received as `bot_message` in the websocket connection and will be dropped in the backend `Rec

[2019-03-01 06:26] devblackops commented on #156
@mgeorgebrown89 Couple questions:

1. What account are you running the service under? Local system or a service account?
2. In the context of that account, is `PSGallery` (or whatever PS repository you've configured) set to `Trusted`?

[2019-03-01 14:41] mgeorgebrown89 commented on #156
@devblackops
1. Its a user account called 'poshbot' that has the access I need it to.
2. Yes.

[2019-03-01 16:31] AndrewPla commented on #150
I will do some testing on this over the weekend to better determine what needs to be changed on trimprefix()

[2019-03-01 16:47] mgeorgebrown89 commented on #157
This is great, thank you! I tweaked it a bit to eliminate the command executor from the list of available approvers and any duplicate users (if they're in more than one group of approvers).

[code]

[2019-03-01 16:47] #157 closed

[2019-03-02 14:05] Stephanevg opened #158 "ScriptsToProcess -> PoshBotAttribute.ps1 not found"
Hi, I was testing my cmdlet `write-CUPesterTEsts` to generate automatically pester tests for a module.

The first test I launched gave this result back:

[code]

In other words, It tries to process that `PoshBotAttribute.ps1` file through the `ScriptsToProcess`attribute, but that file is not there. (And is not in any other folder of the repo btw).

Is this a mistake? Is it safe to comment this lin

[2019-03-03 20:54] mgeorgebrown89 commented on #156
I wonder if this is related to update-plugin not working for me either. From an earlier post, I know you mentioned using credentials to run AD stuff, but that I could try running it as a user. I've been doing the latter, but do you think I should try running it as the local system and pass it the correct credentials each time I use something in the AD module? @devblackops

[2019-03-04 00:57] mgeorgebrown89 commented on #156
Another thing I noticed: It seems to only crash if I install my plugins. If I install a plugin like PoshBot.Giphy and restart the service, there's no problem. I tried seeing if it was my psd1 and made it match the PoshBot.Giphy.psd1 and the same thing happens. The only other thing I can think of is maybe this is happening because I'm not using the default plugin directory or I haven't published it

[2019-03-04 05:45] devblackops commented on #158
Hi @Stephanevg. `PoshBotAttribute.ps1` should reside at the root of the module along side the PSD1 and PSM1. In the source, it lives under `Classes`.

https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Classes/PoshBotAttribute.ps1

If you run build task below, it will copy that file to the root of the built module under the `out/PoshBot/<version>` folder. This file is critical as it contains

[2019-03-04 05:59] mgeorgebrown89 commented on #148
So I realized using Send-SlackMessage will send a message in the middle of the scripts execution, rather than wait until the end of the job like New-PoshBotTextResponse. Is there a reason not to just do this?

[2019-03-04 06:58] devblackops commented on #148
Nope. Nothing stopping you from using PSSlack to send a message on your own.

[2019-03-04 07:16] devblackops commented on #156
So are you manually saving your custom modules to the plugin directory defined in `$PoshbotPlugins`?

PoshBot will prepend that path to `$end:PSModulePath` so when you tell it to install a plugin, it will look in that directory first. If present, it will load it into PoshBot, if not present, it will attempt to install the module from the repository defined in the `PluginRepository` property of the

[2019-03-04 07:23] devblackops commented on #156
@mgeorgebrown89 Are you by chance using the `PoshBot.8ball` plugin? I just noticed a problem with that one. Notice that when installing this plugin, the command name is `8ball`. In `plugins.psd1` we store what plugins are registered along with any permissions attached to the commands. `CommandPermissions` is a hashtable will every command in the plugin and it's permissions. A hashtable **cannot**

[2019-03-04 20:18] mgeorgebrown89 commented on #148
@devblackops so in reference to this, this works well, but how can I get my token without entering it in plain-text? I've tried `$Global:PoshBotContext.ConfigurationDirectory.BackendConfiguration.Token` but it doesn't like that.

[2019-03-05 07:31] devblackops commented on #148
@mgeorgebrown89 With middleware scripts the bot admin has more control over what scripts are run (and are executed in the same context as the bot). Because of that you'll have the main bot instance passed as an argument to the scripts and they can pull out the token with something like: `$Bot.Backend.Connection.Config.Credential.GetNetworkCredential().password`

Normal plugins are written by (pote

[2019-03-05 21:43] mgeorgebrown89 commented on #156
@devblackops So do you recommend the service that runs poshbot logon as the local system, and pass in the credentials necessary? It seems like that's how it was meant to be, but I'm not sure.

[2019-03-06 04:43] devblackops commented on #156
@mgeorgebrown89 I'd recommend running the service as a **non-privileged** service account and have any required credentials for the plugins passed in as parameters. Running PoshBot itself as a privileged user could present security concerns as *ALL* commands are executed under that context and you may introduce a plugin that does more than you think. Best to keep the blast area as small a possible

[2019-03-06 16:22] mgeorgebrown89 commented on #156
Hmmm. All of that seems to be true in this case. The signs seem to point to it being a service error. I tried spinning up a new machine and running it from there but I just got different service errors.

[2019-03-06 17:26] steam23 opened #160 "Using Sharepoint CSOM in a plugin causes error"
## Expected Behavior
Trying to make a plugin that will use sharepoint CSOM to query a sharepoint site. When I run the module in a terminal (i.e. not in poshbot) my test module returns the name of the site.

## Current Behavior
Running the plugin command in poshbot gives the error
`Exception calling "ExecuteQuery" with "0" argument(s): "The request was aborted: Could not create SSL/TLS secure chann

[2019-03-06 23:00] devblackops commented on #160
Hey @steam23, You may be running into a TLS version issue. PoshBot is enforcing TLS 1.2 when the module loads but that may not work depending on what your endpoint supports.

https://github.com/poshbotio/PoshBot/blob/master/PoshBot/PoshBot.psm1#L21

In your plugin, try running the code below and using different values defined in the  `[Net.SecurityProtocolType]` enum.

[code]

[2019-03-06 23:02] devblackops commented on #160
Oh I just saw you're running `v0.11.3`. We started enforcing TLS 1.2 in `v0.11.4`. Maybe your endpoint is requiring TLS 1.2. Try updating to the latest PoshBot version.

[2019-03-07 14:37] steam23 commented on #160
OK! That pointed me in the right direction! Turns out I had the version wrong and I was in fact using the current version. The problem turned out to be that my sharepoint 2010 install wasn't enforcing tls1.2. Using instructions from [microsoft](https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-server-2010/mt773992(v=office.14)) I was able to update it and it's now working. Thank

[2019-03-07 14:37] #160 closed

[2019-03-07 17:15] dreznicek commented on #155
Would be great if you posted what you _figured out_ :)

[2019-03-07 23:36] medea61 commented on #113
Sadly at the time beeing this seems to be unsupported by the Teams bot api accoding to this documentation:
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conversations

[2019-03-08 22:17] mgeorgebrown89 commented on #156
@devblackops , well, what I had hoped would be an easy fix did not seem to help. Currently running into the exact same issue as before, but now I'm on a Windows 2016 server. It still comes down to that plugins.psd1 file, which is so weird. I have verified that this file does contain the modules I installed and that their location on the system is correct. The only other thing I can think to try is

[2019-03-09 05:53] #148 closed

[2019-03-09 05:54] #146 closed

[2019-03-11 22:14] mgeorgebrown89 commented on #156
!!!!!!!!! @devblackops. I _may_ have figured it out. I started with a brand new bot on a brand new system, and began the set up, slowly and meticulously, to try and see exactly when this strange issue happened. Early on, there were no problems. When I copied the example modules and restarted the bot, they were still there, which was great but also frustrating. Then I noticed something. I had a lot

[2019-03-11 22:23] mgeorgebrown89 commented on #155
Yeah, sorry @dreznicek . I meant to come back and do that later, but I just actually took the time to look at the code for New-PoshBotConfiguration and saw that the parameters it took were different than what I was trying. So even though a complete config.psd1 file looks like this regarding approvals:
[code]

The parameters it accepts are `ApprovalExpireMinutes` and `ApprovalCommandConfigurations`

[2019-03-12 02:46] devblackops commented on #155
@mgeorgebrown89 @dreznicek Yes, The parameters to `New-PoshBotConfiguration` do not 100% match the properties in the actual `[Configuration]` object that the function returns. This is because some of the properties in the configuration are not native types, `[ApprovalCommandConfiguration]` is one of them. I thought it would be better to only expose native PowerShell types to the user / public func

[2019-03-12 02:51] devblackops commented on #156
Good to hear @mgeorgebrown89. What were the extra files? Given a brand new setup, PoshBot will create a few files at startup if they are not present. This includes:

- groups.psd1
- plugins.psd1
- roles.psd1

- schedules.ps1
  If you defined a scheduled command

[2019-03-12 04:20] mgeorgebrown89 commented on #156
The folder structure I had was like this:

- PoshBot
    - logs
    - middleware
    - plugins
    - utilities
    - config.psd1
    - groups.psd1
    - permissions.psd1
    - PohbotGlobal.state
    - roles.psd
    - schedules.psd1

The top four were folders. After thinking about this a bit more, this could also have to do with user permissions actually and some of our environment's GPOs affecting

[2019-03-16 03:20] mgeorgebrown89 commented on #94
@devblackops Would this be possible to do if we leveraged Set-PoshBotStatefulData? For example, send a message to the channel and enter a wait-loop until the Get-PoshBotStatefulData field is populated with a value, and have a certain timeout before quitting? I haven't look enough into the source yet, but I have a similar function where I watch the status of workflows and send messages back as they

[2019-03-16 17:26] delrio1110 opened #162 "'Library.Exceptions.PermissionDeniedException'"
Teams backend

I was running PoshBot 11.0 for months with no issues for what I needed it for. 2 days ago the bot  started crashing with a permission denied. I installed 11.5 and im getting the same error. I looked at the bot framework site to test and that works but Im seeing  'Library.Exceptions.PermissionDeniedException' warning every time you send a command via teams.

Do I need to renew any of

[2019-03-16 17:27] delrio1110 commented on #162
![image](https://user-images.githubusercontent.com/1231453/54479047-35fc6500-47ef-11e9-90a9-cc89c8a1ddde.png)

[2019-03-17 00:36] delrio1110 commented on #162
This is what i seeing in the psohbot verbose logs

":"Debug","Message":"User [removed] not found. Refreshing users","Data":{}}

[2019-03-17 02:04] delrio1110 commented on #162
when I navigate to https://smba.trafficmanager.net/amer/v3/conversations/TEAMSID@thread.skype/members

I get {"message":"Authorization has been denied for this request."}

[2019-03-17 02:42] delrio1110 commented on #162
@devblackops  have you seen this before?

[2019-03-19 03:32] delrio1110 commented on #162
Does anyone have a working Poshbot for teams currently?

[2019-03-19 19:48] delrio1110 commented on #162
It’s having a hard time posting back to the teams channel, getting permission denied. Function is working.

[2019-03-19 20:00] delrio1110 commented on #149
Closing as I can that it can be  simply added when adding the bot to teams app.

[2019-03-19 20:00] #149 closed

[2019-03-21 05:43] devblackops commented on #162
Hey @delrio1110, I have not seen that before and my test instance of Teams appears to be working fine (no changes to the Bot Framework and Teams settings).

This error looks to be with Bot Framework itself. In Bot Framework, you could try deleting the Teams channel registration and adding it again.

[2019-03-23 04:37] delrio1110 commented on #162
Thanks @devblackops , but that didn't work. I spun up a new server and followed your doc  to the T but it now has a different error. When sending message in teams like I always have I get no response. When I run the test in the bot framework, I can see its hitting the function. what also happens if i have the bot running and I send a test message from the bot framework, it stops poshbot. its tryin

[2019-03-23 04:47] delrio1110 commented on #162
also when I first installed by runing .\build build,
I get Cannot index into a null array.
At C:\Program Files\WindowsPowerShell\Modules\BuildHelpers\2.0.0\Public\Get-BuildVariables.ps1:78 char:9
+         $GitPath = (Get-Command $GitPath -ErrorAction SilentlyContinu ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [],

[2019-03-23 04:48] delrio1110 commented on #162
Name                           Value
----                           -----
PSVersion                      5.1.17763.316
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17763.316
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion

[2019-03-23 21:23] delrio1110 commented on #162
I have gotten the bot to respond, I found that for some reason, the disable git command in your doc doesn't disable it for me . As soon as I manually disable it, the bot start responding. As @devblackops  I can get the bot working on MS Team if I use 11.0, If i use any version above that, I get a response of Unable to match parsed command [:status] to a plugin command. Any idea why?

WARNING: {"Da

[2019-03-23 22:37] delrio1110 opened #163 "Teams CommandPrefix set to "*" not working"
## Expected Behavior
@Poshbot Status

This should show the staus of posh bot in Teams

## Current Behavior
@Poshbot Status
Unable to match parsed command [:status] to a plugin command","Data":{}}

## Possible Solution

In poshbot 11.0 I was able to set the CommandPrefix to "*" and it would accept anything after I called the bot in MS Team. Now in 11.2 -11.5 "*" doesnt work. Now I have to use @Posh

[2019-03-24 02:09] delrio1110 commented on #141
@markroloff how did you fix this issue? Im having the same problem.

[2019-03-24 02:17] delrio1110 commented on #162
@devblackops  do you know what markroloff  did to fix his similar issue?

https://github.com/poshbotio/PoshBot/issues/141

[2019-03-24 03:45] devblackops commented on #163
Oh, sorry for the breaking change @delrio1110! I honestly never tried having an empty string for the command prefix. I'll see if I can track down what caused the behavior change.

[2019-03-24 16:34] delrio1110 commented on #163
@devblackops  was it this ?

https://github.com/poshbotio/PoshBot/issues/124

[2019-03-24 16:45] delrio1110 opened #164 "Feature Request: remove trailing space when parsing command"
Ive added suggested actions to the Teams bot but when you select the action, it adds a SPACE at the end. This space is fine if Im going to add a param after it but not good if its a single command like Status. could you point me in the right direction to add TrimEnd()
## Expected Behavior
![image](https://user-images.githubusercontent.com/1231453/54882627-500ef680-4e32-11e9-816c-f97d9e4aba9b.png)

[2019-03-24 20:25] devblackops commented on #163
@delrio1110 Ya, that was probably it.

[2019-03-24 20:44] devblackops commented on #164
Gotta loves Teams 😄

It looks like when a **space** is at the end of the message, Teams replaces that with `??`. You can see this when debug logging turned on and looking at the raw messages returned from the backend.

[code]

We are already trimming the message text in the command parser [here](https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Classes/CommandParser.ps1#L7) but we don't rec

[2019-03-24 23:05] delrio1110 commented on #162
closing this as I think its related to my companies network. This issue doesn't happen it my house.

[2019-03-24 23:05] #162 closed

[2019-03-28 21:52] delrio1110 commented on #164
Thank you @devblackops pointing me in the correct direction.  I was able to fix it with a simple Replace('\?\?$','') and now my suggested actions are working nicely!!

[2019-03-29 03:11] devblackops commented on #162
Glad you found the issue @delrio1110!

[2019-03-29 05:16] devblackops commented on #163
Hey @delrio1110.

I'd rather not hijack the asterisks `*` for this functionality as right now it's perfectly valid for a user to choose that character as the prefix if they wish. Using it for this purpose would break their setup. Instead I've added support for `$null` prefixes in commit f214e1577b301f1bef8af8d752de73c84bcb6fcd.

Can you try the the latest version in master and let me know?

Keep i

[2019-03-29 15:29] delrio1110 commented on #163
That worked perfectly, Thank you @devblackops

[2019-03-29 15:29] #163 closed

[2019-03-29 15:33] delrio1110 commented on #164
Thank you for fixing this

[2019-03-29 15:33] #164 closed

[2019-04-27 01:12] tuplink opened #167 "Poshbot.Shell"
Are there any plans to make a slimmed down poshbot that will allow the same Plugin Modules to be imported and run from the shell

## Expected Behavior
Import-Module xxxxxx
Plugin-Function -ip xxx.xxx.xxx.xxx

## Current Behavior
Cannot find the type for custom attribute 'PoshBot.BotCommand'. Make sure that the assembly that contains this type is
loaded.

## Possible Solution
Slimmed down version o

[2019-05-04 20:55] devblackops commented on #167
Hi @tuplink. This is already possible.

In your own plugin, when you're using PoshBot-specific functionality like `[PoshBot.BotCommand()]` or `New-PoshBotCardResponse`, etc., you should take a dependency on PoshBot in your module manifest file by using `RequiredModules = @('PoshBot')`. If you do this, then you won't get an error when you use `PoshBot.BotCommand()]` as the PoshBot module will be lo

[2019-05-10 17:35] #167 closed

[2019-05-19 15:55] delrio1110 opened #168 "Facebook Work Place - PoshBot BackEnd"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell version:

[2019-06-13 21:15] gnurph69 opened #169 "CommandCount = 0?"
Hi, everybody.

I'm not sure where to go with this problem - it's me (i'm fairly sure) and it's because I don't have any real experience with modules, although I've been writing PowerShell code for 7+ years.  I have the bot up and running, and it replies to the built-in commands, and I wrote a plugin / module with a single simple function (Hello, world-style).  The plugin is installed, and enabled

[2019-06-15 16:37] mgeorgebrown89 commented on #169
It would be helpful to see the actual files, yes. Maybe link your repo?

But it sounds like you just need to explicitly export your commands. I ran into this issue a few times. You need something like this at the end of your psm1.

`Export-ModuleMember -function 'Function-Name'`

or

[code]

[2019-06-17 04:00] devblackops commented on #169
Hey @gnurph69. I @mgeorgebrown89 said, this is most likely because your functions are not being exported from the module.

In your module manifest (psd1), make sure you are explicitly listing the functions to export like so:

[code]

Sometimes you'll see this like below but it's best practice (and better performance) to list them explicitly.

[code]

It's also best practice to use `Export-ModuleMe

[2019-06-17 15:53] gnurph69 commented on #169
I did an export...and an import...to no avail that I can tell.

[Poshbot.zip](https://github.com/poshbotio/PoshBot/files/3297763/Poshbot.zip)  The repo isn't on github, so it was easier to zip up the files and go from there.

Here's my PSM1, my PSD1, my PoshBotConfig (called PoshBotConfigHelp and I removed the Slack token) and my plugins.psd1 file.

There is only 1 function in the PSM1 file, and a

[2019-06-17 17:05] mgeorgebrown89 commented on #169
@gnurph69 , I looked at the files, and I don't see anything obvious, but it has been awhile since I've worked on my own PoshBot.

From within Slack, have you used Update-Plugin or Uninstall-Plugin and then Install-Plugin?

I ran into this early in my testing where I would change the plugin/module, but the changes weren't reflected in Slack, so I needed to uninstall and reinstall the plugins (Updat

[2019-06-20 02:02] RamblingCookieMonster opened #170 "Duplicate command execution in Slack"
Replying to a command message (`!command`, not the output from poshbot) in a thread causes PoshBot to reprocess the command.

Thanks to Adrian Andersson for tasking about this in Slack!

## Expected Behavior

PoshBot does not reprocess commands

## Current Behavior

Poshbot reprocesses commands if you reply to a command in a thread

## Possible Solution

Look at the code (sorry, it's bedtime, but

[2019-06-20 03:36] RamblingCookieMonster commented on #170
Hah. "bedtime"

Here's the original message:

[code]

[code]

It looks like `subtype` `message_replied`, or `hidden` `true` may be worth investigating as properties to watch for (these seem to indicate messages to ignore), and the lack of `suppress_notification` `false` may be another flag.

Cheers!

[2019-06-21 16:04] briceme commented on #83
Hi @Pilosite , did you manage to move on your LUIS implementation ?
I looked at your repository and it seems you deleted your plugin through commit 893a3dceee3104fc2a2084b88259c6be0dda1375 ?
Thanks!
Brice

[2019-06-21 16:38] Pilosite commented on #83
Hello !

It should still be there i will have a look

Le ven. 21 juin 2019 à 18:04, briceme <notifications@github.com> a écrit :

[2019-06-21 23:34] FISHMANPET commented on #94
Reading between the lines, it kind of sounds like maybe this is really an "up for grabs" issue about making Poshbot work as a Slack App.  Or if that's desirable maybe there should be a separate issue for tracking whatever work that would entail?

My work just got Slack and I'm excited to dive in with chat ops and contributing to this project, and so I'd be willing to get started making poshbot app

[2019-06-22 11:57] briceme commented on #83
@Pilosite  Thanks for your fast answer !!
Yes it is still available through history, I was just wondering why did you revert your commit ? Actually it helped me to have a quickstart to run the call to the LUIS API and have the correct catch of the result.

However, now I am trying to go further and having a continuous flow of the conversation. Did you manage to get this working ? I looked into the

[2019-06-22 19:13] Pilosite commented on #83
You're in Paris ? Yes that would be great ! Let s catch up !

However github doesn t manage private message, but you can send me an email
on gmail with my account name.

Le sam. 22 juin 2019 à 13:57, briceme <notifications@github.com> a écrit :

[2019-08-02 13:48] RamblingCookieMonster commented on #74
Hiii!  So I think this is done in the basic form, going to close this out.

Down the line, a more controlled option would be awesome as well, e.g.

[code]

Where the second factor might be that secret that the bot sent, _or_ some other pluggable thing (e.g. I might like to hook it up so that the approval requires a 2fa code which is validated via radius

You could probably close this issue though,

[2019-08-02 13:48] #74 closed

[2019-08-20 18:44] dreznicek commented on #153
@devblackops I don't know if its something I'm doing or if I was still using my branch, but I can't get approvals to work at all in `0.11.6`. No matter how I put users in groups to do approvals, I get this...

     {"DataTime":"2019-08-20 16:54:42Z","Class":"Bot","Method":"Start","Severity":"Error","LogLevel":"Info","Message":"Cannot bind argument to parameter \u0027ReferenceObject\u0027 because i

[2019-08-21 19:30] pauby opened #172 "Channel Rules won't apply"
When I leave the configuration with the default channel rules, everything works as expected. When I specify a channel rule, no commands can be accessed.

## Expected Behavior
I expect the channel rules to apply to the channel names specified.

## Current Behavior
When a specific channel rule is applied, it stop all commands working. The configuration I have is:

[code]
When I try and execute the `

[2019-08-21 23:50] devblackops commented on #172
Hey @pauby That channel resolution error is probably the cause of this. Can you run this and let me know if all channels (public and private) are returned?

[code]

[2019-08-21 23:55] devblackops commented on #153
Hey @dreznicek, can you share the `ApprovalConfiguration` you're using so I can try and repro?

[2019-08-22 07:00] pauby commented on #172
Hey @devblackops, that code shows me all of the public channels with member count, topic and purpose populated. It shows me two private channels (the ones the bot has been invited to) with no member count, topic or purpose, just the channel name.

Is this maybe a limitation of poshbot to work with channel rules in private channels, Slack not providing the correct access to poshbot so it can resolv

[2019-08-22 07:13] devblackops commented on #172
There was an issue with PSSlack retrieving info on private channels that was fixed in https://github.com/RamblingCookieMonster/PSSlack/pull/80 and https://github.com/RamblingCookieMonster/PSSlack/pull/90.

Because PoshBot wasn't resolving the private channel names/IDs, channels rules wasn't working.

To fix, I pinned the updated PSSlack version in PoshBot and implemented paging support for workspa

[2019-08-22 07:38] pauby commented on #172
Thanks @devblackops - Just in case I checked what version of PSSlack were installed and it's just 1.0.1 which is the latest.

[2019-08-22 14:38] pauby commented on #172
As an update to this.

I moved PoshBot to it's own non-admin account (it was previously running under another non-admin account but wanted to isolate it). I ran the code from [above](https://github.com/poshbotio/PoshBot/issues/172#issuecomment-523691763) and noticed that the channels PoshBot was invited to now had the purpose populated. There is nothing running in the other account that is not run

[2019-08-22 14:38] #172 closed

[2019-08-22 14:51] pauby opened #173 "New-ScheduledCommand works but shows an error"
When you use the New-Schedule command it does add a command to the schedule but also shows an error.

## Expected Behavior
I expect no error to be shows.

## Current Behavior

If I run `!newschedule --command 'somecommand' --value 1 --interval days --startafter '7:00am'` I get a green tick to say the command is scheduled. I also get an error that says:

[code]

![image](https://user-images.githubu

[2019-08-22 17:21] dreznicek commented on #153
@devblackops Thanks for looking, sir! Here's the Approval Config...

     ApprovalConfiguration = @{
      ExpireMinutes = 5
      Commands = @(
        @{
          Expression = 'modulename:my-command:*'
          Groups = @('JobApprovers')
          PeerApproval = $false   # $true doesn't work either
        }
      )
    }

I put any users in the `JobApprovers` group and try to run the command,

[2019-08-23 04:01] devblackops commented on #173
@pauby I think something in your channel rules in tripping this up. This is the test I did that worked. I ran this in `private-channel`.

[code]

![image](https://user-images.githubusercontent.com/12634452/63565946-00874080-c520-11e9-9a60-819fd8bb6db1.png)

[2019-08-23 04:07] devblackops commented on #173
@pauby In #172, you has this in your channel rules. Notice the backtick. That will cause the command to not be allowed since the fully qualified command name `<modulename>.<commandname>.<version>` won't match that (PoshBot uses `-Like` to match the names).

[code]

[2019-08-23 04:57] devblackops commented on #170
This should be fixed in 263970f71ec4bfae2b50439119bc833c982a9134 now.

[2019-08-23 04:57] #170 closed

[2019-08-23 05:17] devblackops commented on #169
Hey @gnurph69 Sorry it took so long to get back to this. I looked at the module you provided. When you use the PoshBot-provided custom attributes like `[PoshBot.BotCommand()]` or `[PoshBot.FromConfig()]`, you need to add PoshBot to the `RequiredModules` section of your manifest.

Try that out and let us know if it solved your issue.

[2019-08-23 05:25] #127 closed

[2019-08-23 08:38] pauby commented on #173
That backtick was a formatting error when I was editing the names for that issue @devblackops - apologies. I've amended it now in that issue as it wasn't actually there in the config on the server.

[2019-08-23 08:41] pauby commented on #173
The command that was scheduled to run (in both provate channels - so one with the `'*'` as included commands and the other with the restricted commands) didn't actually run. At the scheduled time I got this in both channels:

![image](https://user-images.githubusercontent.com/12760779/63579246-b2a32480-c581-11e9-95fd-8e2a11698d2f.png)

The command is one of those that is allowed to run in `private

[2019-08-23 08:43] pauby commented on #173
Okay. The only difference between my configuration and yours is I don't have this at the end:

[code]

[2019-08-23 09:16] mkevenaar opened #174 "[slack] Card with only ImageUrl shows empty text string"
When you create a new Card with only an ImageUrl ``` is shown twice in the response.

## Expected Behavior
When only an ImageUrl is added, only the image is shown

## Current Behavior
It also adds an empty line

## Possible Solution

## Steps to Reproduce (for bugs)
1. Create a card with `New-PoshBotCardResponse -ImageUrl  https://my.image.url/image.png`
2. Display the card in Slack
3. Notice the

[2019-08-23 15:21] devblackops commented on #174
Thanks @mkevenaar. We'll get this fixed.

[2019-08-28 06:16] Stephanevg commented on #158
Thanks for the feedback @devblackops
I just wanted to report this one - In case you were not aware of it.

Perhaps it would make sense to write this one done somewhere (Perhaps directly on the readme?) as all I did was a clone from you repo, and than I was kind of blocked. (Was trying to generate tests fro your module).

[2019-08-28 06:16] #158 closed

[2019-08-29 19:08] judyanndixon opened #175 "Parameter Fields of function New-PoshBotCardResponse does not keep original order if ordereddictionary is used instead of hashtable"
If New-PoshBotCardResponse is called with a System.Collections.Specialized.OrderedDictionary type instead of a System.Collections.Hashtable type, the order of the members of the OrderedDictionary is not maintained after the call.

## Expected Behavior
$info = Get-ComputerInfo

if ($info) {
 $fields = [ordered]@{
 Name = $info.LogonServer
 OS = $info.OSName
 Uptime = $info.Uptime
 IPAddress = $info

[2019-08-31 05:57] #174 closed

[2019-08-31 06:20] devblackops commented on #175
Thanks @judyanndixon for the detailed report and possible solution! That helps a bunch. I'll dig into this. 👍

[2019-08-31 07:03] #175 closed

[2019-09-02 15:01] devmuppet commented on #162
How did you do this? It looks like im facing the same issue :(

[2019-09-02 16:35] #24 closed

[2019-09-02 18:21] mkevenaar commented on #174
@devblackops Thanks this worked perfectly!

[2019-09-03 13:25] judyanndixon commented on #175
Thanks for fixing this so fast.

[2019-09-03 15:08] sheldonhull opened #176 "Update to 0.11.8 Results In Custom Types Not Being Found"
## Expected Behavior
Updated to PoshBot 0.11.8
Start the bot script and it tells me that it can't find some of the types that have been declared and working fine before.

## Current Behavior

[code]

## Your Environment
* Module version used: 0.11.8
* Operating System and PowerShell version: Windows 10, PowerShell 5.1

[2019-09-03 15:14] sheldonhull commented on #176
Seems to be loading an older version despite my loading script ensuring the required version is set to `0.11.8`. Deleted all the older versions from the folders manually....

Once I did this and reloaded, clearing also my generated programdata for the bot, it loaded successfully. Not sure why it would be loading an earlier version instead of the globally installed `AllUsers` version I ensured was

[2019-09-03 15:14] #176 closed

[2019-09-20 08:20] chengdz1982 commented on #68
Hi guys,

I have got Connect-MicrosoftTeams issue as shown below, any advise? Thanks!

![image](https://user-images.githubusercontent.com/55576935/65311181-c1ccc080-db87-11e9-95fb-61d03d5a9912.png)

[2019-10-05 05:14] kevinblumenfeld commented on #150
I am having this same issue. If I copy and paste `!help` **from Teams** and paste it back into Teams, I get "No command found matching [!help]"  Typing the command works fine.  Also, if I copy and paste from notepad or notepad++ it works properly.

[2019-10-07 22:48] Adamvg opened #179 "Discord cards with hashtable do not output in correct order"
The order of the items in the Discord card are not following the HashTable order.

## Expected Behavior
Should follow the HashTable order.

## Current Behavior
Not following the HashTable order.
[code]

![image](https://user-images.githubusercontent.com/6084516/66354412-a7069400-e95c-11e9-8392-399969ddd743.png)

## Possible Solution

Add "-Order HashTable" or something? Custom object to set 1234 e

[2019-10-08 05:10] devblackops commented on #150
@kevinblumenfeld Teams is "trying" to be helpful and automatically pasting the formatted text. The extra characters from this formatting is seen in PoshBot and prevents it from properly matching the text to a registered command. Have you tried using `CTRL+SHIFT+V` to paste it unformatted?

[2019-10-15 02:26] alexixiv opened #182 "Discord Cmdlets Missing from PSGallery Module"
#180  Expected Behavior
Be able to follow the Discord Backend documentation to successfully run the command: "$backend = New-PoshBotDiscordBackend -Configuration $backendConfig"

## Current Behavior
Error says that "New-PoshBotDiscordBackend" does not exist as a cmdlet.

## Possible Solution
Update the PSGallery with the latest PoshBot 0.12.0 package version.

## Steps to Reproduce (for bugs)

1.

[2019-10-15 06:08] scrthq commented on #182
hey @alexixiv - The new version of the module (0.12.0) still needs to be deployed. If you'd like to test locally, you'll need to build the module first by running this from the root of the repo:

[code]

After running that, it should create a folder in the repo root named `out` that will contain the compiled module in it.

[2019-10-15 06:14] scrthq commented on #179
@Adamvg - Hashtable key order can be a bit unpredictable and aren't guaranteed, what you're looking for is an Ordered Dictionary.

Try adding the `[ordered]` type cast before the opening of your hashtable:

[code]

[2019-10-15 06:15] scrthq commented on #135
FYI @michaeltlombardi - this is merged to master, just pending deployment

[2019-10-15 17:32] alexixiv commented on #182
Awesome! Thanks for the info! I will give this a shot.

[2019-10-15 18:11] alexixiv commented on #182
Looks like it is missing the "build" directory. I was also missing the "ModuleBuild" module cmdlets, but I was able to locate that. I don't see the "build" directory in either branch. I tried adding the build directory manually to see if maybe it was just needing a place to dump content, but errors after that suggest that it is missing other dependencies in that directory.

[2019-10-15 19:57] Riiskyy commented on #147
Hi, I'm running in to this exact issue and I can't figure out why.  To start my bot I run the following for the configuration

[code]

My Params in the .ps1 file is
[code]

PoshBot is also in the required modules in the .psd1, I have tried stopping poshbot and restarting with that configuration. I have tried saving the configuration to a file and loading the config from a file with `Save-PoshBotCo

[2019-10-16 03:48] scrthq commented on #182
Checking the updated `build.ps1` script and it looks like you'll want to include the `-Bootstrap` switch when running it the first time. This will install the required modules to build `PoshBot` with:

[code]

https://github.com/poshbotio/PoshBot/blob/master/build.ps1#L20..L28

[2019-10-16 04:58] scrthq commented on #182
You should see something like this from the build output and additional `out` folder added to the repo root once done:

![image](https://user-images.githubusercontent.com/12724445/66889347-a9de3600-efa7-11e9-990c-839df652797c.png)

[2019-10-16 17:45] Riiskyy opened #183 "Issue with Config not passing params to plugin"
Hi, I'm running in to this exact issue and I can't figure out why.  To start my bot I run the following for the configuration

[code]

My Params in the .ps1 file is
[code]

PoshBot is also in the required modules in the .psd1, I have tried stopping poshbot and restarting with that configuration. I have tried saving the configuration to a file and loading the config from a file with `Save-PoshBotCo

[2019-10-16 23:44] alexixiv commented on #182
That worked! Thanks for the help!

[2019-10-17 02:52] scrthq commented on #182
No problem!

On Wed, Oct 16, 2019 at 6:44 PM alexixiv <notifications@github.com> wrote:

[2019-10-17 03:59] devblackops commented on #182
@alexixiv  `v0.12.0` should be released "soon". Just need to make sure there are no egregious bugs in the Discord backend.  Please report any issues you find!

[2019-10-17 03:59] #182 closed

[2019-10-17 04:07] devblackops commented on #179
Key order for `Fields` on `New-PoshBotCardResponse` only works with ordered dictionaries **AND** only with commands from the `builtin` plugin. This is because the commands from builtin are **NOT** executed as PS jobs like user plugins are. PoshBot will receive the object that `New-PoshBotCardResponse` creates in it's native form. With user plugins, the commands are executed in a separate PS job an

[2019-10-17 04:12] devblackops commented on #183
Sorry you're having issues @Riiskyy.

Just to confirm, your plugin (PS module) is called `SlackBot` correct? The key in `PluginConfiguration` must match the name of the plugin.

Can you share the exact error you're receiving?

[2019-10-17 06:43] Riiskyy commented on #183
Hi, thanks for the reply. It is the same issue as in https://github.com/poshbotio/PoshBot/issues/147.

[code]

Yes the plugin is named the same as it is in the plugin configuration key i.e locally I can run `Get-Command -Module SlackBot` and have it return the available commands.

[2019-10-18 04:33] devblackops commented on #183
Sounds good @Riiskyy. Let us know if you continue to have issues.

[2019-10-18 07:25] Riiskyy commented on #183
So I have no idea what changed as Idid not change my startup configuration when running on the private server. But when I copied the files back over to my home machine and started teh bot up again the parameters were passed just fine. Very odd, sorry for this waste of time 😃

[2019-10-18 07:25] #183 closed

[2019-10-23 12:02] pauby commented on #173
@devblackops Did you manage to look at this based on [my comments](https://github.com/poshbotio/PoshBot/issues/173#issuecomment-524229556)?

[2019-10-23 17:26] joezollo opened #184 "Can't Retrieve More Than 1000 Slack Users"
## Expected Behavior
PoshBot should be able to work with any number of users in the Slack workspace.

## Current Behavior
PoshBot can only retrieve 1000 users.

## Possible Solution
This is likely due to incorrect pagination via the Slack API.

## Steps to Reproduce (for bugs)
Launch PoshBot and connect to a Slack workspace with > 1000 users.

## Context
With the 1000 user limit, most users are no

[2019-10-23 17:32] kilasuit commented on #184
This is likely a PSSlack issue that is just being surfaced in PoshBot

Can you try using PSSleack and getting all the users in your slack instance via that?

[2019-10-23 17:37] kilasuit commented on #184
Looking into this as mentioned it is an issue with PSSlack / the actual Slack API implementation for returning users

[2019-10-23 18:31] joezollo commented on #184
Confirmed - this is not a PoshBot issue! Get-SlackUser only returns 1000 users.

[2019-10-23 19:50] devblackops commented on #184
Probably an straightforward fix if someone wants to add paging support similarly to how I did it for channels. https://github.com/RamblingCookieMonster/PSSlack/pull/90. We pin to a specific version of PSSlack so once that is released, we can bump the dependency and have it in the `v0.12.0` release (which adds Discord support as well).

[2019-10-29 22:11] dreznicek commented on #153
@devblackops don't know if you've had a chance to look into this or if I need to create a new issue?

[2019-10-30 04:22] devblackops commented on #153
@dreznicek Have you tried the latest version `v0.11.8`?

This is what I just tested with success:

**Can you try the following procedure (with PoshBot `v0.11.8` and let us know if you get the same behavior?**

---

1. Install PoshBot.Networking from PSGallery

2. Create approval configuration:

[code]

3. _user1_ tries to run the following but can't because they don't have the require permission (

[2019-10-30 04:23] #179 closed

[2019-10-30 04:25] devblackops commented on #173
Sorry @pauby. Got distracted with other stuff. I'll take a look at this again.

[2019-10-30 05:50] devblackops commented on #173
@pauby Can you build from `master` and try this out? This [commit](https://github.com/poshbotio/PoshBot/commit/24974494e5ff2837e67d679de247f5b2e1d9fa77#diff-90ce2fdb55be3408d203493b280d7d8aR252) should hopefully fix it.

tl;dr; Scheduled commands weren't getting the `ToName` and `FromName` resolved because that is a function of the backend and scheduled commands don't really come from the backend,

[2019-10-30 09:13] pauby commented on #173
@devblackops That's cool - I really did it because of the bot trying to shut us down! 😃

Leave this with me and I'll have a look at it. Likely after Ignite.

[2019-11-04 21:54] alexixiv opened #186 "Error Authenticating to Teams (400) Bad Request"
## Expected Behavior
Bot launches without error.

## Current Behavior
Error occurs "Error Authenticating to Teams... (400) Bad Request"

![PoshBotErrorTeams](https://user-images.githubusercontent.com/22600680/68161342-4f3b5880-ff1b-11e9-887a-09276f11c730.png)

## Possible Solution
I need to adjust my settings somewhere

## Steps to Reproduce (for bugs)
I attempted to follow the steps in the docume

[2019-11-05 06:10] #169 closed

[2019-11-05 07:10] #1 closed

[2019-11-05 07:10] #82 closed

[2019-11-05 07:10] #10 closed

[2019-11-05 07:10] #113 closed

[2019-11-05 07:10] #95 closed

[2019-11-05 07:10] #86 closed

[2019-11-05 07:10] #83 closed

[2019-11-05 07:10] #142 closed

[2019-11-05 07:10] #139 closed

[2019-11-05 07:10] #156 closed

[2019-11-05 07:10] #145 closed

[2019-11-06 12:36] mvanders opened #187 "Telegram - PoshBot Backend"
I’m looking to implement Chatops, but we would like to use Telegram as the chat platform.
I found someone who wrote code to send messages to Telegram here: https://github.com/techthoughts2/PoshGram
How difficult would it be for you to make PoshBot work with Telegram io Slack?

Anyhow, as I’m really impressed with PoshBot from your video on youtube, I’m going to order this book to learn and support

[2019-11-08 15:25] alexixiv commented on #186
I took another run at this starting from scratch and still hit the same error as above.

[2019-11-10 12:58] Riiskyy opened #188 "is it possible to use script scope vairables?"
## Query
Is it possible to declare a script variable in the .psm1 file and have different functions read/write to it? I ask because I am declaring on like this:
[code]

One of my functions writes to this variable and returns the results, which works perfectly. However my second function that looks to this variable and reads the data keeps returning blank results.

When I test this locally in debug

[2019-11-11 05:25] devblackops commented on #188
When PoshBot executes a command from your module, it does so in a new PowerShell job and that job is terminated when the command completes. If the command sets a script scope variable, that will only persist for the life of the job. Subsequent commands that PoshBot runs are executed in entirely new jobs and will not have access to that variable value.

If you need to have persist data between Posh

[2019-11-11 21:08] Riiskyy commented on #188
Ah that explains a lot. Thank you!

[2019-11-11 21:08] #188 closed

[2019-11-12 12:14] brettmillerb commented on #186
Hi @alexixiv you may have some issues with your config.

[code]

Few things worth mentioning:

- `$pbc.botadmins` This needs to be an AzureAD UPN of your user or someone who is going to manage poshbot, not your bot name.
- BotName in the config is as defined in Azure Bot Service, not in App Studio. Try and keep them the same name to avoid confusion
- Access key is the value you get running this fr

[2019-11-13 05:58] Kickbut101 opened #189 "Discord backend locks up - Suspect rate limits"
## Expected Behavior
I should be able to add-remove-update plugins at will and have the backend respect discords rate-limits so as not to lock up or lose connection to API.

## Current Behavior
Currently something as simple as !Update-Plugin locks up the api with the last errors showing (verbose)

05:51:22Z","Class":"DiscordBackend","Method":"_WaitRateLimit","Severity":"Warning","LogLevel":"Info",

[2019-11-13 18:56] alexixiv commented on #186
@brettmillerb , Thanks for the tips. I tried what you said. The two places that seemed like they needed corrections were the BotAdmins and the Bot App Password. The App ID seems correct, but I did go ahead and try the App ID found in the Azure portal as well, which still didnt work. I am getting the same error as before.

Any other suggestions... I very much want this to work.

[2019-11-14 16:42] brettmillerb commented on #186
@alexixiv The only other thing to check would be the Bot configuration in Azure Bot Service. Did you add the teams channel for your bot?

Open your bot in azure bot service and click on channels from the pane and add teams there.

Never seen a failure when starting the bot before like that.

[2019-11-18 14:23] mvanders opened #190 "Schedules.psd1 not found"
## Expected Behavior

## Current Behavior
When I start PoshBot, I get the following messages:

WARNING: {"DataTime":"2019-11-18 14:10:46Z","Class":"StorageProvider","Method":"GetConfig","Severity":"Warning","LogLevel":"Info","Message":"Configuration file [C:\\Users\\MV\\.poshbot\\plugins.psd1] not found","Data":{}}
WARNING: {"DataTime":"2019-11-18 14:10:46Z","Class":"StorageProvider","Method":"Get

[2019-11-20 19:55] Adamvg commented on #189
They can be turned off from the starting script:
`$pbc.AddCommandReactions = $false`

[2019-11-21 19:01] jamesbr-ashn opened #191 "PoshBot ping only occurs once"
PoshBot bot ping only occurs once

## Expected Behavior
According to the inline comments, the bot backend ping should occur every five seconds.

## Current Behavior
The ping occurs once after 5 seconds, but only the one time.

## Possible Solution
The stopwatch is being reset, not restarted. Change the command `$sw.Reset()` to `$sw.Restart()`

A Stopwatch instance calculates and retains the cumula

[2019-11-22 06:44] devblackops commented on #189
@Kickbut101 Can you expand on what you mean by "lock up"? You will see rate limit messages in the log but there should be no loss of functionality.

The `Rate limit reached` messages are normal for reactions as Discord has a very low rate limit on them. We act on the rate limit headers received from Discord and sleep accordingly.

[2019-11-22 07:08] devblackops commented on #191
Good catch @jamesbr-ashn. I'm going to merge this PR to make this behavior correct but in practice, the `Ping()` method isn't used in the builtin backends. The default [implementation](https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Classes/Backend.ps1#L55) in the `Backend` class in an empty method and the Discord, Slack, and Teams backends either inherit the default implemention, or also

[2019-11-22 07:13] #191 closed

[2019-11-22 07:20] devblackops commented on #190
Hey @mvanders,

`Schedules.psd1` will only exist if you've scheduled a command to run via the builtin command [New-PoshBotScheduledCommand](http://docs.poshbot.io/en/latest/reference/commands/New-ScheduledCommand/). If you do that, then an entry will be created in the file. This is so previously scheduled commands are registered again if the bot is restarted.

It's perfectly fine for it to issue t

[2019-11-22 16:23] Kickbut101 commented on #189
You bet!

My powershell ISE will lock up in "running" mode without allowing me to break the script which results in me having to "End Task" in task manager to get it to finally close/stop. In addition to this the bot becomes unresponsive and no longer listens or fulfills commands (like !status or !about or anything).

This was a while ago so my memory on it is not quite as clear as it was. But I b