[2019-11-23 04:24] Kickbut101 commented on #186
If it's anything like mine you setup the bot in azure framework to be single tenant. And this causes it to be screwy and give the 400 error. Make a new bot and set to be multi-tenant. That's what fixed it for me.

@alexixiv

[2019-11-23 04:46] Kickbut101 opened #193 "Allow config file to set what timezone for logs (And/Or turn off universal time)"
Currently in Poshbot.psm1 (Version 12.0.0) line 117 is;
`[datetime]$DateTime = (Get-Date).ToUniversalTime()`

I understand this is probably convenient or useful to some. But I found it troublesome and a little bit annoying to try to figure out why all my timestamps made no sense while troubleshooting.

## Expected Behavior

I can easily determine issues with the script by checking timestamps witho

[2019-11-23 08:36] fredericDietrich commented on #160
you should do a simple request, to your site, get cookies wich contains authentification
then use it in your csom query
here there is a working sample : http://fdi-sharepoint.e-monsite.com/blog/powershell/csompowershellssl.html

[2019-11-26 13:42] falkheiland opened #194 "Discord Formating New-PoshBotCardResponse Parameter fields does not display as table"
Trying to pass a (ordered) hashtable as Discord message (card).

## Expected Behavior
A hashtable to display as a table in the card response.

## Current Behavior
Output in discord is neither ordered nor a table which resembles the results correcty.

## Possible Solution

## Steps to Reproduce (for bugs)
New-PoshBotCardResponse -Type Normal -Fields $response

$response is a ordered hashtable, alre

[2019-11-27 23:11] totally-chill opened #195 "Can't pass an array of values when using positional parameters"
When trying to pass multiple values to a single parameter in a command, the parameter must be named, otherwise the values get separated/assigned to the next parameter.
## Expected Behavior

Passing an array of values to a single positional parameter should assign those values to that parameter.
## Current Behavior

Only the first value is associated with the parameter, unless the parameter is name

[2019-12-01 04:03] Adamvg commented on #194
The best way I found is to create a string then paste that as the hashtable. Something like this works well... There is probably a better way to do it, but this'll work while you wait for a better response.

[code]

[2019-12-05 12:52] falkheiland commented on #194
thanks, will definitely try that

[2019-12-10 15:06] jhealy opened #196 "Teams config fails with "parameter cannot be found that matches param access key""
Poshbot with teams fails with parameter cannot be found that matches parameter AccessKey when New-PoshBotConfiguration is run.

**

**

Following steps listed at

<https://poshbot.readthedocs.io/en/latest/guides/backends/setup-teams-backend/>

https://www.thelazyadministrator.com/2019/08/19/chatops-setting-up-poshbot-for-microsoft-teams/

## Expected Behavior

Configuration should pass.

## Curren

[2019-12-12 05:25] Kickbut101 opened #197 "[Solved - Kinda] Channel Rules not yet working on Discord"
It seems that no matter how I enter in the names of the channels my bot has access to the channel rules don't seem to be respected or work how I enter them.

## Expected Behavior
Ability to filter which channels can use which plugins and commands in discord

## Current Behavior
Unless the channel = '*' the channel I enter doesn't seem to be respected or adhered to at all in regards to the included

[2020-01-09 09:07] joakimkarlbom opened #199 "Support for multiple cardresponses in function"
## Expected Behavior
When doing multiple `New-PoshBotCardResponse`'s  within a function, the expected outcome should be that it sends the response at the time it is run in the function, and not batched when it has completed.

## Current Behavior

Right now, Poshbot will batch all CardResponses until the function either completes or fails.
## Possible Solution

This is probably the two places where

[2020-01-13 06:28] devblackops commented on #199
Thanks for the issue @joakimkarlbom. I'll take a look at this when I get a chance to determine if we need to modify more of the code to support this.

[2020-01-13 06:33] devblackops commented on #196
Thanks for the issue @jhealy. Sorry I've been slow to respond. I'll take a look at this when I get the chance.

[2020-01-13 06:36] devblackops commented on #195
Thanks for the issue @totally-chill. Can you provide a minimum command that reproduces the error?

[2020-01-17 02:28] erwincen opened #200 "Feature Request/Issue : Connect to Azure AD"
Hi, I built the bot on my local PC to manage Azure AD. I've installed Azure AD module PS but every time the bot run the AzureAD cmdlet i.e get-azureaduser , PS threw error need to run "connect-azuread" before calling any cmdlet.
I ran "connect-azuread" prior to launch the bot, hoping the session will be used by the bot but not in the case.
For now I included the cred (username and password) and "c

[2020-01-22 23:45] #200 closed

[2020-01-23 01:28] devblackops commented on #193
@Kickbut101 We can probably make that a configuration option with UTC being the default. Make sense?

[2020-01-23 02:48] Kickbut101 commented on #193
That would totally work!

[2020-01-30 03:05] dcvlehr commented on #139
This is still an issue when testing in slack in a newly installed poshbot and newly created slack instance. I have no permissions to have run commands. Console shows "Unable to resol
ve ID for admin [MyNameHere]"

When i run a command, I get a random string of characters that poshbot sees as the user

"Command [Get-Role] was not authorized for user [UTXXXXXXX]"

[2020-01-30 03:13] dcvlehr commented on #139
Nevermind, I found the actual user name...rather than running commands, you can go to https://dlbottest.slack.com/account/settings#username

The name poshbot needs is in the username field

[2020-01-30 10:25] pauby opened #202 "Disabled Schedule is still running"
When a scheduled task is disabled it still runs. Note `!dadjoke` was disabled a few days ago but I discovered I was running 0.11.7 so upgraded before reporting it.

![image](https://user-images.githubusercontent.com/12760779/73435701-10157b80-4341-11ea-8737-45eee64a97b4.png)

## Expected Behavior
When a task is disabled, it should not run.

## Current Behavior
A disabled task still runs.

## Possi

[2020-01-31 06:39] devblackops commented on #202
Thanks @pauby. This is intended behavior. Dad jokes are **always** allowed to run 😄

Just kidding, of course. Thanks for reporting this. I'll take a look.

[2020-02-05 04:54] #186 closed

[2020-02-05 10:10] mvanders commented on #187
As nobody's reacting, is it possible to get this developed and paid for? If yes, what would be the cost?

[2020-02-11 11:17] pauby commented on #173
@devblackops It's been a while but I've come back to this. I've upgraded PoshBot to the commit version and it appears to be working (it's only been half an hour but still). The scheduled commands are working and the restricted commands are not. Just as it should be.

Would like to keep this open for a few more days just to be sure and then I'll come back and close it?

[2020-02-13 04:06] devblackops commented on #173
@pauby Glad it's working! Feel free to close the issue whenever you're comfortable.

[2020-02-14 11:44] pauby opened #203 "PoshBot seems to be running a job that uses high CPU"
I'm not actually sure what's happening this one so I'm raising the issue to see if I can get more info on how to troubleshoot it and confirm it's related to PoshBot.

I recently deployed the commit from this [issue](https://github.com/poshbotio/PoshBot/issues/173). Ever since then, at approximately the same time (within a couple of hours) a PowerShell session get's spawned that consumes a high amo

[2020-02-17 06:13] devblackops commented on #203
This looks like the PowerShell job that PoshBot spawns to connect to Slack's RTM API over websockets. This job should always be running. PoshBot will start it when it connects to Slack and continually reads the output stream from it.

Looks like you're receiving this messages from Slack:

[code]
https://api.slack.com/events/goodbye

We're not handling that message type in the Slack backend so it s

[2020-02-17 13:36] #194 closed

[2020-02-17 16:22] pauby commented on #203
Thanks @devblackops. I'm assuming there is no workaround for it just now? The only solution I've implemented is to turn off PoshBot and that is not sustainable 😄

[2020-02-18 05:06] devblackops commented on #203
Correct. No solution right now but I'll see how easy it will be to properly handly the `goodbye` event and do a reconnect.

[2020-02-18 10:41] pauby commented on #203
I really need get time to dig into the code and help out!

[2020-03-04 20:47] RamblingCookieMonster opened #205 "PoshBot websocket issues"
Initial activities (e.g. querying users) that hit non real time API endpoints work without issue.  Websocket connectivity does not function, breaking poshbot

## Expected Behavior

Poshbot works

## Current Behavior

Poshbot does not work:

[code]

Issue appears to be in `StartReceiveJob`.  `while ($webSocket.State -eq [System.Net.WebSockets.WebSocketState]::Open) {` is never true

## Steps to Rep

[2020-03-04 21:15] devblackops commented on #205
Thanks @RamblingCookieMonster. I'll dig in.

[2020-03-04 21:21] RamblingCookieMonster commented on #205
Ahh, I’ve verified with wireshark that the websocket connections are using tlsv1 and thus not functioning now that slack requires tlsv1.2.  Not sure how to force tlsv1.2 with websockets (the usual invoke-restmethod calls work without issue)

[2020-03-04 22:12] joshcorr commented on #205
Fixed this in our situation by adding `[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12` in the following section of code.

[code]

[2020-03-04 23:28] hwashburn1011 commented on #205
Is there a way to fix this in older versions of Poshbot. In 11.2 this file does not exist.

[2020-03-05 14:49] aewald303 commented on #205
@joshcorr Good find! Can confirm that also worked in our environment.

[2020-03-05 15:09] dustman7g commented on #205
Unfortunately we are not seeing the same results by adding the TLS 1.2 enforcement in that section of the code. We are running on Window Server 2016, powershell version 5.1, and Module version 11.6.

[2020-03-05 15:24] RamblingCookieMonster commented on #205
The basic idea is that all calls to slack require TLSv1.2.  The snippet above resolves the websocket issue, as it runs within a job with separate context (i.e. if you enabled TLSv1.2, it won't be enabled until you add that line in the job code).  You also need to set this up for everything else.  Later versions of poshbot require psslack 1.0.2, which sets TLSv1.2 when the module loads.  You can go

[2020-03-05 16:29] TomWoodling commented on #205
I have version 0.11.8 of PoshBot and 1.0.2 of PSSlack installed and I still run into this exact problem. I can use the PSSlack commands and they work fine, but none of my bots can establish a connection to Slack wherever I add the TLS1.2 line - tried various locations, even overwriting the 'Connect to Websocket' section in PoshBot.psm1 to include it and still no joy.

[2020-03-05 16:49] aewald303 commented on #205
In your logs if you are getting a 426 error from slack you will need to keep the bot off for awhile to allow the rate limit to clear.

Also, I did open a ticket with slack and they sent me this if it's of any worth to the developers.

[2020-03-05 17:15] devblackops commented on #205
I put a fix https://github.com/poshbotio/PoshBot/commit/1c7e285d627c932a8d12fbe90365da457efd8024 to ensure TLS12 is set in the websocket receive job.

[2020-03-05 17:26] devblackops commented on #205
If anyone still can't connect, even after setting `[Net.ServicePointManager]::SecurityProtocol = [Net.ServicePointManager]::SecurityProtocol -bor [Net.SecurityProtocolType]::Tls12` in `[void]StartReceiveJob()` like @joshcorr [noted](https://github.com/poshbotio/PoshBot/issues/205#issuecomment-594886440), here is a minimal repo script to connect to Slack's RTM websocket API and receive messages.

h

[2020-03-05 20:12] tenwiseman commented on #205
Hi, brief note to say thanks for the fix 1c7e285. Works fine (PSVersion: 5.1.14409.1005 / Server 2012R2)

[2020-03-06 05:20] devblackops commented on #205
v0.12.0 has been released with the fix!

https://www.powershellgallery.com/packages/PoshBot/0.12.0

[2020-03-06 05:21] devblackops commented on #135
v0.12.0 has been released with Discord support! Sorry it took so long with finally hit the publish button.

https://www.powershellgallery.com/packages/PoshBot/0.12.0

[2020-03-06 05:21] #135 closed

[2020-03-06 17:39] RamblingCookieMonster commented on #205
Closing this out, thanks all : D

[2020-03-06 17:39] #205 closed

[2020-03-06 20:06] dustman7g commented on #205
Hello All - I am still having issues after the fix. Has anyone had to do anything else to get this working?

This is the error I am finding.
`Result                 :
Id                     : 30
Exception              : System.AggregateException: One or more errors occurred. --->
                         System.Net.WebSockets.WebSocketException: Unable to connect to the
                         re

[2020-03-07 04:56] devblackops commented on #205
@dustman7g Where are you seeing that error? What OS/PowerShell/PoshBot version?

[2020-03-07 13:16] dustman7g commented on #205
We are running on Window Server 2016, powershell version 5.1, and Module version `v0.12.0.

I am seeing the error in  $task in websocket recieve job.

   # Setup the websocket receive job
    [void]StartReceiveJob() {
        $recv = {
            [cmdletbinding()]
            param(
                [parameter(mandatory)]
                $url
            )

            # Slack enforces TLS12 on th

[2020-03-09 09:41] wozzo commented on #203
We seem to have experienced this a couple of times over the weekend since the 0.12.0 release if that helps at all.

[2020-03-09 11:43] pauby commented on #203
@devblackops The comment by @wozzo seems to indicate this is something that's been changed in 0.12.0.

[2020-03-09 19:55] tenwiseman commented on #203
Hmmm, I'm now getting same message as well. (0.12.0, PS 5.1, Server 2012 and R2/2016). Service restarts OK.

`{"DataTime":"2020-03-09 19:25:30Z","Class":"SlackBackend","Method":"ReceiveMessage","Severity":"Normal","LogLevel":"Debug","Message":"Received message","Data":"{\"type\":
 \"goodbye\", \"source\": \"gateway_server\"}"}
{"DataTime":"2020-03-09 19:25:30Z","Class":"SlackBackend","Method":"Rec

[2020-03-09 22:54] devblackops commented on #203
@pauby @tenwiseman About how often is the `goodbye` event received?

[2020-03-09 23:10] donfouts commented on #203
I think this is also the problem i am having: it started 3/4 and I was using poshbot 0.11.8 but it looked like we were getting rate limited by slack's api "too many requests", I upgraded poshbot to 0.12.0 - and now it looks like a bad token from slack (it might have been changed to troubleshoot last week, but didn't get updated for the next release. below are the logs (well part of it)

today I di

[2020-03-09 23:22] tenwiseman commented on #203
Hi Brandon, I'd only just changed the logging level to 'debug' for the last run, which stayed functional for 8hours. Previously it stayed functional for about an hour, before the bot stopped responding to commands, clearing it's 'presence' beacon in the client (presumably before it says 'goodbye'), and the socket connection disappears from netstat. I haven't see the excessive CPU load issues other

[2020-03-10 15:00] pauby commented on #203
@devblackops Here is the log I have for a problem day:

[code]

The goodbye is received once and nothing then happens until I restart it the next day.

[2020-03-10 15:02] pauby commented on #203
I switched PoshBot back on last night as I was going to try and troubleshoot the problem more. Like @donfouts I started getting 429 Too Many Requests from Slack. I see PoshBot successfully connecting to the API, then disconnecting, then connecting over and over again. My intention today was to reinstall PoshBot 0.12.0 just in case something has gone wrong, but I haven't done that as yet.

I don't

[2020-03-10 16:47] pauby commented on #203
Just to update my above comment - I've now reinstalled 0.12.0 and I'm not getting the 429 response from Slack or the constant connecting and disconnecting that I experienced before. It could be that Slack had an issue?

[2020-03-11 05:38] devblackops commented on #203
I can repro the CPU issue with this snippet that just connects to the websocket and outputs json to the output stream.

https://gist.github.com/devblackops/efef2a4e20e542d31a83b175a535ed17

Steps:
1. Run script to create websocket connection
2. Disconnect network adapter
3. Observe pwsh.exe CPU usage
4. Reconnect adapter
5. Observe that websocket connection no longer works (and doesn't error out e

[2020-03-11 21:52] LuiZ146 opened #206 "Scheduled commands on Teams does not send any response"
Hey there, I'm trying to schedule certain commands i made but it doesn't send any response in MS Teams.

## Expected Behavior
Send a message/card every time a scheduled command is executed in MS Teams

## Current Behavior
It does not send anything

## Possible Solution

## Steps to Reproduce (for bugs)

1. I tried to reproduce the same example as in Techsnips video, using the !Get-Status command,

[2020-03-12 10:43] pauby commented on #203
@devblackops I'm not sure this helps but I'll add it anyway.

I went back to 0.11.8 of the module and get the [constant connect / disconnect I mentioned above](https://github.com/poshbotio/PoshBot/issues/203#issuecomment-597135212). I know that 0.11.8 didn't have TLS 1.2 (I think?) turned on so I'm thinking maybe it's this that is causing the connect / disconnect? There is nothing in the logs that

[2020-03-28 04:55] devblackops commented on #206
@LuiZ146 Thanks for reporting the issue! 👍

This _should_ be fixed in https://github.com/poshbotio/PoshBot/commit/62b1c6a684abeaf8167cc8d373479c473e8ec1b8 now.

If you want to test before the next release, can you try building from source and loading the built module that gets created in the `out` directory? Instructions to build locally are [here](https://github.com/poshbotio/PoshBot/blob/master/

[2020-03-28 04:55] #206 closed

[2020-03-28 05:24] devblackops commented on #196
@jhealy Sorry it took me so long to respond. This one slipped through the cracks.

The last line (where you create the backend object) should be:

[code]

**NOT* *

[code]

You've already created the bot configuration object (`$pbc`) in the first line. After that, you need to create a backend configuration object with all the information required to connect to Teams. Once you have a bot configurat

[2020-03-28 05:24] #196 closed

[2020-03-28 07:58] totally-chill commented on #195
`Function FunctionWithArray{
	[cmdletbinding()]
	[PoshBot.BotCommand(
		Aliases = ('test')
	)]
	param(
		[Parameter(Mandatory = $true, Position = 0)][string[]]$param1,
		[Parameter(Position = 1)][string]$param2
	)

	New-PoshBotTextResponse -text "This is param1:  $param1"
	New-PoshBotTextResponse -text "This is param2:  $param2"
}`

This should cause the issue.  I do not have access to the resourc

[2020-03-28 08:00] totally-chill commented on #195
[code]
This should result in the issue.  I do not have access to the resources to properly test this, but I'm confident by trying to pass an array of strings to param1 through Slack will cause the issue.

[2020-03-29 22:33] devblackops commented on #202
@pauby This should be fixed in https://github.com/poshbotio/PoshBot/commit/21d190a76962e0462c48202fc2b9f67a9efe5941

[2020-03-29 22:33] #202 closed

[2020-03-29 22:51] devblackops commented on #189
Is this still an issue @Kickbut101?

[2020-03-29 22:53] #190 closed

[2020-03-29 23:45] Kickbut101 commented on #189
I am unsure what causes it but the .12 build I made long ago does still die on it's own for some reason. It's probably not at all related to rate limits. But It will lock up and the powershell console will still be "running" but the bot status on discord goes to offline and no commands are accepted/run.

Again though, probably not rate limit related. More likely just a bad build on my part? Unsure

[2020-03-30 00:42] Adamvg commented on #189
I get this too, but only when running commands - probably something in your module that is messing the bot up. Mine works fine for hours on end if I disable my scheduled command(s).

On Mon, Mar 30, 2020 at 12:46 AM +0100, "Kickbut101" <notifications@github.com> wrote:

I am unsure what causes it but the .12 build I made long ago does still die on it's own for some reason. It's probably not at all

[2020-03-30 16:54] devblackops commented on #203
The `goodbye` event should be properly handled in https://github.com/poshbotio/PoshBot/commit/224b80d5d9cf222d5136139e951008659467f83b now. If encountered, it will close/reopen the Slack RTM connection.

If people can build from src, try that out, and let me know if it helps, I'd appreciate it!

[2020-04-01 14:44] pauby commented on #202
I'll take this for a spin very shortly and confirm back.

[2020-04-01 20:24] LuiZ146 commented on #206
Thanks @devblackops!

If you don't mind, I would like to know approximately when is going to be released the version 0.12.1?

[2020-04-02 13:53] pauby commented on #203
@devblackops I have deployed this now. Will let you know if it ends up with high CPU tomorrow.

[2020-04-02 13:54] pauby commented on #202
@devblackops I have deployed this now and will let you know how it works.

[2020-04-06 09:06] pauby commented on #203
I've got an update but I'm not quite sure if it's good or bad.

On Saturday (4 April) the server that PoshBot runs on started reporting high CPU again. I picked this up today and it appears it's a PowerShell PoshBot job. I had to kill it in Task Manager to get teh server back to being responsive again so i didn't any troubleshooting done. When I did kill it I got this message:

[code]

So I know i

[2020-04-06 23:13] IsykalMkim opened #207 "PoshBot disconnected from Slack after a few hours."
Currently we have PoshBot running as a service using NSSM 2.24 on a server of ours and ever since upgrading to the latest version 0.12.0 we've been having random instances where PoshBot is no longer responsive to Slack commands, looking at Slack we notice that Posh's status is shown as being offline on Slack and so we had assumed that the service must've stopped running thus Posh is disconnected f

[2020-04-10 15:23] pauby commented on #207
@IsykalMkim This sounds very much like it's related to #203 ?

[2020-04-10 15:35] pauby commented on #203
I have to report this again today. The server reported high CPU at 12:07 (BST). I've looked at the server now and Task Manager is showing the job is this:

![image](https://user-images.githubusercontent.com/12760779/79002162-c965ae00-7b47-11ea-8fcb-b886d49b2507.png)

And the user tab is showing this:

![image](https://user-images.githubusercontent.com/12760779/79002284-0f227680-7b48-11ea-8521-ee3f

[2020-04-10 16:27] devblackops commented on #203
@pauby I'm seeing this in my environment as well now so it seems like new behavior Slack is rolling out where the 'goodbye' event is being sent every 24 hours or so. I've been working on changing the Slack backend to use a runspace pool to get better logging of what is going on with the connection, and making improvements to the reconnect logic.

The good news is I see this in my environment now (

[2020-04-10 19:58] IsykalMkim commented on #207
Hey @pauby thank you for linking to #203 , after reading through the issue you posted it sounds very similar indeed. There seems to be some difference in our situation though as we are currently running PoshBot as a service and I believe you said that you are running it in a PS session instead. We also have high cpu usage monitoring on that server as well and its not picking up any high usage eith

[2020-04-12 05:11] devblackops commented on #207
@IsykalMkim This looks to be the same issue. It shouldn't matter if running in a service or session. I see the same in a container. I'm going to close this one out and track the issue in #203

[2020-04-12 05:11] #207 closed

[2020-04-14 15:50] DunlapOverbelt commented on #203
@devblackops I've also been seeing this problem with PoshBot running as a service on PSVersion 5.1.14393.3471 on Windows 2016 server.  I enabled debug mode for the logs and did see a 'goodbye' message in the logs the last time it happened.

I've enabled the fix in [224b80d](https://github.com/poshbotio/PoshBot/commit/224b80d5d9cf222d5136139e951008659467f83b) and will let you know how that goes.

I

[2020-04-14 17:39] devblackops commented on #203
This should _hopefully_ be fixed in this latest commit: https://github.com/poshbotio/PoshBot/commit/9016bc90c9d2f10eb94b24bd8269732a5684556f.

Can everyone pull latest, rebuild, and try it out?

[2020-04-14 19:01] devblackops commented on #206
@LuiZ146 just pending confirmation that #203 is fixed.

[2020-04-15 20:23] DunlapOverbelt commented on #203
@devblackops I will try to  pull latest and rebuild based on  commit: [9016bc9](https://github.com/poshbotio/PoshBot/commit/9016bc90c9d2f10eb94b24bd8269732a5684556f) and let you know how it goes.

My bot did fail after having applied the changes in commit: [224b80d](https://github.com/poshbotio/PoshBot/commit/224b80d5d9cf222d5136139e951008659467f83b) and seeing a "goodbye" message in the logs.  Ho

[2020-04-16 11:37] TomWoodling commented on #203
I'm also experiencing this problem (or a variant of it) - certainly i see my bot disconnect from Slack at the same time as the receive job hangs and spikes the CPU, then if I kill that powershell process it will reconnect.  This was daily until 14/4, but since then it is happening roughly every 100 seconds.  I've built the latest commit and tried that, but I see exactly the same issue.  The logs s

[2020-04-16 15:22] devblackops commented on #203
@TomWoodling This looks to be the same underlying issue but it's odd that you get disconnected every 100 seconds.

The error you see above is coming from the `Send-Ping` function that is running inside the PowerShell job. It will send a ping back using the websocket connection every 5 seconds. It looks like at ~100 seconds it fails because the websocket connection was closed by Slack (or something

[2020-04-16 16:17] TomWoodling commented on #203
@devblackops I've been thinking about that and I might have the answer to the 100s part.  My Powershell versions were 5.1.14393.3471 on server or 5.1.18362.628 on desktop - updated one to v7 and now it can hold the connection.  5 minutes and counting so far.

[2020-04-16 17:34] DunlapOverbelt commented on #203
@devblackops I haven't built the new version yet, but I am now getting disconnected about as often as @TomWoodling reports.  I was able to be connected for at least 8 hours before today.  Nothing has changed in my config for at least two days when I implemented the fix to see goodbye messages.

[2020-04-16 22:09] DunlapOverbelt commented on #203
@devblackops I've built against the latest commit and still have Poshbot failing after about 100 seconds. PSVersion 5.1.14393.3471 on Windows 2016 server.  Nothing in the logs to indicate why.  using resource monitor, I see the websocket connection close.

[2020-04-17 11:32] TomWoodling commented on #203
@DunlapOverbelt I can confirm that running the bot in PSVersion 7.0.0 fixes that - as I've just been finding out it runs side-by-side with PS v5.1 so it's not a huge deal to install it.  Then all you need to do is start the bot normally , but using pwsh.exe instead (or directly in the PS v7 shell).  It also stops the 100sec disconnects for the 0.12.0 PoshBot release from PSGallery.

[2020-04-17 21:24] DunlapOverbelt commented on #203
@TomWoodling yea.. I need to get this up and running ASAP.. so I'm going to go ahead and install powershell 7 on my server that runs poshbot.  There are a few things that appear to break with powershell7 though if using modules I've already downloaded.

I'd still like to figure out why it just stopped working for Powershell 5.1.. it doesn't make sense that it worked for hours before and then just

[2020-04-17 21:32] devblackops commented on #203
@DunlapOverbelt Nope. You don’t need to rebuild to run in pwsh 7 if you’ve already done that.

I’ll do some testing with PowerShell 5.1. 6 and then 7 have been my daily drivers for awhile.

[2020-04-17 23:08] DunlapOverbelt commented on #203
@devblackops @TomWoodling  I've got Poshbot Running under powershell 7, however.. two of my main plugins won't work now.. I use Posh-SSH and OperationsManager modules in my plugins.
 Since they no longer work, I'll either need to find replacements/workarounds or figure out why Poshbot stopped working for Powershell 5.1.  I'm also working on ActiveDirectory module for a middleware hook, but that sh

[2020-04-18 03:34] devblackops commented on #203
OK, I see the same behavior in PowerShell 5.1. After exactly 100 seconds, the PowerShell process for the websocket job is a steady 6% CPU and has stopped working. Digging into it.

PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.19041.1
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0

[2020-04-18 22:04] devblackops commented on #203
@pauby @DunlapOverbelt @TomWoodling @tenwiseman @wozzo

Everyone, I'm hoping this is finally squashed in https://github.com/poshbotio/PoshBot/commit/468cfa9205f017a1d7c4168bf8a072fb4fb37a02. Please rebuild from source and post back here if the issues goes away.

This post pointed me in the right direction: https://stackoverflow.com/questions/40502921/net-websockets-forcibly-closed-despite-keep-ali

[2020-04-20 09:48] TomWoodling commented on #203
@devblackops wow - that is quite the obscure issue indeed, great find!  The new commit is working well for me under PS 5.1 - 15 minutes and no drops so far on a test bot, so it's already a massive improvement.  That being said, I'll stick to PS 7 for production from now on 😹

On that note, I've managed to log a few of the goodbye messages on a bot running the previous commit and each time it's han

[2020-04-20 21:05] DunlapOverbelt commented on #203
@devblackops I've built PoshBot from 468cfa9 and have confirmed that Poshbot stays connected for longer than 100 seconds on PSVersion 5.1.14393.3471 on Windows 2016 server.  I'll leave it running and let you know if I see a disconnect over night.

At least I don't need to re-write my plugins that depend on PS 5.1 modules with the WindowsCompatibility module yet!  And Dilbert works again!

[2020-04-21 16:02] DunlapOverbelt commented on #203
@devblackops confirming, things look good with PoshBot from commit 468cfa9 build.  Logs also show reconnected after a goodbye message.  Good to go!

I did notice during the build that requirements.psd1 lists PSSlack 1.0.2 but the PoshBot.psd1 lists PSSlack 1.0.1 as required modules.  not sure if that need updated before this commit roles to 0.12.1 version.

Thanks for figuring this out!

[2020-04-21 16:06] DunlapOverbelt commented on #203
@devblackops confirming, things look good with PoshBot from commit 468cfa9 build.  Logs also show reconnected after a goodbye message.  Good to go!

I did notice during the build that requirements.psd1 lists PSSlack 1.0.2 but the PoshBot.psd1 lists PSSlack 1.0.1 as required modules.  not sure if that need updated before this commit roles to 0.12.1 version.

Thanks for figuring this out!

[2020-04-23 04:17] devblackops commented on #203
Awesome news. Thanks for testing!

[2020-04-23 06:25] matnav opened #208 "0.12.0 - Unable to deploy to TeamsBackend - 400 Bad Requests"
After multiple clean attempts to deploy PoshBot, I've come to the conclusion that something is wrong with the build or the documentation is out of date. I've followed everything outlined in https://poshbot.readthedocs.io/en/latest/guides/backends/setup-teams-backend/ to the T multiple times now. In total, I'm up to 3 times from scratch using unique names each time, and fresh App Manifest.

## Expe

[2020-04-23 10:40] pauby commented on #203
@devblackops I've actually just seen this so I've deployed 468cfa9 now.

[2020-04-23 10:40] #173 closed

[2020-04-24 03:49] devblackops commented on #203
Excellent @pauby. Please let me know if it resolves your issue.

[2020-04-25 06:38] matnav commented on #208
This is apparently a known issue with manage multiple organizations with our Office 365 portal.

Resolved by checking the option in the App Registration "Accounts in any organizational directory (Any Azure AD directory - Multitenant)"

[2020-04-25 06:39] #208 closed

[2020-04-26 18:19] poseyjmac opened #209 "Can't install poshbot"
'Install-Module -Name PoshBot -Repository PSGallery' doesn't install the module.

## Expected Behavior
The module being installed

## Current Behavior
Error message:

WARNING: Source Location 'https://www.powershellgallery.com/api/v2/package/Configuration/1.3.1' is not valid.

## Steps to Reproduce (for bugs)

1. Be me
2. Run 'Install-Module -Name PoshBot -Repository PSGallery'

## Context

Can't

[2020-04-26 18:24] #209 closed

[2020-04-26 18:24] kilasuit commented on #209
Which version of PowerShellGet & PackageManagement are you running?

Does this happen on Server 2016 too.

Also I'm not going to be able to follow your first step to repro this I'm afraid

[2020-04-26 22:34] poseyjmac opened #210 "poshbot not working when running as a service."
I got poshbot working by running 'C:\poshbot\start-poshbot.ps1' from a powershell window. Bot lights up in Slack, commands work great.

Then I followed the tutorial to run this as a service (https://poshbot.readthedocs.io/en/latest/guides/run-poshbot-as-a-service/), but the bot is not available in Slack after the service is created and ran, and I'm unsure how to troubleshoot it. My path is exactly

[2020-04-27 23:17] DunlapOverbelt commented on #210
@poseyjmac is there a space in any of your paths for $nssm, $ScriptPath, $ServiceName, or $ServicePath?

Is the location of $ScriptPath accessible by SYSTEM?

Have you tried running the service as your account or a specific account for poshbot, confirming it has access to read and write to the $ScriptPath?

[2020-04-28 18:24] poseyjmac commented on #210
It has access as far as I can tell. I got this to work on a Windows 10 client machine.

One thing that's weird that may be related is the bot will just disappear from chat randomly and never return. This is after running it from a Powershell console window. I can't get it to be reliable running from there, so it not working at all as a service is less shocking

[2020-04-28 19:00] poseyjmac opened #211 "Poshbot leaving Slack after a couple minutes"
last update: I upgraded to Powershell 7 from 5.1 and that fixed it.

It accepts commands and everything works fine, but then poshbot will just leave slack, the green dot goes empty, and I see no evidence in logs of anything happening. Any ideas on why it won't stay?

1 minute 45 seconds is how long it takes to disappear.

Update: This isn't a solution, but I've found a configuration that does work

[2020-04-29 16:02] #210 closed

[2020-04-30 22:40] DunlapOverbelt commented on #211
@poseyjmac have you looked at issue #203 to see if it addresses the issue you are having?  The title says High CPU, but in the fixes with commit 468cfa9 @devblackops addresses some WebSocket timeout issues.  The information about writing out Content-Length: 1 may be new though.

[2020-04-30 23:42] devblackops commented on #211
Yes, this looks to be the same issue that is fixed in https://github.com/poshbotio/PoshBot/commit/468cfa9205f017a1d7c4168bf8a072fb4fb37a02 as @DunlapOverbelt noted. This [SO question](https://stackoverflow.com/questions/40502921/net-websockets-forcibly-closed-despite-keep-alive-and-activity-on-the-connectio) also mentioned that if content-length:0 is passed, the client will start the 100 second ti

[2020-04-30 23:46] poseyjmac commented on #211
@DunlapOverbelt @devblackops

Thanks for the responses. I ended up looking through that thread and seeing the guy who upgraded to Powershell 7, so I installed 7 and and everything's been working great on it.

[2020-04-30 23:47] devblackops commented on #211
@poseyjmac That will work as well, as long as the plugins you use are compatible with pwsh 7 👍

[2020-04-30 23:47] #211 closed

[2020-05-01 18:01] poseyjmac opened #212 "One plugin never returning result - Is there a timeout value defined?"
I've made a simple test plugin that just has a start-sleep command. If I set it to around 35 seconds, it will sometimes not complete, and the gear never goes to green check mark. If I raise it higher, it will likely never be successful. As I lower it, it will become more successful.

Is there a way to define that timeout period? Because, I have plugins I'm writing that sometimes may take longer th

[2020-05-02 18:59] #212 closed

[2020-05-02 19:50] poseyjmac opened #213 "Disabling built-in plugins?"
I can see all the built-in modules in the builtin directory, and I can edit them, but it seems like that has no effect(tried changing 'help' to 'help2' in alias section of 'get-commandhelp' for instance) What I'm trying to do is make the default slack user have access to zero commands, so that I can make all the custom plugins and permissions myself. Is there some other place they are defined, or

[2020-05-03 22:44] devblackops commented on #203
Closing this out as `0.13.0` has been released with the fixes.

[2020-05-03 22:44] #203 closed

[2020-05-10 03:49] LuisRendonS opened #214 "Is it possible to store command approvals information?"
Hey There, I hope someone can help me with this question. Right now I'm working with command approvals for deployment commands and i would like to store the information of the approval in a log file (if it was approved or denied, approver name, time of the approval, execution ID). I really hope this can be possible since it would be very helpful in my company.

[2020-05-13 07:34] DunlapOverbelt commented on #214
@LuisRendonS it would be possible to do this with [PoshBot middleware hooks](https://github.com/poshbotio/middleware_hooks) I don't see one that does what you are looking for specifically, but perhaps  you could write one and share back.

[2020-05-13 14:15] LuisRendonS commented on #214
@DunlapOverbelt thanks for your reply. You are rigth, i was looking for this the past few days but i couldn't find anything, so i guess i'll have to play a little with middleware hooks. Cheers

[2020-05-13 19:20] #214 closed

[2020-05-19 23:14] #213 closed

[2020-05-19 23:18] poseyjmac opened #215 "Converting this bot from legacy integration?"
I ran into a small bug where the bot name would appear as 'bot' in the mobile app. I got a response from Slack support saying I'm using the legacy bot implementation, and they recommended I convert it. My question is, is it possible to do this fairly easily?

I made the new bot and plugged in the bot API token in the config and my username, but the log says it can't find my username and, I'm not s

[2020-05-29 19:46] #215 closed

[2020-06-28 20:37] sheldonhull opened #216 "Incrementally update or replace a progress message with new content on long running jobs"
I wanted to explore providing output of a long running step providing some feedback on overall progress. I created a PSSlack function to help with this on a long running job that would take the originating message id and then allow me to update with processed time or progress so that a long running job in Azure Pipelines would 1) not spam with new messages 2) allow a single message to get updated

[2020-07-02 14:18] mvanders commented on #187
I posted it now on PeoplePerHour as a project: https://www.peopleperhour.com/job/proposals-list/2906497 hoping for a better response...

[2020-07-02 19:07] sheldonhull opened #217 "Connectivity problems when running poshbot in aws ecs fargate task showing receive job state is blocked"
## Current Behavior

I've worked on deploying poshbot in AWS Fargate to provide a solid serverless solution to running this reliably.

After initial pain points, I've gotten poshbot up and working, however, the bot seems to be failing to receive when the websocket is open.

Any tips on figuring that out? I have full egress allowed, but no ingress as I was assuming this would be a websocket connect

[2020-07-02 22:15] devblackops commented on #217
@sheldonhull Instead of trying to troubleshoot the websocket connection through PoshBot, can you try to repro using this gist? https://gist.github.com/devblackops/efef2a4e20e542d31a83b175a535ed17

That is a pretty minimal Slack websocket connection test. Just use your Slack token at the bottom. As you type in Slack, the script will output the JSON received. Can you test that on a VM in AWS to see

[2020-07-03 00:35] sheldonhull commented on #217
This is very useful. TLS failed. I ran the command to set again.
Finally got

[code]

I tried token for bot + oauth. I need to go look at missing permission possibly. It's worked before I thought using the slack app + additional permissions. Let me check now.

[2020-07-03 00:57] sheldonhull commented on #217
Solved.

The RTM permissions are not apparently being solved in the current application permissions. I've used this in the past I thought. I removed the App install from my workspace and created using the [slack url](https://my.slack.com/services/new/bot) per directions and this one successfully worked.

I'm not clear on why this happened as I thought I've had the bot work in the past with a norma

[2020-07-03 05:05] sheldonhull commented on #217
@devblackops so I ensured I added TLS1.2 at the top of the dockentrypoint.ps1 and also in the dockerfile. I no longer have Blocked. I am still getting this error message, and the instance is responding to my pings, and showing all setup steps seem correct.

[code]

It's on a public subnet with all egress allowed.
Any other ideas now that I've got the authentication working and all, just this failu

[2020-07-14 00:21] sheldonhull commented on #217
Closing as i'm moving to teams and unable to spend more time in reproducing at this time.

[2020-07-14 00:21] #217 closed

[2020-07-19 14:44] kmickeletto opened #218 "Is there a variable for the user that initiated the command?"
Example, user executes whoami command.  How can the function lookup who actually executed the command?

## Expected Behavior
If user executed custom whoami command, there would be a variable or lookup function to determine who executed the command.

## Current Behavior
I am not sure

## Possible Solution
Variable or lookup function

[2020-07-19 16:14] devblackops commented on #218
@kmickeletto Yes, when the command is executed, PoshBot populates a variable called `$global:PoshBotContext`. In that, you'll find properties like the ID and name of the user who executed the command, the channel ID and name, the raw message PoshBot received, and other info.

Here is a demo command dump the variable contents back to the the backend: https://github.com/poshbotio/PoshBot.Demo/blob/m

[2020-07-22 15:49] kmickeletto commented on #218
Thanks so much!  Works like a charm!

[2020-07-22 15:49] #218 closed

[2020-08-05 17:22] tarabishy2020 commented on #106
@devblackops Hi Brandon, is this feature still not functional in teams?

[2020-08-05 17:39] devblackops commented on #106
@tarabishy2020 Not currently. I haven't dug into if Microsoft made the process easier. Last time I looked the process was pretty convoluted.

[2020-08-28 20:41] krknopp commented on #150
`CTRL+SHIFT-V` does work.

[2020-09-01 05:15] devblackops commented on #150
I _believe_ I have a fix for pasted messages in https://github.com/poshbotio/PoshBot/commit/016120a92d7f3e358fa68bea0d1b3468f660afdc but could use some folks who Teams to test it. Can you pull down the latest from master, build it with `./build.ps1 -task build` and test it out?

[2020-09-03 22:37] jcreo4299 opened #219 "Utilizing Incoming Webhook in Middleware PreExecute Hook"
## Background
I am working with the code provided in an earlier issue for sending a message regarding approvals in the pre-execute middleware hooks. The script provided works excellent, but due to Teams and not being able to mention people / channels through a webhook, we are trying to utilize normal incoming webhooks to send a message to another teams channel to notify users of a pending approval

[2020-09-04 18:08] dhlee90 opened #220 "Issue getting microsoft teams channel Id that command was issued in."
## Expected Behavior

When retrieving the channelId for the channel that the bot was called, I expect to see the channel id.
It would be awesome if we could retrieve the Teams Channel Name that poshbot was called from.

## Current Behavior

Calling $global:PoshBotContext.OriginalMessage.RawMessage.channelId returns channelId=msteams rather than the actual channel id.
## Possible Solution

Is this

[2020-09-07 14:46] bobalob opened #221 "FunctionApp creation not working as expected"
Function App shows an error relating to unknown language [dotnet]. Also the Function does not run as expected, complaining about `Push-OutputBinding` not being a known command.

## Current Behavior

When running the following command, the FunctionApp is created but the PowerShell commandlet `Push-OutputBinding` is not available and there is a warning in the Overview section relating to [dotnet]

[2020-09-08 22:42] devblackops commented on #221
Thanks for reporting this @bobalob.

I haven't tested this yet, but it looks like behavior change in `az functionapp`. The [docs](https://poshbot.readthedocs.io/en/latest/guides/backends/setup-teams-backend/) were written when v1 functions were still the default.

[2020-09-09 20:28] krknopp commented on #150
@devblackops :boom: looks like it works now.

I wasn't smart enough to figure out how to install the `0.14.0` output of `./build.ps1 -task build` over my existing `0.13.0` module that was installed via `Install-Module PoshBot`, so I just manually made the edits to my `0.13.0` module code and restarted PoshBot.

[2020-09-10 17:38] jcreo4299 commented on #219
Was able to work around this by just modifying the main module PoshBot.psm1 which provided a solution to my problem above.

[2020-09-10 17:38] #219 closed

[2020-09-12 22:53] devblackops commented on #221
@bobalob Docs have been updated to include `--runtime powershell` and `--functions-version 3`.

[2020-09-12 22:53] #221 closed

[2020-09-12 22:56] devblackops commented on #150
Thanks for testing @krknopp. Until `.0.14.0` is officially released, you can adjust your script that starts PoshBot to load the version from the build output, or you can manually copy the `0.14.0` directory to `C:\Users\<username>\Documents\PowerShell\Modules\PoshBot` (or wherever you have PoshBot installed).

[2020-09-12 22:56] #150 closed

[2020-09-15 20:42] dhlee90 commented on #220
the issue can be closed, I have found the channel id.. wasn't going deep enough.
 $channel = $global:PoshBotContext.OriginalMessage.RawMessage.channelData.teamsChannelId

[2020-09-15 20:42] #220 closed

[2020-10-10 02:22] Kickbut101 opened #222 "Recently having issues with 403 forbidden and 50001 Missing access errors."
## Expected Behavior
The bot should read and receive commands and fulfill any requests coming in

## Current Behavior
Bot doesn't even start up. Gets 403 errors talking about 50001 missing access. After a while of this it just quits.

## Possible Solution
 I would suspect some of the changes discord implemented recently have broken the script. Discord has changed bots/api access in last month or s

[2020-10-10 02:24] Kickbut101 commented on #222
Heres a snip of the log;
`\u0027https://discordapp.com/api/guilds/383060918625370112/members?limit=1000\u0027: The remote server returned an error: (429) Too Many Requests.: {\n  \"global\": false, \n  \"message\": \"You are being rate limited.\", \n  \"retry_after\": 8605\n}\n","Data":{}}
{"DataTime":"2020-10-09 21:14:32Z","Class":"DiscordBackend","Method":"_SendDiscordMsg","Severity":"Warning","

[2020-10-11 05:02] devblackops commented on #222
@Kickbut101 Thanks for reporting this. You mentioned Discord changed things in the API. Can you point me to what changed?

[2020-10-11 06:30] Kickbut101 commented on #222
I assume it's something in here;
https://discord.com/developers/docs/change-log#api-and-gateway-v8

Maybe the gateway? I'm just spittballing?

[2020-10-11 17:31] Kickbut101 commented on #222
@devblackops

I'm sorry to have wasted your time. I think I found it. And maybe this is worth posting a PSA now for discord. But it seems in the last week or so (I had my last "successful" commands on 10-4-20) Discord has changed some access for bots.

They now require you to check specific gateway permissions through the bot admin interface on their developer portal.
![image](https://user-images.

[2020-10-11 22:24] devblackops commented on #222
That's good to know @Kickbut101. Thanks. I'll do some testing on my end to repro and update the docs.

[2020-10-15 12:03] drenand opened #223 "How to define ChannelRules in Microsoft Teams channels?"
Good morning.
I would appreciate some help setting up Channel Rules for Microsoft Teams channels.

Thank you very much for any help offered!

## Expected Behavior
I want to be able to configure Channel Rules for Poshbot on a Microsoft Teams backend.

## Current Behavior
The documentation only shows how to configure channel rules for Slack, but contains no examples for Microsoft Teams.

Specificall

[2020-10-15 13:58] drenand commented on #186
+1 to this solution, finally solved this error for me.

[2021-01-06 20:22] dreznicek commented on #223
Hey, just checking on this. We are needing to do this as well. Is this a slack only feature?

[2021-01-07 09:32] drenand commented on #223
Hi.

I had to forget about this feature as I was not able to get it working, found no documentation on the issue, and got no replies.

I only used a tight control on the permissions engine, and "disciplined" the users to call all bot interactions on a dedicated channel, or through DM.

Still, if you find a solution, please let me know. Cheers!

[2021-01-07 18:18] dreznicek commented on #223
Yeah, I'm currently working on a middleware solution on PreReceive where specific commands can only be executed on specific channels, which is exposed in `$Context.Message.ToName`. I can go more granular by also incorporating `$Context.Message.FromName`. So far, preliminary tests are working.

[2021-02-18 20:02] robinmalik opened #224 "Got Stuck with instructions for Microsoft Teams"
Hi,

I've gotten to the part in the [instructions ](https://poshbot.readthedocs.io/en/latest/guides/backends/setup-teams-backend/) where I need to sideload the app, but I can't get the manifest for it.

I created the bot using the instructions labelled 'Create a Bot in Bot Framework' (at https://dev.botframework.com/bots/new) and tested it by inspecting the service bus explorer. All good.

I then

[2021-02-18 21:03] robinmalik commented on #224
Ok, I think I figured it out. The fact that it says "You'll need to create a **new bot** in Microsoft Teams and the easies way to do that is with the App Studio." was throwing me. Actually, you need to create a **new app** and link it to the created bot. I'll make a pull request to tweak the documentation :)

[2021-02-18 21:03] #224 closed

[2021-03-05 17:51] uxlapogi opened #225 "Starting new discord bot instance gives method not found: no ForEach in PSCustomObject"
## Expected Behavior
Bot instances starts without an error. :(

## Current Behavior
PoshBot.psm1:6886:
[System.Management.Automation.PSCustomObject] no method found \"ForEach\"

## Possible Solution
This is my first time starting a poshbot instance. The bot is offline in the channel.

## Steps to Reproduce (for bugs)
Used command flow:

ValBotConfig.psd1

## Context
I'm trying to get a Discord Bot

[2021-03-07 02:17] devblackops commented on #225
@uxlapogi It looks like you're getting an error [here](https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Implementations/Discord/DiscordBackend.ps1#L488) when loading the Discord users. Can you change the `LogLevel` to `Debug` in your config and share that log output?

[2021-03-09 14:41] mechaming commented on #225
I'm also having the same issue. Windows 10, powershell 5.1, powershell 7.1.3 preview.

[2021-03-09 17:58] mechaming opened #226 "Discord - cannot find user by discord handle with or without tag"
Maybe i'm doing something wrong but when updating botadmins it cannot find my account unless I use the GUID*? for my discord handle

## Expected Behavior

Adding my discord handle to admins .psd1 should allow me to be an admin with the bot

## Current Behavior

Adding my discord handle to admins .psd1 with or with # doesn't give me access BUT if I use my GUID that I read in the output it does work

[2021-03-18 16:10] mechaming commented on #226
Okay so I did a little more testing yesterday. I added my discord account to the admin group by using discord ID to give that account access to run commands. To test the username to userid function I tried adding myself to the group through the channel.

!add-groupuser -group admin -name (here I would do the @ and then pull the account I want to have access). This resulted in user not found error

[2021-04-09 16:57] clee1107 opened #227 "Threads: Is it possible to execute command in thread and have results post back to it?"
Looking to release tools to support team in Slack

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell version:

[2021-04-09 17:08] clee1107 opened #228 "Slack Threads: Is it possible to execute command in thread and have results post back to it?"
Looking to release tools to support team in Slack.  Heavily recommend group posting over DM and thus threads for discussions.

## Expected Behavior
One scenario would be discussion on user unable to login in. With in thread a tech may run a userinfo command that displays AD info (Enabled\Locked status).  Would want this to post to the thread and not channel level.

## Current Behavior
Post comment

[2021-04-09 19:13] AndrewJNet commented on #226
Seeing the same issue with a new PoshBot/Discord integration.

@mechaming could you tell me how you made the user an admin by using the ID directly?

[2021-04-09 19:41] AndrewJNet commented on #226
![image](https://user-images.githubusercontent.com/15828090/114232442-82b8b880-9941-11eb-9a0d-394d7a82fdba.png)

@mechaming you may want to try toggling this option, it worked for me. If you want to verify this works for you we can update the documentation to indicate this needs to be toggled on.

[2021-04-13 14:59] #216 closed

[2021-04-19 20:42] golubenkoff opened #229 ""CallingUserInfo":null for Teams Backend"
Hi,

Using PoshBot for Teams and Slack

For most users all is OK, but for some of them - for Teams Backend we getting
"CallingUserInfo":null for commands when trying to access/read
$global:PoshBotContext.ParsedCommand.CallingUserInfo -that is null for some reason for this users.

and Error in PoshBot.Log:
{"DataTime":"2021-04-19 20:30:08Z"
,"Class":"TeamsBackend"
,"Method":"SendTeamsMessaage"
,"Se

[2021-04-20 08:38] #229 closed

[2021-04-20 08:38] golubenkoff commented on #229
Team Limitations. Sorry

[2021-05-02 09:46] FLeven opened #230 "IRC - PoshBot Backend"
I’m looking to implement PoshBot, but I would like to use IRC as the chat platform backend. I run IRC in  "Windows OS Containers" in my Lab(s) and other disconnected environments and finally adding some demos for ChatOps would be great.

As other onprem integrations like mattermost / rocketchat are not available, this would be a very fast and easy way to use ChatOps in a pure Windows environment w

[2021-06-05 17:34] joshcorr commented on #228
I am pretty sure it already supports reading from threads. If you have Poshbot listening to keywords in a channel (I.e. !) it will even pickup keywords in threads.

Now do you want the comment to post back to the channel or to the thread where the command was executed?

[2021-06-05 22:25] clee1107 commented on #228
Have it post back to thread command was executed from.

Sent from my iPhone

[2021-07-24 19:01] robinmalik commented on #97
Given that Microsoft are hard migrating Skype For Business users over to Teams, I suspect this issue could be closed off now?

[2021-07-25 12:40] robinmalik commented on #227
@clee1107 This seems like a duplicate of #228. Can you please close it, if so?

[2021-07-25 12:56] #227 closed

[2021-08-13 01:32] eyeiodine commented on #226
I can confirm, I had this problem, and this was the fix for me as well.

[2021-09-17 23:07] cbrookins opened #235 "PoshBot Powershell Gallery \r\n+"
When installed from Powershell Gallery receive error related to formatting on Start-Poshbot command.

## Expected Behavior
Poshbot should start

## Current Behavior
Powershell throws and error about a missing method for the file PoshBot.psm1.  It singles out a line that I believe is due to the "\r\n+" included in the line.  It seems to be related to formatting of the file as that actual text does

[2021-11-08 18:12] Szeraax opened #237 "Writing emojis to Discord backend converts to ascii"
## My case
I've created an example function that takes a reaction name and sends it back as text to the channel.

## Desired Behavior
Emoji's output to utf-8 charset:
![image](https://user-images.githubusercontent.com/6242511/140795083-d58374ed-d4b0-4233-9285-a7aa2c3b6e0e.png)

## Current Behavior
Any emojis in output get converted to ascii

![image](https://user-images.githubusercontent.com/62425

[2021-11-09 17:02] clee1107 opened #238 "Scheduled Task not respecting Daylight Savings (DST)"
Have two (2) scheduled actions.  As of Sunday (Nov. 7) they are both triggering 1 hr earlier than they should.

## Expected Behavior
Tasks should trigger at 5:30AM and 11AM

## Current Behavior
Tasks are trigger at 4:30AM and 10AM

## Possible Solution

## Steps to Reproduce (for bugs)
1. Scheduled task set prior to DST
2. DST Occurs
3. Task triggers +/- hour depending on DST action

## Context
Ru

[2021-11-10 05:21] devblackops commented on #235
Thanks for the report @theRealc2c2. I noticed that you're running Windows PowerShell 5.1. I'm curious, have you tried running this in PowerShell Core (6+)? This errors seems to point to [this](https://github.com/poshbotio/PoshBot/blob/master/PoshBot/Implementations/Discord/DiscordBackend.ps1#L488) where we  wrap the .foreach() method onto a new line.

[2021-11-10 06:57] devblackops commented on #237
@Szeraax Thanks for the issue and the suggested fix. This should be fixed in da076e71f73e58cbbbffca87b39093f69ccd74b0.

Example:
<img width="280" alt="Screen Shot 2021-11-09 at 10 54 04 PM" src="https://user-images.githubusercontent.com/12634452/141064708-a7aa1dcb-1c7c-4d8a-9859-c324ca26350f.png">

[2021-11-10 07:49] devblackops commented on #238
Thanks @clee1107. Probably a bug with how PoshBot calculates the next schedule run time based on the interval, the current date, and the last time it ran.

Have you tried restarting PoshBot, and is the schedule still off by an hour?

[2021-11-10 11:59] clee1107 commented on #238
Tried to restart service no change.

Agree looks like interval issue as once used Set-Schedule command fixed them.  Guessing reset the interval to account for the hour change.

[2021-11-30 00:44] theRealc2c2 commented on #235
@devblackops  I have not tried that, but I will test it out.

[2022-01-08 04:27] phdavis opened #239 "Discord User-Agent required"
## Expected Behavior
When starting PoshBot using the DiscordBackend following the documentation expect it to connect without issue.

## Current Behavior
When using PoshBot 0.13.0 and attempting to connect to Discord using Start-PoshBot various errors are thrown.

- Unable to determine Discord gateway URL
- Response status code does not indicate success: 403 (Forbidden)

[code]

## Possible Solutio

[2022-02-05 00:32] Windos opened #241 "Discord Backend errors when connecting to server with "Stage" channel"
## Expected Behavior

Discord backed connects without error.

## Current Behavior

When connecting to a Discord server that currently has a Stage channel running, you get an error stating that it cannot find that channel type in the list of valid enumeration values.

![Example error](https://user-images.githubusercontent.com/6955786/152620374-81285a4b-a7ff-4f44-a3bf-e3e520af6eec.png)

## Possible

[2022-02-10 12:49] Dods80 opened #243 "Poshbot - Teams Implementation output wraps at around 52 chars when using New-PoshbotCardResponse -text"
New-PoshbotCardResponse -text is wrapping in the output window at around 52 characters length
## Expected Behavior

It should pad to the length set by the -width parameter when formatted via Out-String.

## Current Behavior

It is ignoring the width to format the output and wrapping at around 52 chars length.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your

[2022-02-10 17:04] Dods80 commented on #243
If I use the New-PoshBotTextResponse as a test with the same text it displays correctly but comes at the expense of losing Titles,Icons,links etc in the output. (maybe !help is using this function).

[2022-02-22 22:51] #241 closed

[2022-02-22 22:52] #239 closed

[2022-05-12 14:05] Dods80 commented on #243
It turns out that office365connector cards no longer support wide formatted output whilst being displayed in MSTeams. This is not a problem with Poshbot. I am currently working on a solution that will use adaptive cards instead.

[2022-05-13 16:18] golubenkoff opened #244 "Teams Backend stopped working"
## Expected Behavior
Connected to Teams and Members Loaded

## Current Behavior
Message":"Error authenticating to Teams"
Data":{"CommandName":"Invoke-RestMethod"
Message":"The remote server returned an error: (404) Not Found."
RequestUri":"https://webchat.botframework.com/v3/conversations/19:262ca4f4ea7a9f172c5ee99d4aa@thread.tacv2/members/"

## Possible Solution
I think it is connected with API d

[2022-05-13 18:51] golubenkoff commented on #244
Managed to fix this via:
**TeamsBackend.ps1**

**Here:**
    # Populate the list of users the team
    [void]LoadUsers()

**Replace this:**
[code]

**To this:**
[code]

Checked on my environment - with 8000+ users - all is OK.

[2022-05-13 19:09] golubenkoff commented on #244
Check Fixed Here:
https://github.com/golubenkoff/PoshBot/commit/787fafce7d45e9e186d68cc2a44338ccf9ae3119

[2022-06-02 17:42] ClarkRSD opened #245 "PoshBot not receiving webhook information in Teams console"
When setting up PoshBot with Teams, I receive no errors and the function app in Azure is reporting messages being received, but they're not showing up in the logs in PoshBot.

## Expected Behavior
Based off the Discord bot, it should show the message being received in the pipeline.

## Current Behavior
It doesn't show anything in the logs and the bot does not reply to any messages. I am seeing mes

[2022-06-04 02:32] ClarkRSD commented on #245
Small update. I'm noticing that it seems to be an issue with PoshBot as far as I can tell, because viewing the messages in the service bus explorer, I'm getting back the message I'm sending on Teams.

![image](https://user-images.githubusercontent.com/98977894/171974775-5021cef2-a09e-44b9-ab28-537603cb0f18.png)
![image](https://user-images.githubusercontent.com/98977894/171974817-e5d2864e-0da4-41d

[2022-06-04 02:33] ClarkRSD commented on #245
I'm not seeing any errors in the log file.

It ends at the starting of the backend processes.
![image](https://user-images.githubusercontent.com/98977894/171974878-8f766b05-e918-4e2e-93d9-fb98c1cff233.png)

[2022-06-05 19:15] TheBSGamer opened #246 "Discord Slash Commands Support"
Are there any plans to add support for Discord's slash command system? If there's a way to make this work for a layman like myself I'd be glad to give it a shot :)
https://discord.com/developers/docs/interactions/application-commands

It looks like a POST just needs to be made to the bot to add the functionality but I'm not experienced enough with API's to know how to do it with Discord.

## Expec

[2022-06-09 05:15] devblackops commented on #246
@TheBSGamer  PoshBot doesn't expose a web API so slash commands won't work (they POST to an endpoint provided by the bot). Slack has something called [Socket mode](https://api.slack.com/apis/connections/socket), which allows the bot to receive slash commands, but through a websocket. This means the bot doesn't need to be accessible on the internet. Socket mode is something I'd like to explore so s

[2022-06-09 05:20] devblackops commented on #244
@golubenkoff Mind doing a PR with the fix?

[2022-06-09 05:20] devblackops commented on #245
Possible related to #244

[2022-06-09 09:55] golubenkoff commented on #244
I not really GitHub guy so - check this - https://github.com/poshbotio/PoshBot/pull/247

[2022-06-09 14:03] ClarkRSD commented on #245
Okay I will wait for the fix to be added to main and test it out then. Thank you!

[2022-07-14 17:52] robinmalik commented on #243
@Dods80 Did you get anywhere with a solution? The width of the current cards renders most things we want to query for as partially unreadable.

I've written custom PS code to create adaptive cards for other purposes, but not for PoshBot. Just wondered if you'd done anything before I attempt to modify the code (although give it all looks to be written using PS classes, I'm not sure how much luck I'

[2022-07-30 14:45] golubenkoff commented on #244
https://github.com/poshbotio/PoshBot/pull/248#issue-1316775315

[2022-07-30 14:45] #244 closed, assigned to nobody

[2022-08-22 09:35] mengdahuang commented on #245
Hi, Sir

Could you help to tell us how to resolve this issue?
I've read #244 But still do not know how to fix it base on current version of PoshBot.
Thanks a lot !